/* Booking Steps */

:root {
    --box-property: 0px 0px 12px 5px rgba(0, 0, 0, 0.1);
}


.booking-page-wrapper {
    margin: 100px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.booking_container_main {
    width: 80%;
    margin: 20px auto;
    flex: 3;
}

.booking-step-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.booking-step {
    text-align: center;
    flex: 1;
    position: relative;
}

.booking-step .step-number {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    color: black;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px;
    position: relative;
    z-index: 1;
}

.booking-step .step-label {
    font-size: 16px;
    color: #555;
}

.booking-step.active .step-number {
    background-color: #b3886b;
    color: white;
}

.booking-step-line {
    position: absolute;
    top: 20px;
    left: 13%;
    right: 13%;
    height: 1px;
    background-color: rgb(182, 182, 182);
    z-index: 0;
}

/* Booking Forms */

.booking-form-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    height: 100px;
    background-color: #fff;
    box-shadow: var(--box-property);
    padding: 20px;
    margin-top: 30px;
}

.booking-form {
    display: flex;
    align-items: center;
    text-align: center;
    flex: 1;
    font-family: Arial, sans-serif;
    gap: 10px;
}

.booking-form div {
    display: flex;
    flex-direction: column;
}

.booking-form img {
    width: 20px;
    height: 20px;
}

.booking-form label {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #3d3d3d;
}

.booking-form span {
    font-size: 16px;
    color: #6c757d;
}

#user-3 {
    width: 30px;
    height: auto;
}


.booking-form-button-wrapper {
    text-align: center;
}

.booking-button-step1 {
    background-color: #b08d6f;
    color: #fff;
    border: none;
    padding: 15px 40px;
    font-size: 16px;
    cursor: pointer;
}

.booking-button-step1:hover {
    background-color: #a17b5e;
}


/* Room Information*/

.booking-room-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px;
    gap: 20px;
}

.room-image img {
    margin: 0;
    width: 300px;
    height: auto;
    border-radius: 2px;
    object-fit: cover;
}

.room-accomodation-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.room-accomodation-info h3 {
    font-size: 1.5em;
    margin: 0;
    font-weight: 400;
}

.room-accomodation-info ul {
    list-style: none;
    display: block;
    padding: 0;
    margin: 10px 0 2px;
    font-size: 1em;
    color: #333;
}

.room-accomodation-info ul li {
    margin-bottom: 5px;
}


.room-accomodation-info ul li span {
    color: #757575;
}

.room-rate-section {
    margin-top: 20px;
}

.room-rate-info {
    padding-top: 15px;
    margin-top: 15px;
}

.room-clearfix {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.room-clearfix.buttons {
    justify-content: left;
}

.room-rate-info h3 {
    margin: 0;
    font-size: 1.25em;
    font-weight: 400;
}

.room-rate-info p {
    color: #757575;
    margin: 10px 0;
    font-size: 1em;
}

.accomodation-select-room {
    background-color: #c0a080;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.accomodation-select-room:hover {
    background-color: #b08b6c;
}

.booking-view-details {
    margin-left: 20px;
    color: #757575;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease;
}

.booking-view-details:hover {
    color: #333;
}

/* Sidebar */

.booking-page-sidebar {
    flex: 1;
    background-color: #fff;
    font-family: 'Arial', sans-serif;
}

.booking-stay-wrapper {
    border-radius: 2px;
    box-shadow: var(--box-property);
    padding: 30px;
    margin-bottom: 20px;
}

.booking-stay-wrapper h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.booking-total h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 5px 0;
}

.booking-stay-wrapper ul {
    list-style: none;
    display: block;
    padding: 0;
    margin: 2px 0 2px;
    font-size: 1em;
    color: #333;
}


.booking-stay-wrapper ul li {
    font-size: 14px;
    color: #666;
}

.booking-stay-wrapper ul li span {
    margin-bottom: 5px;
    font-weight: 400;
    color: #333;
}

.divider {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 10px 0;
}

.bar-yellow {
    background-color: #a17b5e;
    display: block;
    width: 50px;
    height: 3px;
    margin-bottom: 10px;
}

.booking-total {
    display: flex;
    justify-content: space-between;
}

.booking-contact {
    border-radius: 2px;
    box-shadow: var(--box-property);
    padding: 30px;
}

.booking-contact p {
    color: #656A70;
    margin-bottom: 10px;
}

.booking-contact h3 {
    margin-bottom: 10px;
}

.contact-info {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 10px 0 10px;
    font-size: 1em;
}

.contact-info a {
    color: #333;
}

.contact-icon-image {
    width: 20px;
    height: auto;
}

.contact-list {
    display: flex;
    align-items: center;
    gap: 5px;
}


/* Booking Step 2 */


.room-select-wrapper {
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 15px 10px;
    margin-top: 30px;
}


.booking-room-img {
    margin: 0;
}

.room-input {
    display: flex;
    flex-direction: column;
}

.form-input-button-price {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.step2-roominfo {
    padding: 30px;
    border: 1px solid black;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}



/* Booking Step 2 */

.booking3-wrapper {
    margin: 100px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.booking3-container {
    width: 67%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.book3-field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.book3-field>input {
    padding: 15px 10px;
    width: 100%;
    border: 1px solid rgba(150, 150, 150, 0.5);
}

.book3-field>label {
    color: #656a70;
}

.book3-twofields {
    display: flex;
    gap: 20px;
}

.book3-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.book3-heading {
    font-weight: 400;
    font-size: 1.5rem;
}

.book3-totals {
    width: 100%;
}

.book3-pay-summ {
    font-size: 0.9rem;
}

.book3-totals-row {
    display: flex;
}

.book3-totals-row>* {
    padding: 15px 20px;
}

.white-border {
    border: 0.1px solid #dedede;
    border-right: none;
}

.white-border-nobot {
    border: 0.1px solid #dedede;
    border-right: none;
    border-bottom: none;
}

.white-border-bottom {
    border-bottom: 0.1px solid #dedede;
}


.book3-totals-row> :last-child {
    width: 40%;
}

.book3-totals-row> :first-child {
    width: 60%;
}

.brown-bg {
    background-color: #b58a60;
}

.white-fg {
    color: #fff;
}

.book3-book-btn {
    background-color: #b58a60;
    color: #fff;
    padding: 17px 20px;
    font-size: 0.9rem;
    font-weight: 500;
    width: fit-content;
    text-align: center;
    align-self: flex-end;
    cursor: pointer;
}

.booking3-aside {
    width: 33%;
}

.book3-aside-info {
    width: 100%;
    box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.book3-aside-title {
    font-weight: 400;
    font-size: 1.25rem;
}

.brown-spacer {
    height: 2px;
    background-color: #b58a60;
    width: 20%;
}

.gray-fg {
    color: #656a70;
}

.date-guest-info {
    font-size: 0.9rem;
}

.book3-room-price-info {
    display: flex;
    justify-content: space-between;
}

.book3-room-price-info * {
    font-size: 0.9rem;
}

.book3-room-info {
    display: flex;
    gap: 10px;
}

.room-aside-photo {
    object-fit: cover;
    width: 30%;
    aspect-ratio: 1 / 1;
}

.book3-remove {
    text-decoration: underline;
    font-size: 0.9rem;
    font-weight: 300;
    cursor: pointer;
}


/* Booking Step 4*/
.booking-page4-wrapper {
    margin: 100px;
}

.booking-complete-wrapper h3 {
    font-size: 35px;
    font-weight: normal;
    text-align: center;
    margin: 20px;
}

.booking-notification-wrapper {
    margin-bottom: 40px;
    padding: 25px 20px;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}

.lac-hotel-title {
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: normal;
}

.bar-yellow.space {
    margin-top: 10px;
}

.booking-confirmation-message {
    margin-bottom: 40px;
    color: #656A70;
}

.booking-checkin-checkout {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.hotel-contact-details-list {
    display: flex;
    flex-direction: column;
}

.hotel-contact-details-list li {
    margin-bottom: 20px;
}



/*CSS for Step 2 Booking */

.time-box {
    display: flex;
}

.room-input input {
    margin: 5px;
    padding: 14px 10px;
    border: 1px solid rgb(206, 202, 202);
}

.form-input-button-price button {
    color: #fff;
    background-color: #b99470;
    padding: 20px 25px;
    border: none;
}

.form-input-button-price p {
    font-size: 20px;
}


.step2-roominfo h3 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
}

.step2-roominfo ul {
    display: flex;
    flex-direction: column;
    color: #656A70;
    font-size: 15px;
    padding-bottom: 10px;
}


.step2-info {
    display: flex;
}

.step2-info img {
    object-fit: cover;
    width: 62px;
    height: 62px;
}

.info-text {
    flex-direction: column;
    font-size: 15px;
    color: #454647;
    padding: 0 30px 10px 10px;
}

.step2-info p {
    color: #454647;
}

.info-total {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 20px;
}

.continue-add {
    display: flex;
    flex-direction: column;
}

.continue-add a {
    font-size: 14px;
    padding: 15px 25px;
    margin: 20px 0 0;
    text-align: center;
}

.with-color {
    color: #fff;
    background-color: #b99470;
}

.without-color {
    color: #454647;
    border: 1px solid #c3c6c9;
    background-color: none;
}

@media screen and (max-width: 1265px) {

    .booking3-wrapper,
    .booking-page4-wrapper {
        margin: 100px 40px;
    }

}

@media screen and (max-width: 1024px) {
    .booking3-wrapper {
        margin: 80px 20px;
    }

    .booking3-container {
        width: 100%;
    }

    .booking3-aside {
        width: 100%;
    }

    .room-aside-photo {
        height: 100%;
        aspect-ratio: auto;
    }

    .book3-bed-info {
        display: flex;
        flex-direction: column;
    }

    .booking-stay-wrapper {
        margin-top: 40px;
    }

    .booking-page-wrapper {
        flex-direction: column;
        margin: 20px;
    }

    .booking_container_main {
        width: 100%;
    }

    .booking-contact {
        display: none;
    }

    .booking-form-wrapper {
        flex-direction: column;
        height: auto;
        align-items: start;
    }

    .booking-form {
        width: 100%;
        align-items: start;
        padding: 10px;
        border-bottom: 1px solid rgba(116, 114, 114, 0.29)
    }

    .booking-form label {
        font-size: 15px;
    }

    .booking-form-button-wrapper {
        width: 100%;
    }

    .booking-button-step1 {
        width: 100%;
    }

    .booking-page4-wrapper {
        margin: 100px 20px;
    }

}

@media screen and (max-width: 767px) {
    .booking-room-container {
        flex-direction: column;
        align-items: center;
    }

    .room-image img {
        width: 95vw;
    }

    .booking-page4-wrapper {
        margin: 50px 10px;
    }
}

@media screen and (max-width: 568px) {
    .booking-page-wrapper {
        margin: 20px 10px;
    }

    .room-input {
        width: 100%;
    }

    .room-input input {
        width: 100%;
    }

}