/*CSS for Step 2 Booking */

.time-box{
    display: flex;
}

.room-input input{
    margin: 5px;
    padding: 14px 10px;
    border: 1px solid rgb(206, 202, 202);
}

.form-input-button-price button{
    color: #fff;
    background-color: #b99470;
    padding: 20px 25px;
    border: none;
}

.form-input-button-price p{
    font-size: 20px;
}

/*Naulit */
.form-input-button-price{
    margin-top: 20px;
}


.step2-roominfo h3{
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
}

.step2-roominfo ul{
    display: flex;
    flex-direction: column;
    color: #656A70;
    font-size: 15px;
    padding-bottom: 10px;
}

/* Naulit */
.step2-roominfo{
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.step2-info{
    display: flex;
}

.step2-info img{
    object-fit: cover;
    width: 62px;
    height: 62px;
}

.info-text{
    flex-direction: column;
    font-size: 15px;
    color: #454647;
    padding: 0 30px 10px 10px;
}

.step2-info p{
    color: #454647;
}

.info-total{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 20px;
}

.continue-add{
    display: flex;
    flex-direction: column;
}

.continue-add a{
    font-size: 14px;
    padding: 15px 25px;
    margin: 20px 0 0;
    text-align: center;
}

.with-color{
    color: #fff;
    background-color: #b99470;
}

.without-color{
    color: #454647;
    border: 1px solid #c3c6c9;
    background-color: none;
}

/*CSS for Step 1 Booking */

@media screen and (max-width: 1024px) {

    .booking-page-wrapper {
        flex-direction: column;
        margin: 20px;
    }

    .booking_container_main{
        width: 100%;
    }

    .booking-contact{
        display: none;
    }

    .booking-form-wrapper{
        flex-direction: column;
        height: auto;
        align-items: start;
    }

    .booking-form{
        width: 100%;
        align-items: start;
        padding: 10px;
        border-bottom: 1px solid rgba(116, 114, 114, 0.29)
    }

    .booking-form label{
        font-size: 15px;
    }

    .booking-form-button-wrapper{
        width: 100%;
    }

    .booking-button-step1{
        width: 100%;
    }


}

@media screen and (max-width: 900px) {

}


@media screen and (max-width: 767px) {
    .booking-room-container{
        flex-direction: column;
        align-items: center;
    }

    .room-image img{
        width: 95vw;
    }
}

@media screen and (max-width: 568px) {
    .booking-page-wrapper{
        margin: 20px 10px;
    }
    
    .room-input{
        width: 100%;
    }

    .room-input input{
        width: 100%;
    }

}

