/* New Password */



.newpass-container{
  margin: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newpass-container input:focus,
.newpass-container input:active {
  outline: none;  
}

.newpass-container h1{
  color: #b58a60;
}

.newpass-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.newpass-form h2{
  font-weight: normal;
  font-size: 20px;
}

.newpass-form input,
.newpass-form button{
  width: 500px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid #969696;
}

.new-password-container {
  position: relative;
}

.newpass-form input{
  padding: 5px 10px;
  position: relative;
  
}

#password-toggle {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  height: 30px;
  cursor: pointer;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    height: 30px;
    cursor: pointer;
}

.newpass-form button{
  background-color: #b58a60;
  color: #fff;
  border: none;
  cursor: pointer;
}

.newpass-form button:hover{
  background-color: #b37a4f;
}

/* Pin Forgot Password */

.pin-forgot-container{
  margin: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pin-forgot-container h1{
  color: #b58a60;
}

.pin-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pin-form h2{
  font-weight: normal;
  font-size: 20px;
}

.pin-form input,
.pin-form button{
  width: 500px;
  height: 30px;
  border: 1px solid #969696;
  border-radius: 20px;

}

.pin-form button{
  background-color: rgb(181, 138, 96);
  color: #fff;
  border: none;
  cursor: pointer;
}

.pin-forgot-container input:focus,
.pin-forgot-container input:active {
  outline: none;  
}

.pin-form input{
  padding: 5px 10px;
}

/* Forgot Password */

.forgot-container{
  margin: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgot-container h1{
  color: rgb(181, 138, 96);
}

.forgot-text{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.forgot-text p{
  font-size: 20px;
}

.forgot-text input{
  padding: 5px 10px;
  border: 1px solid #969696;
  border-radius: 20px;
}

.forgot-text button{
  border: none;
  cursor: pointer;
  border-radius: 20px;
  background-color: rgb(181, 138, 96);
  color: white;
}

.forgot-text button:hover{
  background-color: #b37a4f
}

.forgot-text input,
.forgot-text button{
  height: 30px;
  width: 500px;
}

.forgot-text input:focus,
.forgot-text input:active {
  outline: none;  
}




/* Sign-up Sucessfully*/

.signup-suc-container{
  margin: 100px;
  text-align: center;
}

.signup-suc-container h1{
  color: rgb(181, 138, 96);
  font-size: 50px;
  font-style: italic;
}

.signup-suc-container > *{
  margin-bottom: 20px;
}

.signup-suc-container a{
  color: blue;
  font-weight: bolder;
  text-decoration: underline;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.brown-fg {
    color: rgb(181, 138, 96);
}

.gray-fg {
  color: rgb(150, 150, 150);
}

.red-fg {
  color: red;
}
.main-container{
  height: 800px;
  position: relative;
}

#password-container{
  position: relative;
}

#password-toggle{
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  height: 30px;
  cursor: pointer;
}

#cover-page {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

#login-form {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 20px; 
    background-color: rgba(7, 14, 19, 0.9);
    margin: 0 auto;
    width: 500px;
    padding: 70px;
}

#login-form h1{
  font-size: 33px;
}

#login-form label {
  color: #969696;
  font-size: 20px;
}

#login-form input {
  width: 100%;
  padding: 18px 70px;
  padding-left: 10px;
  background-color: rgb(35, 41, 44);
  color: #fff;
  border: 1px solid rgb(150, 150, 150);
}

#login-form button {
  background-color: rgb(181, 138, 96);
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

#login-form p {
  font-size: 18px;
}

#signup-href{
  color: rgb(181, 138, 96);
  text-decoration: underline;
}
@media screen and (max-width: 1265px) {
      
}

@media screen and (max-width: 1024px) {
    #login-form{
      padding: 60px;
    }

}



@media screen and (max-width: 767px) {
   #login-form{
    width: 75vw;
    padding: 50px;
   }

   .forgot-container{
    margin: 40px;
    }

    .forgot-text input,
    .forgot-text button{
      width: 80vw;
    }

    .signup-suc-container h1{
      font-size: 40px;
    }

    .signup-suc-container h2{
      font-size: 18px;
    }

    .signup-suc-container h3{
      font-size: 13px;
    }

    .pin-forgot-container{
      margin: 40px;
    }

    .pin-form h2{
      font-size: 18px;
    }

    .pin-form p{
      font-size: 14px;
    }

    .pin-form input,
    .pin-form button{
      width: 80vw;
    }

    .newpass-container{
      margin: 40px;
    }

    .newpass-form h2{
      font-size: 15px;
    }

    .newpass-form input, 
    .newpass-form button{
      width: 80vw;
    }


}

@media screen and (max-width: 568px) {
  #login-form{
    width: 95vw;
    padding: 35px;
   }

   .forgot-container{
    margin: 20px;
    }

    .forgot-container h1{
      font-size: 25px;
    }

    .signup-suc-container h1{
      font-size: 30px;
    }
  
  }