* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --main-bg-color: #070E13;
    --main-text-color: #FFFFF0;
    --secondary-text-color: #B58A60;
    --main-bg-transparent: rgba(7, 14, 19, 0.9);
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: var(--main-text-color);
}

li {
    list-style-type: none;
}


/* Overall header styles */
header {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    line-height: 1.5;
}

/* Top header section */
.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
    padding: 20px 0;
}


.top-header>* {
    font-size: 0.9rem;
}

.header-logo-img {
    height: 100px;
}

.header-time-info {
    text-align: end;
}

#header-weekday {
    color: var(--secondary-text-color);
    font-size: 1.5rem;
}

/* line seperator */
.seperator {
    height: 1px;
    background-color: var(--main-text-color);
}

/* Bottom header or nav */
.header-nav {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    margin: 0 100px;
}

ul {
    display: flex;
}

li {
    position: relative;
}


.nav-link {
    display: block;
    padding: 20px 60px 20px 0;
}

.nav-link::before {
    content: '';
    position: absolute;
    top: 0;
    height: 3px;
    width: 0;
    background: rgb(181, 138, 96);
    transition: .3s;
}


.nav-link:hover {
    color: var(--secondary-text-color);
}

.nav-link:hover::before {
    width: calc(100%);
}


.active-link {
    color: var(--secondary-text-color);
}

.active-link::before {
    width: calc(100%);
}

.header-book-btn {
    background-color: var(--secondary-text-color);
    color: var(--main-text-color);
    font-weight: 800;
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* for menu button */
.menu-container {
    display: none;
}

.menu-btn {
    width: 30px;
    height: auto;
    cursor: pointer;
}

/* design for welcome section or cover in index */
.welcome-section {
    position: relative;
    height: 120vh;
    width: 100%;
}


.main-cover-img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.welcome-form-container {
    position: absolute;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--main-bg-transparent);
    color: rgb(150, 150, 150);
    margin-left: 100px;
    padding: 40px;
    height: 530px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
}

.welcome-form-container > * {
    margin-bottom: 20px;
}

.welcome-form-container h4 {
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--secondary-text-color);
}

.welcome-form-input {
    font-size: 16px;
    color: rgb(150, 150, 150);
    background-color: rgb(35, 41, 44);
    border: 1px solid rgb(150, 150, 150);
    padding: 1.25rem 3.75rem;
    text-align: center;
    width: 100%;
}

#room-type {
    padding: 0;
    height: 60px;
}



#check-btn {
    position: absolute;
    width: 50px;
    height: auto;
    transform: translateX(-50%);
    left: 50%;
    bottom: 40px;
    cursor: pointer;
}

.welcome-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 50;
    color: var(--main-text-color);
    margin-right: 100px;
    text-align: end;
}

.welcome-text h2 {
    font-size: 4.7rem;
    font-weight: 400;
}

@media screen and (max-width: 1265px) {

    .top-header,
    .navigation {
        margin: 0 40px;
    }
    
    /* for welcome section in index */
    .welcome-form-container {
        margin-left: 40px;
    }

    .welcome-text {
        margin-right: 40px;
    }

}

@media screen and (max-width: 1024px) {

    .top-header,
    .navigation {
        margin: 0 20px;
    }

    /* for welcome section in index */
    .welcome-form-container {
        margin-left: 20px;
    }

    .welcome-text {
        margin-right: 20px;
    }

}

@media screen and (max-width: 900px) {

    .header-nav {
        display: block;
        background-color: #FFF;
        padding: 0;
    }

    .menu-container {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
    }

    .navigation {
        padding: 10px 0;
    }

    .nav-link {
        color: #000;
        padding: 20px 20px;
        cursor: pointer;
        border: 0.5px solid #000;
    }

    .active-link {
        color: var(--secondary-text-color);
    }

    .header-nav ul {
        flex-direction: column;
    }

    .active-link::before {
        width: 0;
    }

    .nav-link:hover::before {
        width: 0;
    }

    .header-book-btn {
        display: none;
    }

    .welcome-text {
        max-width: 400px;
    }
}

@media screen and (max-width: 767px) {

    .top-header {
        flex-direction: column;
    }

    .top-header>* {
        padding: 20px;
    }

    .header-logo-container {
        text-align: center;
    }

    .header-logo-img {
        width: 30%;
        height: auto;
    }

    .header-time-info {
        text-align: center;
    }

    .welcome-section {
        height: 90vh;
        position: relative;
    }

    .welcome-form-container {
        transform: none;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        width: 80vw;
        margin-left: 0;
        clip-path: none;
        
    }

    .room-option {
        font-size: 0.5rem;
    }

    .welcome-text {
        min-width: 100vw;
        max-width: fit-content;
        top: auto;
        bottom: 40px;
        left: 50%;
        transform: translate(-50%, 0);
        margin: 0;
        text-align: center;
    }
    

}

@media screen and (max-width: 568px) {
    .welcome-section {
        height: 120vh;
    }

    .welcome-text h2 {
        font-size: 3rem;
    }

    .welcome-section {
        height: 90vh;
    }
}




@media screen and (max-width: 480px) {
    
    .welcome-form-container {
        width: 90vw;
    }

    #check-btn {
        width: 40px;
        bottom: 20px;
    }
}

@media screen and (max-width: 540px) and (max-height: 740px) {
    .welcome-section {
        height: 120vh;
    }
}
