{% extends "layout.html" %} 
{% load static %} 

{% block title %} 
  About 
{%endblock%}

{% block content %}
<section class="title">
  <div class="title__background"></div>
  <img
    src="{% static 'images/photos/main-cover.jpg' %}"
    alt=""
    class="title__cover"
    width="100"
  />
  <h1 class="title__text">ABOUT US</h1>
</section>
<section class="about-main">
  <div class="about-text-container">
    <h1>ABOUT US</h1>
    <h2>Makes your self at home and enjoy a unique experience</h2>
    <h3>L.A.C Resort is a place where comfort and nature come together</h3>
    <p class="about-text-intro">Our goal is to provide a relaxing and unforgettable experience, whether you're enjoying the pool or unwinding in a cozy, peaceful setting. Create memories you'll treasure forever.</p>
    <p class="about-owner-text">Leo Annie Cadacio...the owner</p>
  </div>
  <div class="about-picture-container">
    <img src="{% static "images/photos/lac4.jpg" %}" class="about-picture" alt="pool" width="100">
  </div>
</section>
<section class="index-feature">
  <div class="index-feature__main-container">
    <div class="index-feature__container">
      <img
        src="{% static 'images/icons/wifi.png' %}"
        alt="free wifi"
        width="100"
      />
      <h3>Free Wifi</h3>
      <p>
        Enjoy seamless connectivity throughout your stay with complimentary
        high-speed WiFi.
      </p>
    </div>
  </div>
  <div class="index-feature__main-container">
    <div class="index-feature__container">
      <img
        src="{% static 'images/icons/atv.png' %}"
        alt="atv motor"
        width="100"
      />
      <h3>ATV Motor Rentals</h3>
      <p>
        Experience thrilling adventures at our hotel and resort with our
        exciting ATV rentals.
      </p>
    </div>
  </div>
  <div class="index-feature__main-container">
    <div class="index-feature__container">
      <img
        src="{% static 'images/icons/swimming-pool.png' %}"
        alt="swimming pool"
        width="100"
      />
      <h3>Swimming Pool</h3>
      <p>
        Immerse yourself in leisure at our hotel and resort, featuring a pool
        surrounded by lush landscapes.
      </p>
    </div>
  </div>
</section>
<section class="about-quote-section">
  <div class="about-quote">
    <p>Your <span class="secondary-text-color">Home</span> Away From Home</p>
    <a href="{% url "content:calendar" %}"><p class="quote-book-btn">BOOK NOW</p></a>
  </div>
</section>
<section class="about-event">
  <div class="about-event-container">
    <h2>OUR <span class="secondary-text-color">EVENTS</span></h2>
    <p>
      We warmly welcome all types of celebration, at our venue, be it a wedding,
      corporate event, or any other joyous occasion. Let's celebrate life's
      special moments together with us.
    </p>
    <div class="event-img-container">
      <ul class="event-img-track">
        <li class="event-img-slide current-slide">
          <img src="{% static "images/photos/events1.jpg" %}" alt="wedding" class="event-img" />
        </li>
        <li class="event-img-slide">
          <img src="{% static "images/photos/events2.jpg" %}" alt="wedding" class="event-img" />
        </li>
        <li class="event-img-slide">
          <img src="{% static "images/photos/events3.jpg" %}" alt="bday" class="event-img" />
        </li>
      </ul>
    </div>
    <div class="button-container">
      <img src="{% static 'images/icons/prev.png' %}" alt="prev" class="arrow-btn prev" />
      <img src="{% static 'images/icons/next.png' %}" alt="next" class="arrow-btn next" />
    </div>
  </div>
</section>
<script src='{% static 'js/carousel.js' %}' defer></script>
 
{% endblock %}
