{% extends "layout.html" %}
{% load static %}

{% block title %}
  Booking
{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/booking.css' %}">
  <script src="{% static 'js/read.js' %}" defer></script>
{% endblock %}

{% block content %}
    <div class="booking-page4-wrapper">
        <div class="booking-complete-wrapper"> 
            <h3>{{ first_name }}</h3>
        </div>
        <div class="booking-notification-wrapper">
            <p>A confirmation email has been sent to sample@gmail.com</p>
        </div>
        <h3 class="lac-hotel-title">
            Thank You
            <hr class="bar-yellow space">
        </h3>
        <p class="booking-confirmation-message">
            Thank you for booking, we look forward to welcoming you to our hotel soon, and in the meantime if you have any questions please do not hesitate to get in touch with us via phone or email and we’ll be happy to hear from you.
        </p>
        <h3 class="lac-hotel-title">
            Check In
            <hr class="bar-yellow space">
        </h3>
        <ul class="booking-checkin-checkout">
            <li><span>Check In:</span> 31/08/2024 at 4:00pm</li>
            <hr class="divider">
            <li><span>Check Out:</span> 01/09/2024 at 11:00am</li>
        </ul>
        <h3 class="lac-hotel-title">
            Find Us
            <hr class="bar-yellow space">
        </h3>
        <ul class="hotel-contact-details-list">
            <li>Soho Hotel Resort & Spa, 55 Columbus Circle, New York, NY</li>
            <hr class="divider">
            <li>1111-2222-3333</li>
            <hr class="divider">
            <li>hello@quitenicestuff.com</li>
        </ul>
    </div>
{% endblock %}