{% extends "layout.html" %} 
{% load static %} 
{% load humanize %}

{% block title %} 
  Booking 
{%endblock%}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/booking.css' %}">
  <script src="{% static "js/level.js" %}"></script>
{% endblock %}

{% block content %}
<div class="booking-page-wrapper">
    <div class="booking_container_main">
        <div class="booking-step-wrapper clearfix">
            <div class="booking-step active">
              <a class="step-number">1</a>
              <a class="step-label">Rooms</a>
            </div>
            <div class="booking-step">
              <a class="step-number">2</a>
              <a class="step-label">Add-Ons</a>
            </div>
            <div class="booking-step">
              <a class="step-number">3</a>
              <a class="step-label">Payment</a>
            </div>
            <div class="booking-step">
              <a class="step-number">4</a>
              <a class="step-label">Complete</a>
            </div>
            <div class="booking-step-line">
              <div style="width: 25%;"></div> 
            </div>
        </div>
        <form class="booking-form-wrapper" action="{% url 'content:search_room' %}" method="get">
            <div class="booking-form">
                <img src="{% static 'images/icons/calendar-1.png' %}" alt="">
                <div>
                    <label>Check In</label>
                    <p class="checkin-display">{{ check_in_date }}</p>
                </div>  
            </div>
            <div class="booking-form">
                <img src="{% static 'images/icons/hourglass-1.png' %}" alt="">
                <div >
                    <label>Duration</label>
                    <select name="duration" id="book-duration">
                        <option value="12" {% if duration == "12:00" %}selected{% endif %}>12</option>
                        <option value="24" {% if duration == "24:00" %}selected{% endif %}>24</option>
                    </select>
                </div>
            </div>
            <div class="booking-form">
                <img src="{% static 'images/icons/back-in-time - 1.png' %}" alt="">
                <div>
                    <label>Check-In Time</label>
                    <select name="checkin_time" id="book-checkin-time">
                        <option value="8:00" {% if checkin_time == "8:00am" %}selected{% endif %}>8:00 am</option>
						<option value="9:00" {% if checkin_time == "9:00am" %}selected{% endif %}>9:00 am</option>
						<option value="10:00" {% if checkin_time == "10:00am" %}selected{% endif %}>10:00 am</option>
						<option value="11:00" {% if checkin_time == "11:00am" %}selected{% endif %}>11:00 am</option>
						<option value="12:00" {% if checkin_time == "12:00pm" %}selected{% endif %}>12:00 pm</option>
						<option value="13:00" {% if checkin_time == "1:00pm" %}selected{% endif %}>1:00 pm</option>
						<option value="14:00" {% if checkin_time == "2:00pm" %}selected{% endif %}>2:00 pm</option>
						<option value="15:00" {% if checkin_time == "3:00pm" %}selected{% endif %}>3:00 pm</option>
						<option value="16:00" {% if checkin_time == "4:00pm" %}selected{% endif %}>4:00 pm</option>
						<option value="17:00" {% if checkin_time == "5:00pm" %}selected{% endif %}>5:00 pm</option>
						<option value="18:00" {% if checkin_time == "6:00pm" %}selected{% endif %}>6:00 pm</option>
						<option value="19:00" {% if checkin_time == "7:00pm" %}selected{% endif %}>7:00 pm</option>
						<option value="20:00" {% if checkin_time == "8:00pm" %}selected{% endif %}>8:00 pm</option>
						<option value="21:00" {% if checkin_time == "9:00pm" %}selected{% endif %}>9:00 pm</option>
						<option value="22:00" {% if checkin_time == "10:00pm" %}selected{% endif %}>10:00 pm</option>
					</select>									
                </div>
            </div>
            <div class="booking-form">
                <img src="{% static 'images/icons/user-1.png' %}" alt="">
                <div>
                    <label>Capacity</label>
                    <input name="capacity" class="input-capacity" type="text" value="{{capacity|default:''}}">
                </div>
            </div>
            <div class="booking-form-button-wrapper">
                <input type="hidden" name="check_in_date" value="{{ check_in_date}}" id="check_in_date">
                <input type="image" src="{% static 'images/icons/search-2.png' %}" alt="Search" class="img-search-btn" />
                <p>Search</p>
            </div>
        </form>
        {% for room in rooms  %}
				<form action="{% url 'content:book_3' %}" method="GET">
					<div class="booking-room-container">
						<div class="room-image">
								<a href="#"><img src="{{ room.room_type.picture.url }}" alt="Room Image"></a>
						</div>
						<div class="room-accomodation-wrapper">
								<div class="room-accomodation-info">
										<h3>{{room.room_type.room_type}}</h3>
										<ul>
												<li><span>Capacity:</span> {{ room.room_type.capacity }}pax</li>
												<li><span>Size:</span> 35sqm</li>
												<li><span>Price:</span> ₱ {{ room.room_type.price|floatformat:2|intcomma }}</li>
												<li> <h>Description:</h4></li>
												<li><p> {{room.room_type.description}} </p></li>
										</ul>
								</div>
								<div class="room-rate-section">
										<div class="room-rate-info">
												<div class="room-clearfix buttons">
														<input type="hidden" name="roomtype" value="{{ room.id }}">
														<input type="hidden" name="book_check_in_date" id="book_check_in_date" value="{{ check_in_date }}">
														<input type="hidden" name="book_duration" id="book_duration" value="{{ duration }}">
                            <input type="hidden" name="book_check_in_time" id="book_check_in_time" value="{{ checkin_time }}">
														<input type="submit" value="Select Room" class="accomodation-select-room">
												</div>
										</div>
								</div>
							</form>
          </div>
        </div>
        {% endfor %}
        
    </div>
    <div class="booking-page-sidebar atWrapper">
        <div class="booking-stay-wrapper">
            <h3>Your Stay</h3>
            <hr class="bar-yellow">
            <ul>
                <li><span>Dates:</span> Aug 17, 2024 - Aug 18, 2024</li>
                <br>
                <li><span>Guests:</span> 2 Adults, 2 Children</li>
                <br>
            </ul>
            <hr class="divider">
            <div class="booking-total">
                <h4>Total</h4>
                <h4>$0</h4>
            </div>
        </div>
        <div class="booking-contact">
            <h3>Need Assistance?</h3>
            <hr class="bar-yellow">
            <p>Our dedicated reservations team is ready to help you around the clock.</p>
            <ul class="contact-info">
                <li class="contact-list"><img class="contact-icon-image" src="{% static 'images/icons/location-pin-1.png' %}" alt=""><a href="#">Guinyangan, Quezon</a></li>
                <li class="contact-list"><img class="contact-icon-image" src="{% static 'images/icons/phone-1.png' %}" alt=""><a href="#">1111-2222-3333</a></li>
                <li class="contact-list"><img class="contact-icon-image" src="{% static 'images/icons/email-1.png' %}" alt=""><a href="#">lacresort@gmail.com</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block add_script %}
	<script>
        function formatDate(dateString) {
            const date = new Date(dateString);
            const monthOptions = { month: 'short' };
            const month = date.toLocaleDateString('en-US', monthOptions).replace('.', ''); // Remove the period
            const day = date.getDate();
            const year = date.getFullYear();
            return `${month}. ${day}, ${year}`;
        }

		const urlParams = new URLSearchParams(window.location.search);

		const checkInDate = urlParams.get('check_in');

        let formattedCheckInDate = '';
    if (checkInDate) {
        formattedCheckInDate = formatDate(checkInDate);
    }
		
    const checkInInput = document.querySelector("#check_in_date")
    if (checkInInput.value.trim() === "") {
			checkInInput.value = formattedCheckInDate
		}
    console.log("check" + " " + checkInInput.value)
		const checkInDisplay = document.querySelector(".checkin-display");
		if (checkInDisplay.textContent.trim() === "") {
			checkInDisplay.textContent = formattedCheckInDate;
	}



    const durationInput = document.getElementById("book_duration")
    const checkInTimeInput = document.getElementById("book_check_in_time")

    const checkInDateText = document.querySelector(".checkin-display").textContent
    const duration = document.getElementById("book-duration").value
    const checkInTime = document.getElementById("book-checkin-time").value

    durationInput.value = duration
    checkInTimeInput.value = checkInTime
		
    console.log(checkInDateInput)

		document.querySelectorAll(".accomodation-select-room").forEach(button => {
			button.addEventListener("click", function(event) {
				event.preventDefault();

				const form = this.closest("form");
	
	

				form.submit();
			});
		});
	</script>
{% endblock  %}
