{% extends 'layout.html' %} 
{% load static %} 
{% load humanize %} 
{% block title%} Booking {% endblock %} 

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/booking.css' %}" />
{% endblock %} 

{% block content %}
<form action="{% url 'content:book_3' %}" method="POST">
  <div class="booking3-wrapper">
    {% csrf_token %}
    <div class="booking3-container">
      <div class="booking-step-wrapper clearfix">
        <div class="booking-step active">
          <a class="step-number">1</a>
          <a class="step-label">Rooms</a>
        </div>
        <div class="booking-step active">
          <a class="step-number">2</a>
          <a class="step-label">Add-Ons</a>
        </div>
        <div class="booking-step active">
          <a class="step-number">3</a>
          <a class="step-label">Payment</a>
        </div>
        <div class="booking-step">
          <a class="step-number">4</a>
          <a class="step-label">Complete</a>
        </div>
        <div class="booking-step-line">
          <div style="width: 25%"></div>
        </div>
      </div>
      <div class="book3-form">
        <h2 class="book3-heading">Billing Details</h2>
        <div class="book3-twofields">
          <div class="book3-field">
            <label for="book3-fname">First Name:</label>
            <input type="text" name="first_name" value="{{ form.first_name.value|default:'' }}">
            {% if form.first_name.errors %}
              <ul class="errorlist">
                {% for error in form.first_name.errors %}
                  <li class="error-msg">{{ error }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
          <div class="book3-field">
            <label for="book3-lname">Last Name:</label>
            <input type="text" id="book3-lname" name="last_name" value="{{ form.last_name.value|default:'' }}"/>
            {% if form.last_name.errors %}
              <ul class="errorlist">
                {% for error in form.last_name.errors %}
                  <li class="error-msg">{{ error }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
        <div class="book3-twofields">
          <div class="book3-field">
            <label for="book3-address">Address:</label>
            <input type="text" id="book3-address" name="address" value="{{ form.address.value|default:'' }}"/>
            {% if form.address.errors %}
              <ul class="errorlist">
                {% for error in form.address.errors %}
                  <li class="error-msg">{{ error }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
          <div class="book3-field">
            <label for="book3-dob">Date of Birth:</label>
            <input type="text" id="book3-dob" name="date_of_birth" value="{{ form.date_of_birth.value |default:'' }}"/>
            {% if form.date_of_birth.errors %}
              <ul class="errorlist">
                {% for error in form.date_of_birth.errors %}
                  <li class="error-msg">{{ error }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
        <div class="book3-twofields">
          <div class="book3-field">
            <label for="book3-phone">Phone:</label>
            <input type="text" id="book3-phone" name="phone" value="{{ form.phone.value |default:''}}"/>
            {% if form.phone.errors %}
              <ul class="errorlist">
                {% for error in form.phone.errors %}
                  <li class="error-msg">{{ error }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
          <div class="book3-field">
            <label for="book3-phone">Email:</label>
            <input type="text" id="book3-email" value="{{ email }}" readonly />
          </div>
        </div>
      </div>
      <div class="book3-pay-summ">
        <h2 class="book3-heading">Payment Summary</h2>
        <div class="book3-totals">
          <div class="book3-totals-row">
            <p class="brown-bg white-fg">Payment</p>
            <p class="brown-bg white-fg">Subtotal</p>
          </div>
          <div class="book3-totals-row">
            <p>Reservation</p>
            <p class="white-border-nobot">$1999</p>
          </div>
          <div class="book3-totals-row">
            <p class="brown-bg white-fg white-border-bottom">SubTotal</p>
            <p class="white-border">$1000</p>
          </div>
          <div class="book3-totals-row">
            <p class="brown-bg white-fg">Total</p>
            <p class="white-border-bottom">$9000</p>
          </div>
        </div>
      </div>
      <input type="hidden" name="check_in_date" value="{{ check_in_date }}">
      <input type="hidden" name="check_out_date" value="{{ check_out_date }}">
      <input type="hidden" name="room_id" value="{{ room.id }}">
      <input type="hidden" name="total_amount" value="{{ room.price|floatformat:2|intcomma }}">
      <input type="hidden" name="duration" value="{{ duration }}">
      <input type="hidden" name="check_in_time" value="{{ check_in_time }}">
      <button class="button-sub-3">SUBMIT</button>
    </div>

    <div class="booking3-aside atWrapper">
      <div class="book3-aside-info">
        <h2 class="book3-aside-title">Room 1 of 1</h2>
        <div class="brown-spacer"></div>
        <div class="date-guest-info">
          <p>
            Date: <span class="gray-fg">{{ check_in_date }} - {{ check_out_date }}</span>
          </p>
          <p>
            Time: <span class="gray-fg">{{ check_in_time }} - {{ check_out_time }}</span>
          </p>
        </div>
        <div class="book3-room-price-info">
          <img
            src="{% static 'images/photos/lac2.jpg' %}"
            alt="room"
            width="100"
            class="room-aside-photo"
          />
          <div class="book3-purchase-info">
            <div class="book3-bed-info">
              <p class="gray-fg">Room:</p>
              <p class="gray-fg">Total:</p>
            </div>
            <div class="book3-info-container">
              <p class="book3-info">{{room.room_type}}</p>
              <p class="book3-info">
                ₱ {{ room.price|floatformat:2|intcomma }}
              </p>
            </div>
          </div>
        </div>
        <p class="book3-remove">Remove</p>
      </div>
    </div>
  </div>
</form>
{% endblock %} {% block add_script %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    function handleResize() {
      window.addEventListener("resize", function () {
        const sidebar = document.querySelector(".booking3-aside");
        const bookingContainer = document.querySelector(".booking3-container");
        const bookingWrapper = document.querySelector(".booking3-wrapper");
        if (
          window.innerWidth < 1024 &&
          sidebar.classList.contains("atWrapper")
        ) {
          putAbove();
        } else if (
          window.innerWidth > 1024 &&
          sidebar.classList.contains("atContainer")
        ) {
          putBelow();
        }
      });
    }

    function putAbove() {
      const sidebar = document.querySelector(".booking3-aside");
      const bookingContainer = document.querySelector(".booking3-container");
      const bookingWrapper = document.querySelector(".booking3-wrapper");
      console.log("less than 1024");
      sidebar.classList.add("atContainer");
      sidebar.classList.remove("atWrapper");
      bookingWrapper.removeChild(sidebar);
      bookingContainer.appendChild(sidebar);
      bookingContainer.insertBefore(sidebar, bookingContainer.children[1]);
    }

    function putBelow() {
      const sidebar = document.querySelector(".booking3-aside");
      const bookingContainer = document.querySelector(".booking3-container");
      const bookingWrapper = document.querySelector(".booking3-wrapper");
      console.log("less than 1024");
      sidebar.classList.add("atWrapper");
      sidebar.classList.remove("atContainer");
      bookingContainer.removeChild(sidebar);
      bookingWrapper.appendChild(sidebar);
    }

    function initialLoading() {
      const sidebar = document.querySelector(".booking3-aside");
      if (window.innerWidth < 1024 && sidebar.classList.contains("atWrapper")) {
        putAbove();
      }
    }

    initialLoading();
    handleResize();
  });
</script>
{% endblock %}
