{% extends "layout.html" %}
{% load static %}
{% load humanize %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/booking.css' %}">
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    
    var fullyBookedDates = {{ fullBookDates|safe }}

    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      contentHeight: 'auto',
      aspectRatio: 1.8,
      selectable: true,
      longPressDelay: 1,
      selectMirror: false,
      validRange: {
        start: new Date().toISOString().split('T')[0], // Today's date
        end: new Date(new Date().setDate(new Date().getDate() + 30)).toISOString().split('T')[0] // 30 days from now
      },
      events: fullyBookedDates.map(date => ({
        start: date,
        allDay: true,
        display: 'background', // Background event to show a visual marker
        title: 'Fully Booked',
        className: 'fully-booked' // Custom class for styling
      })),
      selectAllow: function(selectInfo) {
        // Prevent selection if the date is in the fully booked list
        return !fullyBookedDates.includes(selectInfo.startStr);
      },
      select: function(info) {
        if (!window.checkInDate) {
          window.checkInDate = info.startStr;
          console.log('Check-in Date:', window.checkInDate);
        }
        if (window.checkInDate) {
          window.location.href = '{% url "content:book_1" %}?check_in=' + encodeURIComponent(window.checkInDate);
        }
        window.checkInDate = null;
      },
    });
    calendar.render();
  });
</script>
<style>
  .fc-event.fc-bg, .fc-daygrid-event.fc-daygrid-block-event.fc-event {
    opacity: 1;
  }

  .fc .fc-bg-event{
    background-color: #000;
  }
  .fc-event.fc-bg.fully-booked {
    border: 1px solid red; /* Optional border */
  }
  .fc-daygrid-day.fc-day-future .fully-booked {
    color: #fff; /* Red text for Fully Booked label */
    font-weight: bold;
  }
</style>
{% endblock %}

{% block title %}
    Rooms 
{% endblock %} 

{% block content %}
  <div class="calendar-container">
    <div id="calendar"></div>
  </div>
{% endblock %}
