<!DOCTYPE html>
<html>
  <head>
    <title>Contact Request</title>
  </head>
  <body>
    <h2>Contact Us Form Submission</h2>
    <hr />
    <h3>Sender Details:</h3>
    <ul>
      <li>
        <p><strong>Name:</strong> {{ name }}</p>
      </li>
      <li>
        <p><strong>Email:</strong> {{ email }}</p>
      </li>
      <li>
        <p><strong>Subject:</strong> {{ subject }}</p>
      </li>
    </ul>
    <hr />
    <h3><strong>Message:</strong></h3>
    <p>{{ message }}</p>
  </body>
</html>
