{% extends "layout.html" %}
{% load static %} 
{% block title %} 
  Home
{%endblock%} 

{% block content %}

<section class="welcome-section atAbove">
  <img
    src="{% static 'images/photos/main-cover.jpg' %}"
    alt="cover-page"
    class="main-cover-img"
  />
  <form action="" class="welcome-form-container">
    <h4>Booking</h4>
    <label for="check-in">Arrival Date</label><br />
    <input
      type="text"
      name="check-in "
      id="check-in"
      class="input-date"
      readonly
      value="yyyy/mm/dd"
    /><br />
    <label for="check-out">Departure Date</label><br />
    <input
      type="text"
      name="check-out"
      id="check-out"
      class="input-date"
      readonly
      value="yyyy/mm/dd"
    />
    <div class="person-room-container">
      <div class="index-room-container">
        <label for="room-type">Room</label><br />
        <select name="room-type" id="room-type"></select>
      </div>
    </div>
    <a href=""
      ><img
        src="{% static 'images/icons/check.png' %}"
        alt="checkbutton"
        id="check-btn"
      />
    </a>
  </form>
    <div class="welcome-text">
      <p class="welcome-small-text">Welcome to</p>
      <h1>L.A.C Resort</h1>
      <p class="welcome-xsmall-text">A place to experience and enjoy the life.</p>
    </div>
</section>
<section class="index-room">
  <div class="index-room__text">
    <div class="index-room__title">
      <h1>
        PICK A ROOM THAT
        <span class="secondary-text-color">BEST SUITS</span> YOUR INTEREST
      </h1>
    </div>
    <div class="index-room__seperator"></div>
    <div class="index-room__intro">
      <p>
        L.A.C resort offers 4 bedrooms, a swimming pool, cottages, and an
        E-house, ensuring a delightful and relaxing experience for the whole
        family and friends.
      </p>
    </div>
    <div class="index-room__link">
      <a href="{% url 'content:rooms' %}" class="index-room__btn"
        >VIEW ROOMS...</a
      >
    </div>
  </div>
  <div class="index-room__content">
    <div class="index-room__room-info">
      <h2 class="secondary-text-color">E-House Cabin</h2>
      <div class="seperator"></div>
      <p>
        The E house cabin provides an exclusive space distinct from the main
        hotel. It features complete amenities such as air conditioning, a
        spacious king-size bed, a private bathroom, television, and
        complimentary Wi-Fi. Additionally, guests can indulge in the luxury of a
        personal pool for their relaxation and enjoyment.
      </p>
      <p class="index-room__capacity">Max Capacity: 8 people</p>
      <p class="index-room__button"><a href="">BOOK NOW</a></p>
    </div>
    <div class="index-room__image-container">
      <img
        class="index-room__cover"
        src="{% static 'images/photos/ehouse-room.jpg' %}"
        alt="E-House"
        width="400"
      />
      <p class="index-room__price">P10,000 / day</p>
    </div>
  </div>
</section>
<section class="index-feature">
  <div class="index-feature__main-container">
    <div class="index-feature__container">
    <img 
      src="{% static 'images/icons/wifi.png' %}" 
      alt="free wifi"
      width="100"
    />
    <h3>Free Wifi</h3>
    <p>Enjoy seamless connectivity throughout your stay with complimentary high-speed WiFi.</p>
    </div>
  </div>
  <div class="index-feature__main-container">
    <div class="index-feature__container">
    <img 
      src="{% static 'images/icons/atv.png' %}" 
      alt="atv motor"
      width="100"
    />
    <h3>ATV Motor</h3>
    <p>Experience thrilling adventures at our hotel and resort with our exciting ATV rentals.</p>
    </div>
  </div>
  <div class="index-feature__main-container">
    <div class="index-feature__container">
    <img 
      src="{% static 'images/icons/swimming-pool.png' %}" 
      alt="swimming pool"
      width="100"
    />
    <h3>Swimming Pool</h3>
    <p>Immerse yourself in leisure at our hotel and resort, featuring a pool surrounded by lush landscapes.</p>
    </div>
  </div>
</section>
<section class="index-intro">
  <div class="index-intro__container">
    <div class="index-intro__text">
      <h2>L.A.C Resort & Leisure Farm</h2>
      <p>Come and visit one of the captivating places in the town of Guinayangan the L.A.C Resort and Leisure Farm located in Barangay Himbubulo Weste, Guinayangan, Quezon. Appreciate the L.A.C Resort and Leisure Farm, owned by Mrs. Analiza and Mr. Leonardo Cadacio, which boasts a spacious area of 780sqm. It includes 4 bedrooms, a swimming pool, cottages, and an E-house, ensuring a delightful and relaxing experience for the whole family and friends.</p>
    </div>
    <img 
      src="{% static 'images/photos/lac4.jpg' %}" 
      alt="lac-resort"
      class="intro-img"
      width="100"
    />
    <img 
      src="{% static 'images/icons/logo1lac.png' %}" 
      alt="lac-logo"
      class="intro-logo"
      width="100"
    />
  </div>
</section>
<section class="index-service">
  <img 
    src="{% static 'images/icons/hut.png' %}" 
    alt="service" 
    class="index-service__icon"
    width="100"
  />
  <h2>OUR SPECIAL <span class="secondary-text-color">SERVICES</span></h2>
  <div class="index-service__img-container">
    <img 
      src="{% static 'images/photos/lac5.jpg' %}" 
      alt="cottage" 
      class="index-service__img"
      width="100"
    />
    <img 
      src="{% static 'images/photos/lac6.jpg' %}" 
      alt="pool" 
      class="index-service__img"
      width="100"
    />
    <img 
      src="{% static 'images/photos/lac7.jpg' %}" 
      alt="e-house" 
      class="index-service__img"
      width="100"
    />
  </div>
  <p><a href="{% url 'content:service' %}" class="index-service__btn">View All</a></p>
</section>
<section class="index-quote">
  <div class="index-quote__container">
    <h2>"ONCE A YEAR GO SOMEPLACE YOU HAVE <span class="secondary-text-color">NEVER BEEN BEFORE"</span></h2>
  </div>
</section>

{% endblock %}

{% block add_script %}
<script>
  console.log("sdlf")
  function handleResize() {
    window.addEventListener("resize", function () {
      const section = document.querySelector(".welcome-section");
      const bookingContainer = document.querySelector(".welcome-form-container");
      const welcomeText = document.querySelector(".welcome-text");
      if (
        window.innerWidth < 767 &&
        section.classList.contains("atBelow")
      ) {
        putAbove();
      } else if (
        window.innerWidth > 767 &&
        section.classList.contains("atAbove")
      ) {
        putBelow();
      }
    });
  }

  function putBelow() {
    console.log("putbelow")
    const section = document.querySelector(".welcome-section");
    const bookingContainer = document.querySelector(".welcome-form-container");
    const welcomeText = document.querySelector(".welcome-text");
    section.classList.add("atBelow");
    section.classList.remove("atAbove");
    section.removeChild(bookingContainer);
    section.removeChild(welcomeText);
    section.appendChild(bookingContainer);
    section.appendChild(welcomeText)
  }

  function putAbove() {
    console.log("putAbove")
    const section = document.querySelector(".welcome-section");
    const bookingContainer = document.querySelector(".welcome-form-container");
    const welcomeText = document.querySelector(".welcome-text");
    welcomeText.style.margin = "80px auto";
    section.classList.add("atAbove");
    section.classList.remove("atBelow");
    section.removeChild(bookingContainer);
    section.removeChild(welcomeText);
    section.appendChild(welcomeText);
    section.appendChild(bookingContainer)
  }

  handleResize()

</script>

{% endblock add_script %}
