{% extends "layout.html" %} 
{% load static %} 

{% block title %} 
  Terms and Conditions 
{%endblock%}

{% block content %}

<div class="terms-condition-container">
    <h1>Privacy Policy</h1>
    <div class="terms-condition">
        <h3>1. Introduction</h3>
        <p><b>1.1</b> This Privacy Policy explains how we collect, use, and protect your personal data when you use the L.A.C. Resort website.</p>
    </div>
    <div class="terms-condition">
        <h3>2. Account Registration</h3>
        <p><b>2.1</b> We collect personal data during registration and when you make a booking. This may include your name, address, contact information, payment details, and booking preferences.</p>
    </div>
    <div class="terms-condition">
        <h3>3. Use of Data</h3>
        <p><b>3.1</b> Your data is used to process bookings, improve services, and create insights through data visualization. We analyze this data for resort management purposes.</p>
        <p><b>3.2</b> We may also use your contact details to send you promotional offers or updates about the resort.</p>
    </div>
    <div class="terms-condition">
        <h3>4. Data Sharing</h3>
        <p><b>4.1</b> We do not sell or rent your personal data to third parties.</p>
        <p><b>4.2</b> We may share data with service providers (e.g., payment processors like PayPal) for transaction processing and other operational purposes.</p>
    </div>
    <div class="terms-condition">
        <h3>5. Data Retention</h3>
        <p><b>5.1</b> We retain your data as long as necessary for business, legal, and operational purposes.</p>
        <p><b>5.2</b> You can request to delete or update your data by contacting us.</p>
    </div>
    <div class="terms-condition">
        <h3>6. Security</h3>
        <p><b>6.1</b> We implement reasonable security measures to protect your personal data, but no method of transmission over the internet is 100% secure.</p>
    </div>
    <div class="terms-condition">
        <h3>7. Your Rights</h3>
        <p><b>7.1</b> Depending on your location, you may have rights to access, update, or delete your personal data.</p>
        <p><b>7.2</b> If you wish to exercise these rights, contact us through the details provided on the website.</p>
    </div>
    <div class="terms-condition">
        <h3>8. Changes to This Privacy Policy</h3>
        <p><b>8.1</b> We may update this Privacy Policy from time to time. Any changes will be posted on this page, and the date of the latest update will be indicated at the bottom of the policy.</p>
    </div>
    <div class="terms-condition">
        <h3>10. Contact Information</h3>
        <p><b>9.1</b> For any privacy-related inquiries or concerns, please contact us at lacresortfarm@gmail.com</p>
    </div>


</div>

 
{% endblock %}
