{% extends "layout.html" %} 
{% load static %} 

{% block title %} 
  About 
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static "css/play.css" %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
  
    var currentDate = new Date();
    var currentTime = currentDate.getHours();
    var startDate = currentTime >= 22 ? new Date(currentDate.setDate(currentDate.getDate() + 1)) : currentDate;
  
    var validRangeStart = startDate.toLocaleDateString('en-CA');
    var validRangeEnd = new Date(new Date().setDate(new Date().getDate() + 180)).toLocaleDateString('en-CA'); // 180 days from now
  
    function handleSelectDate(checkinDate) {
      document.getElementById("selected_date").value = checkinDate;
      getAvailableTimes(checkinDate, {{room.id}});

    }
  
    function setDuration(checkinDate, roomType, checkinTime) {
      console.log(checkinDate, roomType, checkinTime);
    
      fetch(
        `{% url 'content:fetch_duration' %}?date=${encodeURIComponent(checkinDate)}&roomType=${encodeURIComponent(roomType)}&checkinTime=${encodeURIComponent(checkinTime)}`
      )
      .then(response => response.json())
      .then(data => {
        console.log(data);
    
        const durationSelect = document.getElementById('duration');
        
        // Clear the current options
        durationSelect.innerHTML = '';
    
        // If there are available durations, add them to the dropdown
        if (data.available_duration && Object.keys(data.available_duration).length > 0) {
          // Create a default "Please Select" option
    
          // Loop through available durations and add them to the dropdown
          for (const [durationLabel, durationValue] of Object.entries(data.available_duration)) {
            const option = document.createElement("option");
            option.value = durationValue;
            option.textContent = durationLabel;
            durationSelect.appendChild(option);
          }
        } else {
          // If no available durations, show a message
          const noDurationOption = document.createElement("option");
          noDurationOption.value = "";
          noDurationOption.textContent = "No available durations";
          durationSelect.appendChild(noDurationOption);
        }
      })
      .catch(error => {
        console.error("Error fetching room data:", error);
      });
    }
    
    
  
    function getAvailableTimes(checkInDate, roomType) {
      fetch(
        `{% url 'content:fetch_available_times' %}?date=${encodeURIComponent(checkInDate)}&roomType=${encodeURIComponent(roomType)}`
      )
        .then(response => response.json())
        .then(data => {
          console.log(data);
    
          const checkinTimeSelect = document.getElementById("checkin_time");
    
          // Clear current options
          checkinTimeSelect.innerHTML = ``;
    
          if (data.available_times && Object.keys(data.available_times).length > 0) {
            for (const [readableTime, actualTime] of Object.entries(data.available_times)) {
              const option = document.createElement("option");
              option.value = actualTime;
              option.textContent = readableTime;
              checkinTimeSelect.appendChild(option);
            }
            
            // Trigger `setDuration` after dropdown is populated
            checkinTimeSelect.value = Object.values(data.available_times)[0]; // Set the first option by default
            checkinTimeSelect.dispatchEvent(new Event('change'));
          } else {
            console.log("No available times found.");
          }
        })
        .catch(error => console.error("Error fetching room data:", error));
    }
    
  
    const checkinTimeElement = document.getElementById("checkin_time");
    checkinTimeElement.addEventListener("change", function() {
      const checkinTime = this.value;
      const checkinDate = document.getElementById('selected_date').value
      setDuration(checkinDate, {{room.id}}, checkinTime)
    });
  
    const selectedDateInput = document.getElementById('selected_date');
    selectedDateInput.addEventListener('change', function() {
      const selectedDate = this.value;
      getAvailableTimes(selectedDate, {{room.id}});
    });
  
    var unavailableDates = {{ unavailable_dates|safe }}.map(function(dateStr) {
      var date = new Date(dateStr);
      return date.toLocaleDateString('en-CA');
    });
  
    function generateAvailableDates(start, end) {
      var availableDates = [];
      var current = new Date(start);
  
      while (current <= new Date(end)) {
        var dateStr = current.toISOString().split('T')[0];
        if (!unavailableDates.includes(dateStr)) {
          availableDates.push(dateStr);
        }
        current.setDate(current.getDate() + 1);
      }
  
      return availableDates;
    }
  
    var availableDates = generateAvailableDates(validRangeStart, validRangeEnd);
  
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      contentHeight: 'auto',
      aspectRatio: 1.8,
      selectable: true,
      longPressDelay: 0.1,
      validRange: {
        start: validRangeStart,
        end: validRangeEnd
      },
      dateClick: function(info) {
        var selectedDate = info.dateStr;
  
        if (unavailableDates.includes(selectedDate)) {
          return;
        }
  
        handleSelectDate(selectedDate);
  
        var previousSelectedTextDiv = document.querySelector('.selected-text');
        if (previousSelectedTextDiv) {
          previousSelectedTextDiv.remove();
        }
  
        var selectedText = "Selected";
        var dateCell = info.dayEl.querySelector('.fc-daygrid-day-number');
        if (dateCell) {
          var selectedTextDiv = document.createElement('div');
          selectedTextDiv.classList.add('selected-text');
          selectedTextDiv.textContent = selectedText;
          dateCell.appendChild(selectedTextDiv);
        }
      },
      events: [
        ...unavailableDates.map(date => ({
          start: date,
          allDay: true,
          display: 'background',
          title: 'Not Available',
          className: 'na-date'
        })),
        ...availableDates.map(date => ({
          start: date,
          allDay: true,
          display: 'background',
          title: 'Available',
          className: 'available'
        }))
      ],
      eventDidMount: function(info) {
        if (info.event.title === "Not Available") {
          info.el.style.backgroundColor = 'rgb(255, 0, 21)';
          info.el.style.color = '#fff';
        } else if (info.event.title === "Available") {
          info.el.style.color = '#000';
          info.el.style.fontWeight = 'bold';
        }
      },
      selectAllow: function(selectInfo) {
        return !unavailableDates.includes(selectInfo.startStr);
      },
    });
  
    calendar.render();
  });
  
</script>





<style>
  .fc-event.fc-bg, .fc-daygrid-event.fc-daygrid-block-event.fc-event {
    opacity: 1;
  }
</style>
{% endblock %}

{% block content %}

<div class="play_container">
    <div class="btn-image-back">
        <a href="{% url "content:rooms" %}"><img src="{% static 'images/icons/left-arrow.png' %}" alt="back icon" class="back-step-form" /></a>
    </div>
    <div>
        <h1 calss="title-rooms-type">{{room.room_type}}</h1>
    </div>
    <div class="room-view-info-container">
        <div class='carousel-container'>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  {% for image in images %}
                    <div class="swiper-slide"><img src="{{image}}" alt=""></div>
                  {% endfor %}
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="room-info-reserve">
            <div class="booking-contact">
                <h3>Need Assistance?</h3>
                <hr class="bar-yellow">
                <p>Our dedicated reservations team is ready to help you around the clock.</p>
                <ul class="contact-info">
                    <li class="contact-list"><img class="contact-icon-image" src="{% static 'images/icons/location-pin-1.png' %}" alt=""><a href="#">Guinyangan, Quezon</a></li>
                    <li class="contact-list"><img class="contact-icon-image" src="{% static 'images/icons/phone-1.png' %}" alt=""><a href="#">0939-819-4499</a></li>
                    <li class="contact-list"><img class="contact-icon-image" src="{% static 'images/icons/email-1.png' %}" alt=""><a href="#">lacresort@gmail.com</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="r-detail-sec-container">
        <div class="room-card">
            <img src="{% static "images/icons/people.png" %}" alt="">
            <p>Capacity: {{room.capacity}}pax</p>
        </div>
        {% for amenity in amenities %}
        <div class="room-card">
            <img src="{{amenity.icon.url}}" alt="">
            <p>{{amenity.name}}</p>
        </div>
        {% endfor %}
    </div>

    <div class="second-view-info-room">
        <div>
            <h4>Details</h4>
            <p>{{room.description}}</p>
        </div>  
    </div>
    <div class="third-column-rdetail">
      <div class="calendar-container">
        <div id="calendar"></div>
      </div>
      <div class="filter-room-container">
        <form class="price-book-button" action="{% url "content:book_3" %}">
          {% csrf_token %}
          <input type="hidden" name="roomtype" value="{{room.id}}" required>
          <div class="input-filter-container">
            <p>Selected Date:</p>
            <input type="text" name="book_check_in_date" id="selected_date" class="input-filter" readonly>
          </div>
          <div class="input-filter-container">
            <label for="checkin_time">Check In Time:</label>
            <select name="book_check_in_time" id="checkin_time" required>
              <option value="">---Select Check In Date First---</option>
            </select>
          </div>
          <div class="input-filter-container">
            <label for="duration">Duration:</label>
            <select name="book_duration" id="duration" required>
              <option value="">---Select Check In Time First---</option>
            </select>
          </div>
        
        
          <p>Room: {{room.room_type}}</p>
          <p>Price: ₱{{room.price}} / 12hrs</p>
          <button type="submit">Reserve</button>
        </form>
        <p class="booking-note">Note: You must be logged in to reserve this booking.</p>
      </div>


      </div>


    </div>
</div>

{% endblock %}

{% block add_script %}
 <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      pagination: {
        el: ".swiper-pagination",
        type: "fraction",
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>
{% endblock  %}
