{% extends "layout.html" %} 
{% load static %} 

{% block title %} 
  About 
{%endblock%}

{% block extra_head %}
<link rel="stylesheet" href="{% static "css/play.css" %}">
{% endblock %}

{% block content %}

<div class="play_container">
    <div class="btn-image-back">
        <a href="{% url "content:rooms" %}"><img src="{% static 'images/icons/left-arrow.png' %}" alt="back icon" class="back-step-form" /></a>
        
      </div>
    <div>
        <h1 calss="title-rooms-type">{{room.room_type}}</h1>
    </div>
    <div class="room-view-info-container">
        <div class="room-view-info-img">
            <img src="{% static "{{ roomtype.picture.url}}" %}" alt="">
        </div>
        <div class="room-info-reserve">
            <div class="room-card">
                <img src="{% static "images/icons/people.png" %}" alt="">
                <p>Capacity: {{room.capacity}}pax</p>
            </div>
            {% if room.room_type == '1st floor' %}
            <div class="room-card">
                <img src="{% static "images/icons/double-bed.png" %}" alt="">
                <p>King-size-bed</p> 
            </div>
            {% elif room.room_type == '2nd floor' %}
            <div class="room-card">
                <img src="{% static "images/icons/double-bed.png" %}" alt="">
                <p>Double-deck bed</p> 
            </div>
            {% elif room.room_type == '3rd floor' %}
            <div class="room-card">
                <img src="{% static "images/icons/double-bed.png" %}" alt="">
                <p>Queen-size-bed</p> 
            </div>
            {% elif room.room_type == 'E-house' %}
            <div class="room-card">
                <img src="{% static "images/icons/double-bed.png" %}" alt="">
                <p>King-size-bed</p> 
            </div>
            {% elif room.room_type == 'Cottage' %}
            <div class="room-card">
                <img src="{% static "images/icons/bbq.png" %}" alt="">
                <p>Grill station</p> 
            </div>
            {% endif %}
            
            
            {% if room.room_type != 'Cottage' %}
            <div class="room-card">
                <img src="{% static "images/icons/shower.png" %}" alt="">
                <p>Private bathroom</p>
            </div>
            <div class="room-card">
                <img src="{% static "images/icons/air.png" %}" alt="">
                <p>Air Conditioning</p>
            </div>
            {% endif %}
            <div class="room-card">
                <img src="{% static "images/icons/wifi.png" %}" alt="">
                <p>Free WiFi</p>
            </div>
        </div>
    </div>

    <div class="second-view-info-room">
        <div>
            <h4>Details</h4>
            <p>{{room.description}}</p>
        </div>  
        <div class="price-book-button">
            <h4>Room: 1st Floor</h4>
            <p>₱2000 / 12hrs</p>
            <a href="{% url "content:calendar" %}"><p class="button-view-info">Reserve</p></a>
        </div>
    </div>

</div>



{% endblock %}