{% extends "layout.html" %} 
{% load static %} 

{% block title %} 
  Terms and Conditions 
{%endblock%}

{% block content %}

<div class="terms-condition-container">
    <h1>Terms and Conditions</h1>
    <div class="terms-condition">
        <h3>1. Introduction</h3>
        <p><b>1.1</b> This document governs your use of the L.A.C. Resort website, including signing up, booking reservations, and accessing services.</p>
        <p><b>1.2</b> By using the website, you agree to these terms. If you do not agree, do not use the site.</p>
    </div>
    <div class="terms-condition">
        <h3>2. Account Registration</h3>
        <p><b>2.1</b> To access certain services (e.g., booking), you must register for an account.</p>
        <p><b>2.2</b> You are responsible for maintaining the confidentiality of your account details and password.</p>
        <p><b>2.3</b> You must provide accurate and up-to-date information during registration.</p>
    </div>
    <div class="terms-condition">
        <h3>3. User Obligations</h3>
        <p><b>3.1</b> Users must not engage in any unlawful activities or violate any intellectual property rights.</p>
        <p><b>3.2</b> You agree not to misuse the website or interfere with its functionality.</p>
    </div>
    <div class="terms-condition">
        <h3>4. Booking Transactions</h3>
        <p><b>4.1</b> When you make a booking, you will be required to provide personal data (e.g., name, address).</p>
        <p><b>4.2</b> You agree to provide accurate information for all bookings and transactions.</p>
        <p><b>4.3</b> Payment for bookings will be processed through PayPal.</p>
    </div>
    <div class="terms-condition">
        <h3>5. Data Usage</h3>
        <p><b>5.1</b> We collect and store data provided during registration and booking for internal use, such as data analysis and insights generation for L.A.C. Resort.</p>
        <p><b>5.2</b> By booking a reservation, you consent to the collection of this data.</p>
    </div>
    <div class="terms-condition">
        <h3>6. Privacy and Security</h3>
        <p><b>6.1</b> We employ reasonable measures to protect your data, but cannot guarantee complete security.</p>
        <p><b>6.2</b> You are responsible for keeping your account details secure.</p>
    </div>
    <div class="terms-condition">
        <h3>7. Modifications</h3>
        <p><b>7.1</b> We may update or modify the terms at any time, and such changes will be communicated through the website or via email.</p>
    </div>
    <div class="terms-condition">
        <h3>8. Termination</h3>
        <p><b>8.1</b> We may suspend or terminate your account if you violate the terms of use.</p>
    </div>
    <div class="terms-condition">
        <h3>9. Liability</h3>
        <p><b>9.1</b> L.A.C. Resort is not liable for any loss or damage resulting from the use of the website or booking services.</p>
    </div>
    <div class="terms-condition">
        <h3>10. Governing Law</h3>
        <p><b>10.1</b> These terms are governed by the laws of the jurisdiction in which L.A.C. Resort operates.</p>
    </div>


</div>

 
{% endblock %}
