{% extends "layout.html" %} 
{% load static %} 

{% block title %} 
  Booking 
{%endblock%}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/booking.css' %}">
{% endblock %}

{% block content %}
<div class="booking-page-wrapper">
    <div class="booking_container_main">
        <div class="booking-step-wrapper clearfix">
            <div class="booking-step active">
              <a class="step-number">1</a>
              <a class="step-label">Rooms</a>
            </div>
            <div class="booking-step active">
              <a class="step-number">2</a>
              <a class="step-label">Add-Ons</a>
            </div>
            <div class="booking-step">
              <a class="step-number">3</a>
              <a class="step-label">Payment</a>
            </div>
            <div class="booking-step">
              <a class="step-number">4</a>
              <a class="step-label">Complete</a>
            </div>
            <div class="booking-step-line">
              <div style="width: 25%;"></div> 
            </div>
        </div>
        <div class="room-select-wrapper">
            <p>Select add-ons for: <span>Room 1</span></p>
        </div>
        <div class="room-container">
            <div class="room-image">
                <a href="#"><img src="{% static 'images/photos/ehouse-room.jpg' %}" alt="Room Image"></a>
            </div>
            <div class="room-additionalfee-wrapper">
                <div class="room-expand-wrapper">
                    <div class="room-expand-small">
                        <h3>Airport Pickup</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel libero id sem sagittis fringilla. Sed porta tortor et tellus bibendum imperdiet. Aliquam erat volutpat. Nunc pulvinar mi id eros suscipit, vitae ullamcorper quam ullamcorper. Sed pretium, quam aliquet dignissim vestibulum, mi justo elementum ligula, eget interdum elit velit a lectus. Morbi dignissim rhoncus lectus dictum rhoncus. Nunc auctor tincidunt nisi, vitae tempor massa placerat sed. Curabitur sem metus, finibus in dictum nec, posuere ut dolor.</p>
                        <p>Integer dictum blandit neque, in iaculis lorem pretium eget. Mauris sed enim nec nisl molestie consectetur ac sed nisi. Maecenas malesuada est id nisl hendrerit fermentum. Morbi vel nisl non urna dignissim placerat. Suspendisse commodo leo at facilisis sollicitudin. Donec commodo, orci sed suscipit hendrerit, orci eros sollicitudin augue, ac tristique tellus mauris id tellus. Proin imperdiet condimentum felis, nec fringilla elit fermentum at. Suspendisse in lacus tempor, eleifend ante non, aliquam sapien. Nam est nisi, mollis ut diam vitae, scelerisque aliquet ligula. Vivamus neque lorem, accumsan et ex nec, euismod cursus sapien. Ut semper suscipit ex id cursus. </p>
                    </div>
                </div>
                <a href="#" class="expand-button">Read More </a>
                <a href="#" class="expand-button-hidden">Read Less </a>
            </div>
            <div class="room-additionalfee-info-form">
                <div class="room-additionalfee-info-form-section">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}