{% extends "layout.html" %} 
{% load static %} 

{% block title %} 
  Booking 
{%endblock%}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/booking.css' %}">
{% endblock %}

{% block content %}
<div class="booking-page-wrapper">
    <div class="booking_container_main">
        <div class="booking-step-wrapper clearfix">
            <div class="booking-step active">
              <a class="step-number">1</a>
              <a class="step-label">Rooms</a>
            </div>
            <div class="booking-step">
              <a class="step-number">2</a>
              <a class="step-label">Add-Ons</a>
            </div>
            <div class="booking-step">
              <a class="step-number">3</a>
              <a class="step-label">Payment</a>
            </div>
            <div class="booking-step">
              <a class="step-number">4</a>
              <a class="step-label">Complete</a>
            </div>
            <div class="booking-step-line">
              <div style="width: 25%;"></div> 
            </div>
        </div>
        <div class="booking-form-wrapper">
            <div class="booking-form">
                <label>Check In</label>
                <span class="checkin-display">01/01/2024</span>
            </div>
            <div class="booking-form">
                <label>Check Out</label>
                <span class="checkout-display">01/01/2024</span>
            </div>
            <div class="booking-form">
                <label>Guests</label>
                <span class="guests-display">4 Guest(s)</span>
            </div>
            <div class="booking-form-button-wrapper">
                <input type="submit" value="Search" class="booking-form-button">
            </div>
        </div>
        <div class="room-container">
            <div class="room-image">
                <a href="#"><img src="{% static 'images/photos/ehouse-room.jpg' %}" alt="Room Image"></a>
            </div>
            <div class="room-accomodation-wrapper">
                <div class="room-accomodation-info">
                    <h3>Deluxe Queen Room</h3>
                    <ul>
                        <li><span>Capacity:</span> 2 Adults</li>
                        <li><span>Size:</span> 35sqm</li>
                        <li><span>View:</span> City</li>
                    </ul>
                </div>
                <div class="room-rate-section">
                    <div class="room-rate-info">
                        <div class="room-clearfix">
                            <h3>Full Board</h3>
                            <h3>$300</h3>
                        </div>
                        <p>Nulla non rhoncus metus, nec tincidunt nisl. Mauris lacinia enim diam, nec porta velit blandit vel vestibulum.</p>
                        <div class="room-clearfix buttons">
                            <input type="submit" value="Select Room" class="accomodation-select-room">
                            <a href="#" class="booking-view-details">View Details</a>
                        </div>
                    </div>
                    <div class="room-rate-info">
                        <div class="room-clearfix">
                            <h3>Half Board</h3>
                            <h3>$300</h3>
                        </div>
                        <p>Nulla non rhoncus metus, nec tincidunt nisl. Mauris lacinia enim diam, nec porta velit blandit vel vestibulum.</p>
                        <div class="room-clearfix buttons">
                            <input type="submit" value="Select Room" class="accomodation-select-room">
                            <a href="#" class="booking-view-details">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="room-container">
            <div class="room-image">
                <a href="#"><img src="{% static 'images/photos/ehouse-room.jpg' %}" alt="Room Image"></a>
            </div>
            <div class="room-accomodation-wrapper">
                <div class="room-accomodation-info">
                    <h3>Deluxe Queen Room</h3>
                    <ul>
                        <li><span>Capacity:</span> 2 Adults</li>
                        <li><span>Size:</span> 35sqm</li>
                        <li><span>View:</span> City</li>
                    </ul>
                </div>
                <div class="room-rate-section">
                    <div class="room-rate-info">
                        <div class="room-clearfix">
                            <h3>Full Board</h3>
                            <h3>$300</h3>
                        </div>
                        <p>Nulla non rhoncus metus, nec tincidunt nisl. Mauris lacinia enim diam, nec porta velit blandit vel vestibulum.</p>
                        <div class="room-clearfix buttons">
                            <input type="submit" value="Select Room" class="accomodation-select-room">
                            <a href="#" class="booking-view-details">View Details</a>
                        </div>
                    </div>
                    <div class="room-rate-info">
                        <div class="room-clearfix">
                            <h3>Half Board</h3>
                            <h3>$300</h3>
                        </div>
                        <p>Nulla non rhoncus metus, nec tincidunt nisl. Mauris lacinia enim diam, nec porta velit blandit vel vestibulum.</p>
                        <div class="room-clearfix buttons">
                            <input type="submit" value="Select Room" class="accomodation-select-room">
                            <a href="#" class="booking-view-details">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div>
    <div class="booking-page-sidebar">
        <div class="booking-stay-wrapper">
            <h3>Your Stay</h3>
            <ul>
                <li><span>Dates:</span> Aug 17, 2024 - Aug 18, 2024</li>
                <li><span>Guest:</span> 2 Adults, 2 Children</li>
            </ul>
            <div class="booking-total">
                <h4>Total</h4>
                <h4>$0</h4>
            </div>
        </div>
        <div class="booking-contact">
            <h3>Need Assistance?</h3>
            <p>Our dedicated reservations team is ready to help you around the clock.</p>
            <ul>
                <li><a>55 Columbus Circle, New York, NY</a></li>
                <li><a>1111-2222-3333</a></li>
                <li><a>hello@quitenicestuff.com</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}