{% extends "layout.html" %} 
{% load static %} 

{% block title %} 
  Booking 
{%endblock%}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/booking.css' %}">
{% endblock %}

{% block content %}
<div class="booking_container">
  <div class="booking-step-wrapper clearfix">
    <div class="booking-step active">
      <a class="step-number">1</a>
      <a class="step-label">Rooms</a>
    </div>
    <div class="booking-step">
      <a class="step-number">2</a>
      <a class="step-label">Add-Ons</a>
    </div>
    <div class="booking-step">
      <a class="step-number">3</a>
      <a class="step-label">Payment</a>
    </div>
    <div class="booking-step">
      <a class="step-number">4</a>
      <a class="step-label">Complete</a>
    </div>
    <div class="booking-step-line">
      <div style="width: 25%;"></div> 
    </div>
  </div>

  <div class="booking-form-wrapper">
    <div class="booking-form">
        <label>Check In</label>
        <span class="checkin-display">01/01/2024</span>
    </div>
    <div class="booking-form">
        <label>Check Out</label>
        <span class="checkout-display">01/01/2024</span>
    </div>
    <div class="booking-form">
        <label>Guests</label>
        <span class="guests-display">4 Guest(s)</span>
    </div>
    <div class="booking-form-button-wrapper">
        <input type="submit" value="Search" class="booking-form-button">
    </div>
  </div>

  <div class="room-container">
    <div class="room-image">
      <img src="#" alt="Room Image">
    </div>
    <div class="room-about">
      <h3>Deluxe Queen Room</h3>
      <ul>
        <li><span>Capacity:</span> 2 Adults</li>
        <li><span>Size:</span> 35sqm</li>
        <li><span>View:</span> City</li>
      </ul>
    </div>
  </div>


</div>
{% endblock %}