{% extends "layout.html" %}
{% load static %} 

{% block title %} 
  Home 
{%endblock%} 

{% block content %}
<section class="welcome-section">
  <img src="{% static 'images/main-cover.jpg' %}" alt="cover-page" class="main-cover-img" />
  <form action="" class="welcome-form-container">
    <h4>Booking</h4>
    <label for="check-in">Arrival Date</label><br />
    <input
      type="text"
      name="check-in "
      id="check-in"
      class="input-date"
      readonly
      value="yyyy/mm/dd"
    /><br />
    <label for="check-out">Departure Date</label><br />
    <input
      type="text"
      name="check-out"
      id="check-out"
      class="input-date"
      readonly
      value="yyyy/mm/dd"
    />
    <div class="person-room-container">
      <div class="room-container">
        <label for="room-type">Room</label><br />
        <select name="room-type" id="room-type"></select>
      </div>
    </div>
    <a href=""
      ><img
        src="{% static 'images/check.png' %}"
        alt="checkbutton"
        id="check-btn"
      />
    </a>
  </form>
  <div class="welcome-text">
    <p class="welcome-small-text">Welcome to</p>
    <h1>L.A.C Resort</h1>
    <p class="welcome-xsmall-text">A place to experience and enjoy the life.</p>
  </div>
</section>
<h1>try</h1>
{% endblock %}
