{% extends "layout.html" %} 
{% load static %}
{% load humanize %}

{% block title %}
    Rooms 
{% endblock %} 

{% block content %}
<section class="title">
	<div class="title__background"></div>
  <img src="{% static 'images/photos/main-cover.jpg' %}" alt="" class="title__cover" width="100">
  <h1 class="title__text">ROOMS</h1>
</section>
<section class="rooms-section">
	{% for roomtype in roomtypes %}
		<div class="room-container">
			<div class="room-price-image-container">
				<img src="{{ roomtype.picture.url }}" alt="" width="100">
				<p>₱{{ roomtype.price|floatformat:2|intcomma }} / day</p>
			</div>
			<div class="room-info-container">
				<div class>
					<h2 class="secondary-text-color">{{ roomtype.room_type }}</h2>
					<div class="seperator"></div>
				</div>
				<p>{{ roomtype.description }}</p>
				<a href=""><p class="room-book-btn">BOOK NOW</p></a>
			</div>
		</div>
	{% endfor %}
</section>
{% endblock %}
