{% extends "layout.html" %} 
{% load static %} 

{% block title %} 
  Sign up Success
{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock %}

{% block content %}
    <div class="forgot-container">
        <h1>Forgot Password</h1>
        <form method="post" action="{% url 'users:forgot' %}">
            {% csrf_token %}
            <div class="forgot-text">
                <p>Email</p>
                <input type="text" name="email" id="email" required>
                {% if messages %}
                  <div class="messages">
                    {% for message in messages %}
                      <p class="message {{ message.tags }} ">{{ message }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
                <button type="submit">SEND</button>
            </div>
        </form>
    </div>
{% endblock %}
