{% extends 'layout.html' %}
{% load static %}

{% block title %}
  Log In
{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  <link rel="stylesheet" href="{% static 'css/users.css' %}" />
{% endblock %}

{% block content %}
  <div class="main-container">
    <img src="{% static 'images/photos/lac1.jpg' %}" alt="cover-page" id="cover-page" />

    <form method="post" id="login-form" novalidate>
      {% csrf_token %}

      {% if messages %}
        <div>
          <h1 class="brown-fg">Login</h1>
          <div class="messages">
            {% for message in messages %}
              <p class="message {{ message.tags }} ">{{ message }}</p>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      <div>
        <label for="username">Username</label><br />
        <input type="text" name="username" id="username" value="{{ form.username.value|default_if_none:'' }}" />
        {% for error in form.username.errors %}
          <p class="error">{{ error }}</p>
        {% endfor %}
      </div>

      <div>
        <label for="password">Password</label><br />
        <div id="password-container">
          <input type="password" name="password" id="password" />
          <img src="{% static 'images/icons/hidden.png' %}" alt="" id="password-toggle" />
        </div>
        {% for error in form.password.errors %}
          <p class="error">{{ error }}</p>
        {% endfor %}
      </div>

      <button type="submit">Log in</button>

      <div>
        <a href="forgot-password.php" class="gray-fg"><p>Forgot Password?</p></a><br />
        <p class="gray-fg">Don't have an account?</p>
        <a href="{% url 'users:signup' %}"><p id="signup-href">Create account</p></a>
      </div>
    </form>
  </div>
{% endblock %}

{% block extra_script %}
  var passwordImg = document.getElementById('password-toggle'); var passwordInput = document.getElementById('password');

  passwordImg.addEventListener('click', function() { if (passwordInput.type == 'password') { passwordInput.type = 'text'; passwordImg.src = "{% static 'images/icons/view.png' %}" } else { passwordInput.type = 'password'; passwordImg.src = "{% static 'images/icons/hidden.png' %}"; } });
{% endblock %}
