* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #070e13;
  --main-text-color: #fffff0;
  --secondary-text-color: #b58a60;
  --main-bg-transparent: rgba(7, 14, 19, 0.9);
  --input-color-text: rgb(150, 150, 150);
}

@font-face {
  font-family: "Architects Daughter";
  src: url("../fonts/ArchitectsDaughter-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/*Booking Forms*/
.booking-forms-walkin{
  position: fixed;
  background-color: #e4e7eb;
  padding: 60px 30px;
  font-weight: 500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
}

.booking-forms-walkin h1{
  text-align: center  ;
}

.add-room-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  float: right;
  margin-bottom: 10px; 
}

.dots-action {
  width: 20px;
  cursor: pointer;
  position: relative;
}

.dot-container {
  display: flex;
  align-items: center;
}

.dot-size {
  position: relative;
  display: flex;
  align-items: center;
}



.dot-size {
  position: relative;
  display: flex;
  align-items: center;
}

.action-container {
  padding: 5px 0;
  display: none;
  text-align: left;
  position: absolute;
  background-color: #ececec;
  border-radius: 5px;
  right: 0;
  top: 100%; /* Position at the very bottom of .dot-size */
  z-index: 100;
  transform: translateY(0); /* Remove any vertical translation */
}

.action-container p {
  padding: 0 70px 0 10px; 
  cursor: pointer;
}

.action-container p:hover {
  background-color: #fff;
}

.action-container p:first-child {
  padding-top: 5px; 
  padding-bottom: 5px;
}

.action-container p:nth-child(2) {
  padding-bottom: 5px; 
  padding-top: 5px;
}


.room-table-label {
  padding: 5px 10px;
  font-size: 1.3rem;
  color: #b58a60;
  font-weight: 600;
}


.booking-forms-walkin button{
  background-color: #b58a60;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
}

.booking-forms-walkin button:hover{
  background-color: #795b3c;
}

.guest-info{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.input-group{
  display: flex;
  gap: 10px;
}

.update-input-group{
  display: flex;
  gap: 10px;
}

.update-input-group input{
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.input-group input{
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.room-info{
  display: flex;
  flex-direction: column;
  gap: 10px;
}




.room-info input, .room-info select{
  padding: 5px 10px;
  border: none;
  border-radius: 5px;

}

.add-new-room-type {
  z-index: 2000;
  display: none;
}

.select-group select{
  width: 50%;
}

.room-type-info{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.update-room-info{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inprice input, .indesc textarea, .incap input{
  width: 100%;
}

.errorlist {
  font-size: 0.6rem;
  color: red;
}

.add-new-room-type input {
  height: 30px;
}

.input-container1 {
  width: 100%;
}

.indesc textarea{
  height: 50px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
}

.file-group{
  display: flex;
  font-size: 15px;
  font-weight: 400;
  flex-direction: column;
}

.file-group p{
  line-height: 1;
  margin-bottom: 10px;
}

/* Dashboard CSS */

.chart-container {
  display: flex;                     
  width: 100%;                     
  justify-content: space-between; 
  gap: 30px;  
}

.chart-wrapper {
  flex: 1;                          
  min-width: 300px;                  
  margin: 5px;                   
  text-align: center;   
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  padding: 20px; 
  border-radius: 10px;       
}

canvas {
  width: 100%;                      
  height: auto;                     
  aspect-ratio: 16 / 9;            
}

.chart-title {
  font-size: 1.5rem;              
  margin-bottom: 10px;             
}


.metric-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 40px;
}

.metric-wrapper {
  display: flex;
  background-color: #fff;
  width: 25%;
  justify-content: space-between;
  align-items: center;
  line-height: 1.2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); /* Add box shadow */
  flex: 1;
}

.metric-icon-container {
  width: 35%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: #96a0af ;
  border-radius: 10px;
  position: relative;
}

.metric-background {
  width: 100%;
  height: 100%;
  background-color: #f9ede1;
  position: absolute;
  border-radius: 10px;
  z-index: 100;
}

.metric-info {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.metric-icon {
  width: 50%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
}

/*Update Room */


.edit-room-form{
  padding: 50px 20px;
}

.edit-image-container{
  display: flex;
  gap: 20%;;
}

.input-change-image{
  display: flex;
  align-items: center;
}

.edit-image-container p{
  font-size: 0.8rem;
}

.no-resize {
  resize: none; 
}

.pricecap-container{
  display: flex;
  gap: 10px;
  width: 100%;
}

.pricecap-container input{
  width: 50%;
}


.update-input-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.update-input-container input, .update-input-container textarea{
  padding: 5px;
  border: none;
  border-radius: 5px;
}


.update-room-header img{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}





.metric-value {
  font-size: 1.25rem;
  font-weight: 600;
}

.metric-title {
  font-size: 0.75rem;
  color: #6e6e6e;
}


/*Add Room CSS*/

.room-tab {
  display: flex;

}

.room-tab > * {
  background: transparent;
  color: #b58a60;
  font-size: 14px;
  font-weight: 500;
  padding: .5rem 1.25rem;
  cursor: pointer;
  border-bottom: 1px solid #d4d4d4;
}


.room-picture-table {
  height: 4rem;
  width: 8rem;
  object-fit: cover;
  border-radius: .75rem;
}
.room-picture-table-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.room-selection{
  border-bottom: 1.5px solid #b58a60;
}

.type-selection {
  color: #6e6e6e;
}

.rnum input, .rtselect select{
  width: 100%;
  padding: 10px;
}

.addroom-form{
  width: 400px;
  z-index: 2000;
  display: none;
}

.dashboard-add-room {
  float: right;
  margin-bottom: 10px;
  padding: 0.5rem 1rem;
  background-color: #b58a60;
  color: #fff;
  font-size: 1rem;
  border-radius: 15px;
  cursor: pointer;
}

.option_room_form{
  position: fixed;
  background-color: #e4e7eb;
  padding: 50px;
  font-weight: 500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  z-index: 1000;
  display: none;
}

.option-header{
  display: flex;
  padding:  5px 30px;
}

.option-header img{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.option-header2 img{
  position: absolute;
  top: 20px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.option-header3 img{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}


.updateroom-header img{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.option-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option-container button{
  background-color: #b58a60;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  font-size: 16px;    
}

.option-container button:hover{
  background-color: #795b3c;
}



/* Header styles */

header {
  display: flex;
  position: fixed;
  top: 0;
  margin-left: 250px;
  width: calc(100% - 250px);
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  z-index: 1000;
  overflow: hidden;
  background-color: #ffffff;
}

main,
header {
  transition: margin-left 0.3s ease, width 0.3s ease;
}

.header-menu {
  width: 2.25rem;
  cursor: pointer;
}


.header-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.25rem;
}

.header-title > h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.search-input-container {
  width: 300px;
  height: 2.5rem;
  position: relative;
}

.search-input {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  padding: 0 1rem;
  background-color: #fcfcfc;
  color: var(--input-color-text);
  font-size: 0.75rem;
  font-weight: 500;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.search-input::placeholder {
  color: var(--input-color-text);
}

.search-input:focus {
  border: 1px solid rgba(0, 0, 0, 0.05);
  outline: none;
}

.search-icon {
  height: 50%;
  width: auto;
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.header-search-text {
  font-size: 0.75rem;
  color: #c8c8c8;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  transition: opacity 0.3s ease;
}

.header-search-text.hidden {
  opacity: 0;
  visibility: hidden;
}

.header-icon-container {
  display: flex;
  justify-content: space-between;
  gap: 2.25rem;
}

.header-icons {
  width: 1.5rem;
  cursor: pointer;
}

/* Side Nav */
.side-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 250px;
  padding: 15px;
  transition: width 0.3s ease;
  background-color: #ffffff;
  z-index: 1000;
}

.side-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.side-logo {
  width: 55px;
}

.side-text > h2 {
  font-weight: 800;
}

.side-text > p {
  font-size: 0.6rem;
  font-weight: 300;
}

.side-menu {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.side-link {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
}

.side-link-text {
  color: #96a0af;
}

.active-link {
  color: var(--secondary-text-color);
}

.side-link:hover p {
  color: var(--secondary-text-color);
}

.side-icon {
  width: 1.6rem;
}

main {
  margin: 72px 0 0 250px;
  padding: 40px 30px;
  background-color: #f7f7f7;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1265px) {
}

@media screen and (max-width: 1024px) {
  .search-input-container {
    width: 150px;
  }

  .side-nav {
    width: 100px;
  }

  .side-menu {
    padding: 50px 0;
  }

  .side-text {
    display: none;
  }

  .side-link-text {
    display: none;
  }

  .side-link {
    justify-content: center;
  }

  .side-title {
    justify-content: center;
  }

  main {
    margin-left: 100px;
  }

  header {
    margin-left: 100px;
    width: calc(100% - 100px);
  }

}

@media screen and (max-width: 767px) {
  .side-menu {
    display: none;
  }

  main {
    margin-left: 0;
  }

  .side-text {
    display: none;
  }

  .search-input-container {
    display: none;
  }

  .side-nav {
    height: 56px;
    width: 65px;
    justify-content: center;
    padding: 0;
  }

  .side-text {
    display: none;
  }

  .side-logo {
    width: 40px;
    object-fit: cover;
  }

  .header-menu {
    display: block;
  }

  .header-text {
    display: none;
  }

  header {
    padding: 0;
    height: 56px;
    width: calc(100vw - 60px);
    margin-left: 60px;
    padding-right: 20px;
  }
  
}
