.delete_option {
    display: none;
    z-index: 1000;
}


.delete-option-header h1{
    font-family: "Nunito";
    font-weight: 600;
    color: #636363;
}

.exit-choose-container{
    text-align: center;
    padding: 10px 20px;
}

.delete-choose-container{
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 40px;
    margin-top: 20px;
}

.delete-choose-container p{
    color: #B3B4B6;
}

.button-choose-delete{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.gray-cancel-button{
    background-color: #C1C1C1 !important;
}

.red-delete-button{
    background-color: #FF225D !important;
}

.gray-cancel-button:hover{
    background-color: #acabab !important;
}

.red-delete-button:hover{
    background-color: #f7698f !important;
}

.delete-option-header img{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.image-delete-icon img{
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-self: center;
}

