.option_room_form{
    position: fixed;
    background-color: #e4e7eb;
    padding: 50px;
    font-weight: 500;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90%;
}

.option-header{
    display: flex;
    padding:  5px 30px;
}

.option-header img{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.option-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option-container button{
    background-color: #b58a60;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    font-size: 16px;    
}

.option-container button:hover{
    background-color: #795b3c;
}