.delete_option {
    display: none;
    z-index: 1000;
}


.delete-option-header h1{
    font-family: "Nunito";
    font-weight: 600;
    color: #636363;
}

.exit-choose-container{
    text-align: center;
    padding: 10px 20px;
}

.input-flex {
    display: flex;
    gap: 10px;
}

.input-flex > * {
    height: 30px !important;
    width: 50% !important;
}

.delete-choose-container{
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 40px;
    margin-top: 20px;
}

.delete-choose-container p{
    color: #B3B4B6;
}

.button-choose-delete{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.gray-cancel-button, .gray-btn-bg{
    background-color: #C1C1C1 !important;
}

.red-delete-button, .red-btn-bg{    
    background-color: #FF225D !important;
}

.gray-cancel-button:hover, .gray-btn-bg:hover{
    background-color: #acabab !important;
}

.red-delete-button:hover, .red-btn-bg:hover{
    background-color: #f7698f !important;
}

.delete-option-header img{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.image-delete-icon img{
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-self: center;
}


/*UPDATE EXIST RTYPE CSS*/

.update_rtype_option{
    display: none;
    z-index: 1000;
}

.update_guest_form {
    z-index: 10000;
}

.update-option-header img{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.update-option-header h1{
    font-family: "Nunito";
    color: #636363;
}

.update_cot_req{
    font-size: 14px;
    display: flex;
    align-items: center;
    font-weight: 400;
}

.update_exist_rtype_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.exist-input-rtype-price{
    display: flex;
    gap: 10px;
}

.exist-input-rtype-price input, .cap-exist{
    background-color: #e4e7eb;
    border: none;
    height: 30px;
    border-radius: 5px;
    padding-left: 5px;
}

.update_exist_rtype_container textarea{
    background-color: #e4e7eb;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
}


.btn-update_rtype{
    width: 100%;
}

.exist-file-group{
    display: flex;
    font-size: 15px;
    flex-direction: column;
}

.input-container textarea, .update-capacity-rooms input{
    width: 100%;
}

/*UPDATE GUEST INFO CSS*/

.update_guestinfo_option{
    display: none;
    z-index: 1000;
}

.input-guestinfo-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    color: #636363;
    border-radius: 5px;
    border: 1px solid #e4e7eb;
}

.update-name-container, .update-phone-dob-container{
    display: flex;
    gap: 10px;
}

.update-name-container input, .update-phone-dob-container input, 
.input-guestinfo-container input {
    border: none;
    border-radius: 5px;
    background-color: #e4e7eb;
    height: 30px;
    padding-left: 5px;
    width: 100%;
}

.input-container{
    width: 100%;
}

select:focus, textarea:focus, input:focus{
    outline: none;
}

select{
    border: none;
}



/*UPDATE BOOKING CSS*/

.update_booking_option{
    display: none;
    z-index: 1000;
}

.input-booking-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #636363;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #e4e7eb;
}



.update-select-option select{
    height: 30px;
    width: 100%;
    background-color: #e4e7eb;
    border-radius: 5px;
}

.update-onight{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
}

.checkin-time-update{
    width: 100%;
    background-color: #e4e7eb;
    border: none;
    border-radius: 5px;
    height: 30px;
}

.check-inout-update{
    display: flex;
    gap: 10px;
}

.booking-data-display-container{
    display: flex;
    gap: 90px;
    border: 1.5px solid #e4e7eb;
    border-radius: 5px;
}

.count-adult-kid-update{
    display: flex;
    gap: 10px;
}

.count-adult-kid-update input{
    width: 100%;
}

.data-display-box{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.data-display-box p{
    font-size: 14px;
}

.check-inout-update input, .check-inout-update select{
    width: 100%;
}

#edit-duration-input{
    background-color: #e4e7eb;
    height: 30px;
    border-radius: 5px;
    border: none;
}


/*ADD NEW BOOKING CSS*/

.add_booking_option{
    display: none;
    z-index: 1000;
    padding-top: 50px;
    padding-bottom: 30px;
}

.addnew-booking-container{
    display: flex;
    gap: 10px
}

.addnew-booking-container input, .addnew-booking-container select{
    height: 25px;
}

.add-name-container, .add-phone-dob-container,
.add-count-adult-kid, .add-select-option{
    display: flex;
    gap: 10px;
}

.add-select-option select, .add-select-option input{
    height: 25px;
    width: 100%;
    background-color: #e4e7eb;
    border-radius: 5px;
}

.add-room-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-booking-container input, .input-booking-container select{
    border: none;
    border-radius: 5px;
    background-color: #e4e7eb;
    height: 25px;
    padding-left: 5px;
}

.input-booking-container label, .input-guestinfo-container label{
    font-size: .8rem;
}

.add-count-adult-kid input{
    width: 100%;
}

.input-booking-container select{
    width: 100%;
}

.container-btn-submit{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

.canceled-status-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.canceled-status-container p{
    color: #B3B4B6;
}

.canceled-btn-option{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.canceled-option-header p{
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.canceled-option-header img{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.canceled_booking_option{
    display: none;
    z-index: 1000;
}


