<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} LAC {% endblock %}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
    <link rel="icon" href="{% static 'images/icons/laclogo.ico' %}" />
  </head>
  <body>
    <header>
      <div class="header-title">
        <img
          src="{% static 'images/icons/hamburger.png' %}"
          alt="menu"
          class="header-menu"
          width="100"
        />
        <h1>Dashboard</h1>
      </div>
      <div>
        <div class="search-input-container">
          <input
            type="text"
            class="search-input"
            placeholder="Search..."
            id="search-input"
            name="search-input"
          />
          <img
            src="{% static 'images/icons/search.png' %}"
            alt="search"
            class="search-icon"
            width="100"
          />
        </div>
      </div>
      <div class="header-icon-container">
        <img
          src="{% static 'images/icons/email.png' %}"
          alt="email"
          class="header-icons"
          width="100"
        />
        <img
          src="{% static 'images/icons/bell.png' %}"
          alt="notif"
          class="header-icons"
          width="100"
        />
        <img
          src="{% static 'images/icons/comment.png' %}"
          alt="message"
          class="header-icons"
          width="100"
        />
        <img
          src="{% static 'images/icons/account.png' %}"
          alt="profile"
          class="header-icons"
          width="100"
        />
      </div>
    </header>

    <div class="side-nav">
      <div class="side-title">
        <img
          src="{% static 'images/icons/logo1lac.png' %}"
          alt="lac"
          class="side-logo"
          width="100"
        />
        <div class="side-text">
          <h2>L.A.C</h2>
          <p>Hotel Admin Dashboard</p>
        </div>
      </div>
      <div class="side-menu">
        <a
          href="{% url 'dashboard:dashboard' %}"
          class="side-link {% if request.resolver_match.view_name == 'dashboard:dashboard' %}current-link{% endif %}"
          id="link-dashboard"
        >
          <img
            src="{% if request.resolver_match.view_name == 'dashboard:dashboard' %}
            {% static 'images/icons/dashboard-active.png' %}
          {% else %}
            {% static 'images/icons/dashboard.png' %}
          {% endif %}"
            alt="dashboard"
            class="side-icon"
            id="img-dashboard"
            width="100"
          />
          <p
            class="side-link-text {% if request.resolver_match.view_name == 'dashboard:dashboard' %}active-link{% endif %}"
          >
            Dashboard
          </p>
        </a>
        <a
          href="{% url 'dashboard:room' %}"
          class="side-link {% if request.resolver_match.view_name == 'dashboard:room' %}current-link{% endif %}"
          id="link-room"
        >
          <img
            src="{% if request.resolver_match.view_name == 'dashboard:room' %}
            {% static 'images/icons/bed-active.png' %}
          {% else %}
            {% static 'images/icons/bed.png' %}
          {% endif %}"
            alt="room"
            class="side-icon"
            id="img-room"
            width="100"
          />
          <p
            class="side-link-text {% if request.resolver_match.view_name == 'dashboard:room' %}active-link{% endif %}"
          >
            Rooms
          </p>
        </a>
        <a
          href="{% url 'dashboard:booking' %}"
          class="side-link {% if request.resolver_match.view_name == 'dashboard:booking' %}current-link{% endif %}"
          id="link-booking"
        >
          <img
            src="{% if request.resolver_match.view_name == 'dashboard:booking' %}
            {% static 'images/icons/appointment-active.png' %}
          {% else %}
            {% static 'images/icons/appointment.png' %}
          {% endif %}"
            alt="booking"
            class="side-icon"
            id="img-booking"
            width="100"
          />
          <p
            class="side-link-text {% if request.resolver_match.view_name == 'dashboard:booking' %}active-link{% endif %}"
          >
            Booking
          </p>
        </a>
        <a
          href="{% url 'dashboard:guest' %}"
          class="side-link {% if request.resolver_match.view_name == 'dashboard:guest' %}current-link{% endif %}"
          id="link-guest"
        >
          <img
            src="{% if request.resolver_match.view_name == 'dashboard:guest' %}
            {% static 'images/icons/guest-active.png' %}
          {% else %}
            {% static 'images/icons/guest.png' %}
          {% endif %}"
            alt="guest"
            class="side-icon"
            id="img-guest"
            width="100"
          />
          <p
            class="side-link-text {% if request.resolver_match.view_name == 'dashboard:guest' %}active-link{% endif %}"
          >
            Guest
          </p>
        </a>
      </div>
    </div>

    <main>{% block content %}{% endblock %}</main>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        function addHoverEffect(
          linkElement,
          imgElement,
          defaultSrc,
          activeSrc
        ) {
          if (!linkElement.classList.contains("current-link")) {
            linkElement.addEventListener("mouseover", function () {
              imgElement.src = activeSrc;
            });

            linkElement.addEventListener("mouseout", function () {
              imgElement.src = defaultSrc;
            });
          }
        }

        var linkDashboard = document.getElementById("link-dashboard");
        var imgDashboard = document.getElementById("img-dashboard");

        var linkRoom = document.getElementById("link-room");
        var imgRoom = document.getElementById("img-room");

        var linkBooking = document.getElementById("link-booking");
        var imgBooking = document.getElementById("img-booking");

        var linkGuest = document.getElementById("link-guest");
        var imgGuest = document.getElementById("img-guest");

        addHoverEffect(
          linkDashboard,
          imgDashboard,
          "{% static 'images/icons/dashboard.png' %}",
          "{% static 'images/icons/dashboard-active.png' %}"
        );

        addHoverEffect(
          linkRoom,
          imgRoom,
          "{% static 'images/icons/bed.png' %}",
          "{% static 'images/icons/bed-active.png' %}"
        );

        addHoverEffect(
          linkBooking,
          imgBooking,
          "{% static 'images/icons/appointment.png' %}",
          "{% static 'images/icons/appointment-active.png' %}"
        );

        addHoverEffect(
          linkGuest,
          imgGuest,
          "{% static 'images/icons/guest.png' %}",
          "{% static 'images/icons/guest-active.png' %}"
        );
      });
    </script>
  </body>
</html>
