<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} LAC {% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="icon" href="{% static 'images/icons/laclogo.ico' %}" />
    <script src="{% static 'js/main.js' %}" defer></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        <div class="top-header">
            <div class="header-location-info">
                <p>Brgy. Himbubulo Weste</p>
                <p>Guinyangan, Quezon</p>
            </div>
            <div class="header-logo-container">
                <img
                    class="header-logo-img"
                    src="{% static 'images/icons/logo1lac.png' %}"
                    alt="lac logo"
                />
            </div>
            <div class="header-time-info">
                <p id="header-weekday">Sunday</p>
                <p id="header-date">January 1, 2024</p>
                <p id="header-time">12:00 am</p>
            </div>
        </div>
        <div class="seperator"></div>
        <div class="navigation">
            <div class="menu-container">
                <h3>MENU</h3>
                <img
                    src="{% static 'images/icons/menu.png' %}"
                    alt="menu"
                    class="menu-btn"
                />
            </div>
            <nav class="header-nav">
                <ul>
                    <li>
                        <a
                            href="{% url 'content:index' %}"
                            id="home"
                            class="nav-link {% if request.resolver_match.view_name == 'content:index' %}active-link{% endif %}"
                        >HOME</a>
                    </li>
                    <li>
                        <a
                            href="{% url 'content:rooms' %}"
                            class="nav-link {% if request.resolver_match.view_name == 'content:rooms' %}active-link{% endif %}"
                        >ROOMS</a>
                    </li>
                    <li>
                        <a
                            href="{% url 'content:service' %}"
                            class="nav-link {% if request.resolver_match.view_name == 'content:service' %}active-link{% endif %}"
                        >SERVICE</a>
                    </li>
                    <li>
                        <a
                            href="{% url 'content:contact' %}"
                            class="nav-link {% if request.resolver_match.view_name == 'content:contact' %}active-link{% endif %}"
                        >CONTACT</a>
                    </li>
                    <li>
                        <a
                            href="{% url 'content:about' %}"
                            class="nav-link {% if request.resolver_match.view_name == 'content:about' %}active-link{% endif %}"
                        >ABOUT</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link book-now-mobile-btn">BOOK NOW</a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                    <form action="{% url 'users:logout' %}" method="post">
                        {% csrf_token %}
                        <button class="header-book-btn">LOG OUT</button>
                    </form>
                {% else %}
                    <button class="header-book-btn">BOOK NOW</button>
                {% endif %}
            </nav>
        </div>
    </header>
    <main>{% block content %}{% endblock %}</main>
    <footer>
        <div class="footer-container">
            <div class="footer-follow-container">
                <h3>FOLLOW US:</h3>
                <div class="footer-socmed">
                    <a href="#">
                        <img 
                            src="{% static 'images/icons/facebook.png' %}" 
                            alt="facebook" 
                            class="socmed-icon"
                        />
                    </a>
                    <a href="#">
                        <img
                            src="{% static 'images/icons/instagram.png' %}"
                            alt="instagram"
                            class="socmed-icon"
                        />
                    </a>
                    <a href="#">
                        <img
                            src="{% static 'images/icons/email.png' %}"
                            alt="gmail"
                            class="socmed-icon"
                        />
                    </a>
                </div>
            </div>
            <div class="footer-gallery-container">
                <h3>GALLERY</h3>
                <div class="footer-gallery">
                    <img src="{% static 'images/photos/lac8.jpg' %}" alt="cottage" width="40">
                    <img src="{% static 'images/photos/lac9.jpg' %}" alt="cottage" width="40">
                    <img src="{% static 'images/photos/lac10.jpg' %}" alt="cottage" width="40">
                    <img src="{% static 'images/photos/gallery1.jpg' %}" alt="lac" width="40">
                    <img src="{% static 'images/photos/gallery2.jpg' %}" alt="pool" width="40">
                    <img src="{% static 'images/photos/gallery3.jpg' %}" alt="pool" width="40">
                </div>
            </div>
            <div class="footer-contact">
                <h3>CONTACT US</h3>
                <p class="secondary-text-color">Address:</p>
                <p>Brgy. Himbubulo Weste Guinyangan Quezon</p>
                <p class="secondary-text-color">Call Us:</p>
                <p>0939-819-4499</p>
                <p class="secondary-text-color">Email:</p>
                <p>lacresortandfarm@gmail.com</p>
            </div>
        </div>
        <p class="footer-copyright">Copyright L.A.C Resort 2024</p>
    </footer>
    {% block add_script %}{% endblock %}
    <script>
        {% block extra_script %}{% endblock %}
    </script>
</body>
</html>
