<!DOCTYPE html>
<html>
  <head>
    <title>Password Recovery</title>
  </head>
  <body>
    <h2>Password Recovery Request</h2>
    <hr />
    <h3>Hi {{ name }},</h3>
    <p>We received a request to reset your password for your Lac Resort account. Please use the following code to reset your password:</p>
    <h1 style="text-align: center;">{{ message }}</h1>
    <p>If you did not request a password reset, please ignore this email.</p>
    <hr />
    <p>Thank you,</p>
    <p>The Lac Resort Team</p>
  </body>
</html>
