{% extends "admin_layout.html" %}

{% load static %}

{% block title %}
  Amenities
{% endblock %}

{% block pagetitle %}
  Amenities
{% endblock  %}

{% block in_body %}
<form class="add-amenities booking-forms-walkin" action="{% url "dashboard:add_amenities" %}" method='post' enctype="multipart/form-data" style="
{% if show_add_form %}
  display: block
{% else %}
  display:none
{% endif %}">
  {% csrf_token %}
  <div class="option-header2">
    <h1>Add New Amenities</h1>
    <img src="{% static 'images/icons/reject.png' %}" alt="close icon" id="close-new-amenities-btn" />
  </div>

  <div class="amenities-info">
    <div class="Amenities-container">
      <div class="input-amenities">
        <input type="text" name="name_add" id="name_add" placeholder="Name" value="{{ form.name_add.value|default:'' }}">
        {% if form.name_add.errors %}
            <p class="errorlist">{{ form.name_add.errors }}</p>
          {% endif %}
      </div>

      <div class="input-icon">
        <p>Icon</p>
        <input type="file" name="icon_add" id="icon_add" />
        {% if form.icon_add.errors %}
            <p class="errorlist">{{ form.icon_add.errors }}</p>
          {% endif %}
      </div>

    </div>


    <button type="submit">Submit</button>
  </div>
</form>
{% endblock %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'lib/datatables/dataTables.css' %}" />


  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  
  <!-- jQuery and jQuery UI JavaScript -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
{% endblock %}

{% block content %}
<p class="dashboard-add-amenities">+ New Amenities</p>

<table id="myTable" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Icon</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for amenity in amenities %}
      <tr>
        <td>{{amenity.name}}</td>
        <td><img class="image-icon-td" src="{{amenity.icon.url}}" alt=""></td>
        <td><div class="td-container"><p class="td-button-edit">Edit</p></div></td>
        <td><div class="td-container"><p class="td-button-delete">Delete</p></div></td>
      </tr>
    {% endfor %}
    
  </tbody>
</table>

{% endblock %}

{% block extra_script %}

  <script src="{% static 'lib/datatables/dataTables.js' %}"></script>

  <script>
    $(document).ready(function () {
      $('#myTable').DataTable()
    
    })

    addAmenitiesBtn = document.querySelector('.dashboard-add-amenities')
    addAmenitiesForm = document.querySelector('.add-amenities')
    closeAmenitiesBtn = document.querySelector('#close-new-amenities-btn')
    addAmenitiesBtn.addEventListener('click', function() {
      addAmenitiesForm.style.display = 'block'
    })

    closeAmenitiesBtn.addEventListener('click', function() {
      addAmenitiesForm.style.display = 'none'
    })
    
  </script>
  
{% endblock %}