{% extends "admin_layout.html" %}

{% load static %}

{% block title %}
  Amenities
{% endblock %}


{% block pagetitle %}
  Amenities
{% endblock  %}

{% block in_body %}
<form class="add-amenities booking-forms-walkin" action="{% url "dashboard:add_amenities" %}" method='post' enctype="multipart/form-data" style="
{% if show_add_form %}
  display: block
{% else %}
  display:none
{% endif %}">
  {% csrf_token %}
  <div class="option-header2">
    <h1>Add New Amenities</h1>
    <img src="{% static 'images/icons/reject.png' %}" alt="close icon" id="close-new-amenities-btn" />
  </div>

  <div class="amenities-info">
    <div class="Amenities-container">
      <div class="input-amenities">
        <input type="text" name="name_add" id="name_add" placeholder="Name" value="{{ form.name_add.value|default:'' }}">
        {% if form.name_add.errors %}
            <p class="errorlist">{{ form.name_add.errors }}</p>
          {% endif %}
      </div>

      <div class="input-icon">
        <p>Icon</p>
        <input type="file" name="icon_add" id="icon_add" />
        {% if form.icon_add.errors %}
            <p class="errorlist">{{ form.icon_add.errors }}</p>
          {% endif %}
      </div>

    </div>


    <button type="submit">Submit</button>
  </div>
</form>

<form class="booking-forms-walkin delete_option" style="display: none;" method="post" action="{% url 'dashboard:delete_amenity' %}">
  {% csrf_token %}
  <div class="image-delete-icon">
    <img src="{% static 'images/icons/remove-del.png' %}" alt="exit icon" />
  </div>
  <div class="delete-option-header">
    <h1>Are you sure?</h1>
    <img src="{% static 'images/icons/reject.png' %}" alt="close icon" id="close-delete-amenity-btn" />
  </div>
  <input type="hidden" name="deleteID" id="deleteID" value="" />
  <div class="delete-choose-container">
    <p>
      Do you really want to delete this record? This <br /> process cannot be undone.
    </p>
    <div class="button-choose-delete">
      <button class="gray-cancel-button" id="cancel-delete-btn" type="button">Cancel</button>
      <button class="red-delete-button" type="submit">Delete</button>
    </div>
  </div>
</form>

<form class="edit-amenity booking-forms-walkin" action="{% url "dashboard:edit_amenity" %}" method='post' enctype="multipart/form-data" style=" display: none;">
  {% csrf_token %}
  <input type="hidden" id="edit_id" name="edit_id">
  <div class="option-header2">
    <h1>Update Amenity</h1>
    <img src="{% static 'images/icons/reject.png' %}" alt="close icon" id="close-edit-amenities-btn" />
  </div>

  <div class="amenities-info">
    <div class="Amenities-container">
      <div class="input-amenities">
        <input type="text" name="name_edit" id="name_edit" placeholder="Name" value="">
      </div>

      <div class="input-icon">
        <p>Icon</p>
        <input type="file" name="icon_edit" id="icon_edit" />
      </div>
    </div>
    <button type="submit">Submit</button>
  </div>
</form>
{% endblock %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'lib/datatables/dataTables.css' %}" />
  <link rel="stylesheet" href="{% static 'css/option.css' %}" />

  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  
  <!-- jQuery and jQuery UI JavaScript -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
{% endblock %}

{% block content %}
<p class="dashboard-add-amenities">+ New Amenities</p>

<table id="myTable" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Icon</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for amenity in amenities %}
      <tr>
        <td>{{amenity.name}}</td>
        <td><img class="image-icon-td" src="{{amenity.icon.url}}" alt=""></td>
        <td><div class="td-container"><p class="td-button-edit" data-amenity-id="{{amenity.id}}" data-amenity-name="{{ amenity.name }}">Edit</p></div></td>
        <td><div class="td-container"><p class="td-button-delete" data-amenity-id={{amenity.id}}>Delete</p></div></td>
      </tr>
    {% endfor %}
    
  </tbody>
</table>

{% endblock %}

{% block extra_script %}

  <script src="{% static 'lib/datatables/dataTables.js' %}"></script>

  <script>
    $(document).ready(function () {
      $('#myTable').DataTable()
    
    })

    addAmenitiesBtn = document.querySelector('.dashboard-add-amenities')
    addAmenitiesForm = document.querySelector('.add-amenities')
    closeAmenitiesBtn = document.querySelector('#close-new-amenities-btn')
    addAmenitiesBtn.addEventListener('click', function() {
      addAmenitiesForm.style.display = 'block'
    })

    closeAmenitiesBtn.addEventListener('click', function() {
      addAmenitiesForm.style.display = 'none'
    })

    // for delete


    const deleteForm = document.querySelector('.delete_option')
    const deleteBtns = document.querySelectorAll('.td-button-delete')
    const closeDeleteFormBtn = document.getElementById('close-delete-amenity-btn')
    const cancelDeleteFormBtn = document.getElementById('cancel-delete-btn')

    deleteBtns.forEach((deleteBtn) => {
      deleteBtn.addEventListener('click', function (event) {
        const deleteID = document.getElementById('deleteID')
        amenity_id = deleteBtn.getAttribute('data-amenity-id')
        deleteID.value = amenity_id
        console.log(amenity_id)
        deleteForm.style.display = 'block'
      })
    })


    const hideDeleteForm = () => {
      deleteForm.style.display = 'none'
    }

    closeDeleteFormBtn.addEventListener('click', hideDeleteForm)
    cancelDeleteFormBtn.addEventListener('click', hideDeleteForm)

    // for delete
    const editForm = document.querySelector('.edit-amenity')
    const editBtns = document.querySelectorAll('.td-button-edit')
    const editCloseBtn = document.querySelector('#close-edit-amenities-btn')
    const editAmenityInput = document.querySelector('#name_edit')
    const editAmenityId = document.querySelector('#edit_id')

    editBtns.forEach((editBtn) => {
      editBtn.addEventListener('click', function() {
        amenity_id = editBtn.getAttribute('data-amenity-id')
        amenity_name = editBtn.getAttribute('data-amenity-name')
        editAmenityInput.value = amenity_name
        editAmenityId.value = amenity_id
        editForm.style.display= "block"
      })
    })
    
    editCloseBtn.addEventListener('click', function() {
      editForm.style.display = 'none'
    })
    
  </script>
  
{% endblock %}