{% extends "admin_layout.html" %}

{% load static %}

{% block title %}
  Booking
{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static "lib/datatables/dataTables.css" %}">
  <link rel="stylesheet" href="{% static "css/option.css" %}">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  
  <!-- jQuery and jQuery UI JavaScript -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
{% endblock %}

{% block in_body %}
<!-- Delete Form -->
<form class="booking-forms-walkin delete_option" style="display: none;" method="post" action="{% url 'dashboard:delete_booking' %}">
    {% csrf_token %}
    <div class="image-delete-icon">
      <img src="{% static 'images/icons/remove-del.png' %}" alt="exit icon" />
    </div>
    <div class="delete-option-header">
      <h1>Are you sure?</h1>
      <img src="{% static 'images/icons/reject.png' %}" alt="close icon" id="close-delete-guest-btn" />
    </div>
    <input type="hidden" name="deleteID" id="deleteID" value="" />
    <div class="delete-choose-container">
      <p>
        Do you really want to delete this record? This <br /> process cannot be undone.
      </p>
      <div class="button-choose-delete">
        <button class="gray-cancel-button" id="cancel-delete-btn" type="button">Cancel</button>
        <button class="red-delete-button" type="submit">Delete</button>
      </div>
    </div>
</form>

<!-- Update Form -->
<form class="booking-forms-walkin update_booking_option" style="display: block;">
    <div class="update-option-header">
      <h1>Update Booking</h1>
      <img src="{% static 'images/icons/reject.png' %}" alt="close icon" id="close-update-booking-btn" />
    </div>

    <div class="input-booking-container"> 
      <div class="check-inout-update">
        <input type="text" name="" id="datepicker" placeholder="Check in" readonly>
        <select name="" id="checkin-time-update" class="checkin-time-update">
            <option value="8:00am">---Select Date---</option>
        </select>
      </div>
      <select name="" id="edit-duration-input" class="checkin-time-update">
        <option value="12">12 hrs</option>
        <option value="12">24 hrs</option>
    </select>
      <div class="update-select-option">
        <label for="update-room-booking">Room</label>
        <select name="update-room-booking" id="update-room-booking">
          <option value="">....</option>
        </select>
      </div>
      <div class="count-adult-kid-update">
        <input type="text" name="" id="" placeholder="Adult">
        <input type="text" name="" id="" placeholder="Kid">
      </div>

      <button type="button">UPDATE</button>
    </div>
</form>
{% endblock %}

{% block content %}
  <h1>Booking</h1>

  <!-- Status filter dropdown -->
  <label for="statusFilter">Status: </label>
  <select id="statusFilter">
      <option value="">All</option>
      <option value="Booked">Booked</option>
      <option value="Canceled">Canceled</option>
  </select>

  <table id="myTable" class="display">
      <thead>
          <tr>
              <th>ID</th>
              <th>Room</th>
              <th>Check_in</th>
              <th>Check_out</th>
              <th>Guest</th>
              <th>Total Amount</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          {% for book in booking %}
          <tr data-status="{{ book.status }}">
              <td>{{ book.id }}</td>
              <td>{{ book.room.room_type }}</td>
              <td>{{ book.check_in|date:"m-d-Y" }}, {{ book.check_in|time:"g:i A" }}</td>
              <td>{{ book.check_out|date:"m-d-Y" }}, {{ book.check_out|time:"g:i A" }}</td>
              <td>{{ book.guest.first_name|add:" "|add:book.guest.last_name }}</td>
              <td>{{ book.total_amount }}</td>
              <td>
                <div class="dot-container">
                  <div class="dot-size">
                    <img src="{% static 'images/icons/dots.png' %}" alt="option" width="100" class="dots-action" />
                    <div class="action-container">
                      <p class="edit-btn">Edit</p>
                      <p class="delete-btn" data-book-id="{{ book.id }}">Delete</p>
                    </div>
                  </div>
                </div>
              </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
{% endblock %}

{% block extra_script %}
<script src="{% static "lib/datatables/dataTables.js" %}"></script>

<script>
  $(document).ready(function () {
    function handleDateSelect(dateText) {
        console.log("Selected date: " + dateText);

        fetch("{% url 'dashboard:get_time' %}?date=" + encodeURIComponent(dateText))
            .then((response) => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then((data) => {
                console.log('Available times:', data.available_times);
                const available_times = data.available_times;

                const selectTimeInput = document.querySelector('.checkin-time-update');

                selectTimeInput.innerHTML = '';  

                available_times.forEach(time => {
                    const option = document.createElement('option');
                    option.value = time;
                    option.textContent = time;
                    selectTimeInput.appendChild(option);
                });

                const changeEvent = new Event('change');
                selectTimeInput.dispatchEvent(changeEvent);
            })
            .catch((error) => {
                console.error('Error fetching time data:', error);
            });
    }

    function handleTimeSelect(event) {
        const selectedTime = document.getElementById('checkin-time-update').value;
        // selectedTime = event.target.value;

        const selectedDate = document.getElementById('datepicker').value;
        const duration = document.getElementById('edit-duration-input').value;
        console.log(duration);

        // Log both date and time
        console.log("Selected date: " + selectedDate);
        console.log("Selected time: " + selectedTime);

        // Ensure selectedTime, selectedDate, and duration are not empty before making the fetch request
        if (selectedTime && selectedDate && duration) {
            fetch("{% url 'dashboard:get_rooms' %}?date=" + encodeURIComponent(selectedDate) + "&time=" + encodeURIComponent(selectedTime) + "&duration=" + encodeURIComponent(duration))
                .then((response) => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then((data) => {
                    available_rooms = data.available_rooms;
                    console.log(available_rooms);
                    const selectRoomInput = document.getElementById('update-room-booking');
                    selectRoomInput.innerHTML = '';

                    available_rooms.forEach(room => {
                        const option = document.createElement('option');
                        option.value = room.room_id; // Set the room_id as the value
                        option.textContent = room.room_type; // Set the room_type as the text
                        selectRoomInput.appendChild(option); // Append the option to the select element
                    });
                })
                .catch((error) => {
                    console.error('Error fetching time data:', error);
                });
        } else {
            console.error("All fields (date, time, and duration) are required.");
        }
    }

    const selectTimeInput = document.querySelector('.checkin-time-update');
    const durationInput = document.getElementById('edit-duration-input');

    // Add event listener for the time change
    if (selectTimeInput) {
        selectTimeInput.addEventListener('change', handleTimeSelect);
    }

    // Add event listener for the duration change
    if (durationInput) {
        durationInput.addEventListener('change', handleTimeSelect);
    }

    $("#datepicker").datepicker({
        minDate: 0,
        maxDate: 30,
        onSelect: handleDateSelect
    });

    var table = $('#myTable').DataTable({
        "order": [[2, "desc"]]
    });

    $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
        var row = table.row(dataIndex).node();
        var status = $(row).data('status');
        var selectedStatus = $('#statusFilter').val();
        return !selectedStatus || status === selectedStatus;
    });

    $('#statusFilter').on('change', function () {
        table.draw();
    });

    const dotsActions = document.querySelectorAll('.dots-action');
    dotsActions.forEach(dotsAction => {
        dotsAction.addEventListener('click', function (event) {
            const actionContainer = dotsAction.nextElementSibling;
            if (actionContainer.style.display === 'block') {
                actionContainer.style.display = 'none';
            } else {
                document.querySelectorAll('.action-container').forEach(container => container.style.display = 'none');
                actionContainer.style.display = 'block';
            }
            event.stopPropagation();
        });
    });

    document.addEventListener('click', function () {
        document.querySelectorAll('.action-container').forEach(container => container.style.display = 'none');
    });

    // Deletion form handlers
    const deleteForm = document.querySelector('.delete_option');
    const deleteBtns = document.querySelectorAll('.delete-btn');
    deleteBtns.forEach(deleteBtn => {
        deleteBtn.addEventListener('click', function () {
            document.getElementById('deleteID').value = deleteBtn.getAttribute('data-book-id');
            deleteForm.style.display = 'block';
        });
    });

    // Close delete form
    document.getElementById('close-delete-guest-btn').addEventListener('click', () => deleteForm.style.display = 'none');
    document.getElementById('cancel-delete-btn').addEventListener('click', () => deleteForm.style.display = 'none');

    // Edit form handlers
    const editBookingForm = document.querySelector('.update_booking_option');
    const editBtns = document.querySelectorAll('.edit-btn');
    editBtns.forEach(editBtn => editBtn.addEventListener('click', () => editBookingForm.style.display = "block"));

    // Close edit form
    document.getElementById('close-update-booking-btn').addEventListener('click', () => editBookingForm.style.display = "none");
});
</script>

{% endblock %}
