{% extends "admin_layout.html" %}

{% load static %}

{% block title %}
  Booking
{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static "lib/datatables/dataTables.css" %}">
  <link rel="stylesheet" href="{% static "css/option.css" %}">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  
  <!-- jQuery and jQuery UI JavaScript -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
{% endblock %}

{% block in_body %}
<!-- Cancel Form -->
<form action="change_booking_status" method="POST" class="booking-forms-walkin canceled_booking_option" style="display: none;">
  {% csrf_token %}
  <input type="hidden" id="status-book-id" name="id">
  <div class="image-delete-icon">
    <img src="{% static 'images/icons/calendar-canceled.png' %}" alt="exit icon" />
  </div>
  <div class="canceled-option-header">
    <h1>Are you sure?</h1>
    <img src="{% static 'images/icons/reject.png' %}" alt="close icon" id="close-change-booking-btn" />
  </div>
  <div class="canceled-status-container">
    <p>Do you want to change the status of booking ID <br/><span class="label-status-id">id</span> to '<span class="label-status">Cancelled</span>'?</p>
    <div class="canceled-btn-option">
      <button class="red-btn-bg" type="submit">Yes</button>
      <button class="gray-btn-bg" type="button">No</button>
    </div>
  </div>
</form>

<!-- Add Form -->
<form 
  action="{% url "dashboard:add_booking" %}"
  method="POST"
  class="booking-forms-walkin add_booking_option" 
  style="
  {% if show_add_form %}
    display: block
  {% else %}
    display:none
  {% endif %}"
>
  {% csrf_token %}
  <div class="update-option-header">
    <h1>Add New Booking</h1>
    <img src="{% static 'images/icons/reject.png' %}" alt="close icon" id="close-addnew-booking-btn" />
  </div>

  <div class="addnew-booking-container">
    <div>

    
    <div class="input-guestinfo-container">
      <div class="add-name-container">
        <div class="input-container">
          <label for="add-fname">First name</label>
          <input type="text" name="first_name" id="add-fname" value="{{ form.first_name.value|default:'' }}">
          {% if form.first_name.errors %}
            <p class="errorlist">{{ form.first_name.errors }}</p>
          {% endif %}
        </div>
        <div class="input-container">
          <label for="add-lname">Last name</label>
          <input type="text" name="last_name" id="add-lname" value="{{ form.last_name.value|default:'' }}">
          {% if form.last_name.errors %}
            <p class="errorlist">{{ form.last_name.errors }}</p>
          {% endif %}
        </div>
      </div>
      <div class="input-container">
        <label for="add-address">Address</label>
        <input type="text" id="add-address" name="address" value="{{ form.address.value|default:'' }}">
        {% if form.address.errors %}
            <p class="errorlist">{{ form.address.errors }}</p>
        {% endif %}
      </div>
      <div class="add-phone-dob-container">
        <div class="input-container">
          <label for="add-phone">Phone</label>
          <input type="text" id="add-phone" name="phone" value="{{ form.phone.value|default:'' }}">
          {% if form.phone.errors %}
            <p class="errorlist">{{ form.phone.errors }}</p>
          {% endif %}
        </div>
        <div class="input-container">
          <label for="add-dob">Date of birth</label>
          <input type="text" id="add-dob" name="dob" placeholder="yyyy-mm-dd" value="{{ form.dob.value|default:'' }}" readonly>
          {% if form.dob.errors %}
            <p class="errorlist">{{ form.dob.errors }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
    <div class="container-btn-submit">
    <div class="input-booking-container"> 
      <div class="add-select-option">
        <div class="input-container">
          <label for="checkin-datepicker">Check In Date</label>
          <input type="text" id="checkin-datepicker" name="checkin_date" placeholder="yyyy-mm-dd" readonly >
          {% if form.checkin_date.errors %}
            <p class="errorlist">{{ form.checkin_date.errors }}</p>
          {% endif %}
        </div>
        <div class="input-container">
          <label for="add-time-input">Check In Time</label>
          <select name="checkin_time" id="add-time-input">
            <option value="">---Select Check In Date First---</option>
          </select>
          {% if form.checkin_time.errors %}
            <p class="errorlist">{{ form.checkin_time.errors }}</p>
          {% endif %}
        </div>
      </div>
        
        <div class="input-container">
          <label for="add-duration">Duration</label>
          <select name="duration" id="add-duration">
            <option value="12">12hrs</option>
            <option value="24">24hrs</option>
          </select>
          {% if form.duration.errors %}
              <p class="errorlist">{{ form.duration.errors }}</p>
            {% endif %}
        </div>

        <div class="input-container add-room-container">
          <div class="input-container">
            <label for="add-room-booking">Room</label>
            <select name="room" id="add-room-booking">
              <option value="">----</option>
            </select>
            {% if form.room.errors %}
              <p class="errorlist">{{ form.room.errors }}</p>
            {% endif %}
          </div>

        </div>
        <div class="add-count-adult-kid">
          <div class="input-container">
            <label for="add-adult-count">Adult</label>
            <input type="text" name="adult_count" id="add-adult-count" value="{{ form.adult_count.value|default:'' }}">
            {% if form.adult_count.errors %}
              <p class="errorlist">{{ form.adult_count.errors }}</p>
            {% endif %}
          </div>
          <div class="input-container">
            <label for="add-kid-count">Kid</label>
            <input type="text" name="kid_count" id="add-kid-count" value="{{ form.kid_count.value|default:'' }}">
            {% if form.kid_count.errors %}
              <p class="errorlist">{{ form.kid_count.errors }}</p>
            {% endif %}
          </div>
        </div>
        
      </div>
      <button type="submit">SUBMIT</button>
    </div>
  </div>
</form>

<!-- Delete Form -->
<form class="booking-forms-walkin delete_option" style="display: none;" method="post" action="{% url 'dashboard:delete_booking' %}">
    {% csrf_token %}
    <div class="image-delete-icon">
      <img src="{% static 'images/icons/remove-del.png' %}" alt="exit icon" />
    </div>
    <div class="delete-option-header">
      <h1>Are you sure?</h1>
      <img src="{% static 'images/icons/reject.png' %}" alt="close icon" id="close-delete-guest-btn" />
    </div>
    <input type="hidden" name="deleteID" id="deleteID" value="" />
    <div class="delete-choose-container">
      <p>
        Do you really want to delete this record? This <br /> process cannot be undone.
      </p>
      <div class="button-choose-delete">
        <button class="gray-cancel-button" id="cancel-delete-btn" type="button">Cancel</button>
        <button class="red-delete-button" type="submit">Delete</button>
      </div>
    </div>
</form>

<!-- Update Form -->
<form 
  action="{% url "dashboard:update_booking" %}"
  method="POST"
  class="booking-forms-walkin update_booking_option" 
  style="
  {% if show_form %}
    display: block
  {% else %}
    display: none
  {% endif %}"
>
  {% csrf_token %}
    <div class="update-option-header">
      <h1>Update Booking</h1>
      <img src="{% static 'images/icons/reject.png' %}" alt="close icon" id="close-update-booking-btn" />
    </div>
    <input type="hidden" id="book-update-id" name="id" value="{{id|default:''}}">
    <div class="input-booking-container"> 
    
      <div class="booking-data-display-container">
        <div class="data-display-box">
          <p>Name: <span class="update-name">{{ book.guest.first_name|default:"" }} {{ book.guest.last_name|default:"" }}</span></p>
          <p>Booking ID: <span class="update-id">{{ book.id|default:"" }}</span></p>
        </div>
        <div class="data-display-box">
          <p>Check in Date: <span class="update-checkin_date">{{ book.check_in|date:"M. d, Y"|default:"" }}</span></p>
          <p>Check in Time: <span class="update-checkin_time">{{ book.check_in|time:"g a"|default:"" }}</span></p>
        </div>
      </div>
      <div class="check-inout-update">
        <input type="text" name="checkin_date" id="datepicker" placeholder="Check In Date" readonly>
        <select id="checkin-time-update" class="checkin-time-update" name="checkin_time">
            <option value="8:00am">---Select Check In Date First---</option>
        </select>
      </div>
      <select name="duration" id="edit-duration-input">
        <option value="12">12 hrs</option>
        <option value="24">24 hrs</option>
    </select>
      <div class="update-select-option">
        <label for="update-room-booking">Room</label>
        <div class="input-container">
          <select name="room" id="update-room-booking">
            <option value="">....</option>
          </select>
          {% if form.room.errors %}
            <p class="errorlist">{{ form.room.errors }}</p>
          {% endif %}
        </div>
        
      </div>
      <div class="count-adult-kid-update">
        <div class="input-container">
          <input type="text" name="adult_count" id="" placeholder="Adult" value="{{ form.adult_count.value|default:'' }}">
          {% if form.adult_count.errors %}
            <p class="errorlist">{{ form.adult_count.errors }}</p>
          {% endif %}
        </div>
        <div class="input-container">
          <input type="text" name="kid_count" id="" placeholder="Kid" value="{{ form.kid_count.value|default:'' }}">
          {% if form.kid_count.errors %}
            <p class="errorlist">{{ form.kid_count.errors }}</p>
          {% endif %}
        </div>
        
      </div>

      <button type="submit">UPDATE</button>
    </div>
</form>
{% endblock %}

{% block content %}
  <h1>Booking</h1>

  <!-- Status filter dropdown -->
  <label for="statusFilter">Status: </label>
  <select id="statusFilter">
      <option value="">All</option>
      <option value="Booked">Booked</option>
      <option value="Canceled">Canceled</option>
  </select>
  <label for="dateFilter">Date: </label>
  <select id="dateFilter">
    <option value="">All</option>
    <option value="Today">Today</option>
    <option value="Tomorrow">Tomorrow</option>
  </select>
  <p class="dashboard-add-booking">+ New Booking</p>
  <table id="myTable" class="display">
      <thead>
          <tr>
              <th>ID</th>
              <th>Room</th>
              <th>Check_in</th>
              <th>Check_out</th>
              <th>Date Booking Created</th>
              <th>Guest</th>
              <th>Total Amount</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          {% for book in booking %}
          <tr data-status="{{ book.status }}" data-check-in="{{ book.check_in|date:"m-d-Y" }}">
              <td>{{ book.id }}</td>
              <td>{{ book.room.room_type }}</td>
              <td>{{ book.check_in|date:"m-d-Y" }}, {{ book.check_in|time:"g:i A" }}</td>
              <td>{{ book.check_out|date:"m-d-Y" }}, {{ book.check_out|time:"g:i A" }}</td>
              <td>{{ book.booking_created_at|date:"m-d-Y" }}, {{ book.booking_created_at|time:"g:i A" }}</td>
              <td>{{ book.guest.first_name|add:" "|add:book.guest.last_name }}</td>
              <td>{{ book.total_amount }}</td>
              <td>
                <div class="dot-container">
                  <div class="dot-size">
                    <img src="{% static 'images/icons/dots.png' %}" alt="option" width="100" class="dots-action" />
                    <div class="action-container">
                      <p class="edit-btn" 
                         data-book-id="{{ book.id }}" 
                         data-book-name="{{ book.guest.first_name|add:" "|add:book.guest.last_name }}"
                         data-check-in="{{ book.check_in }}">
                          Edit
                        </p>
                      <p class="delete-btn" data-book-id="{{ book.id }}">Delete</p>
                      <p class="change-status-btn" 
                         data-book-id="{{ book.id }}"
                         data-book-status="{{ book.status }}"
                      >
                        Change Status
                      </p>
                    </div>
                  </div>
                </div>
              </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
{% endblock %}

{% block extra_script %}
<script src="{% static "lib/datatables/dataTables.js" %}"></script>

<script>
  $(document).ready(function () {
    function handleDateSelect(dateText, className) {
      console.log("Selected date: " + dateText);
      console.log(className);

      fetch("{% url 'dashboard:get_time' %}?date=" + encodeURIComponent(dateText))
        .then(response => response.json())
        .then(data => {
          console.log("Available times:", data.available_times);
          const selectTimeInput = $(className);
          selectTimeInput.empty();
          data.available_times.forEach(time => {
            selectTimeInput.append(new Option(time, time));
          });
          selectTimeInput.trigger("change");
        })
        .catch(error => console.error("Error fetching time data:", error));
    }

    function handleTimeSelect(timeInput, dateInput, durationInput, roomInput) {
      const selectedTime = $(timeInput).val();
      const selectedDate = $(dateInput).val();
      const duration = $(durationInput).val();
      console.log(selectedTime, selectedDate, duration);

      if (selectedTime && selectedDate && duration) {
        fetch(
          "{% url 'dashboard:get_rooms' %}?date=" +
            encodeURIComponent(selectedDate) +
            "&time=" +
            encodeURIComponent(selectedTime) +
            "&duration=" +
            encodeURIComponent(duration)
        )
          .then(response => response.json())
          .then(data => {
            const selectRoomInput = $(roomInput);
            selectRoomInput.empty();
            data.available_rooms.forEach(room => {
              selectRoomInput.append(new Option(room.room_type, room.room_id));
            });
            if (selectRoomInput.find("option").length === 0) {
              selectRoomInput.append('<option value="">--No available room--</option>');
            }
          })
          .catch(error => console.error("Error fetching room data:", error));
      } else {
        const selectRoomInput = $(roomInput);
        selectRoomInput.empty();
        selectRoomInput.append('<option value="">--No available room--</option>');
        console.error("All fields (date, time, and duration) are required.");
      }
    }

    const updateTimeSelect = ".checkin-time-update";
    $("#datepicker").datepicker({
      minDate: 0,
      maxDate: 365,
      onSelect: function (dateText) {
        handleDateSelect(dateText, updateTimeSelect);
      }
    });
    const currentYear = new Date().getFullYear();
    const startYear = currentYear - 120;
    $(document).ready(function() {
      $("#add-dob").datepicker({
        dateFormat: "yy-mm-dd",  
        yearRange: `${startYear}:${currentYear}`, 
        changeMonth: true,       
        changeYear: true
      });
    });
   

    const addTimeSelect = "#add-time-input";
    $("#checkin-datepicker").datepicker({
      minDate: 0,
      maxDate: 365,
      onSelect: function (dateText) {
        handleDateSelect(dateText, addTimeSelect);
      }
    });

    const table = $("#myTable").DataTable({
      order: [[2, "desc"]]
    });
    var currentDate = new Date();
    var currentDate1 = new Date();
    currentDate1.setDate(currentDate1.getDate() + 1); // Add 1 day

    var tommorowDate = [
      String(currentDate1.getMonth() + 1).padStart(2, '0'), // Month (01-12)
      String(currentDate1.getDate()).padStart(2, '0'),      // Day (01-31)
      currentDate.getFullYear()                           // Year (e.g., 2024)
    ].join('-');

    console.log(tommorowDate); //
    var currentDate = [
      String(currentDate.getMonth() + 1).padStart(2, '0'), // Month (01-12)
      String(currentDate.getDate()).padStart(2, '0'),      // Day (01-31)
      currentDate.getFullYear()                           // Year (e.g., 2024)
  ].join('-');
  console.log(currentDate);

  $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
    const status = $(table.row(dataIndex).node()).data("status");
    const data_date = $(table.row(dataIndex).node()).data("check-in"); // Ensure `data-check-in` is properly set in the HTML
    console.log(tommorowDate)
    // Check the "Now" filter
    if ($("#dateFilter").val() == "Today") {
      if (data_date == currentDate) {
        return true; 
      }
      return false; 
    }

    if ($("#dateFilter").val() == "Tomorrow") {
      if (data_date == tommorowDate) {
        return true; 
      }
      return false; 
    }
  
    return !$("#statusFilter").val() || status === $("#statusFilter").val();
  });

    $("#statusFilter, #dateFilter").on("change", function () {
      table.draw();
    });

    $("#myTable").on("click", ".dots-action", function (event) {
      const actionContainer = $(this).next(".action-container");
      $(".action-container").hide();
      actionContainer.toggle();
      event.stopPropagation();
    });

    $(document).on("click", function () {
      $(".action-container").hide();
    });

    // Delete functionality
    const deleteForm = $(".delete_option");
    $(document).on("click", ".delete-btn", function () {
      $("#deleteID").val($(this).data("book-id"));
      deleteForm.show();
    });

    $("#close-delete-guest-btn, #cancel-delete-btn").on("click", function () {
      deleteForm.hide();
    });

    // Update functionality
    const updateForm = $(".update_booking_option");
    $(document).on("click", ".edit-btn", function () {
      const bookID = $(this).data("book-id");
      const bookName = $(this).data("book-name");
      const checkinDate = $(this).data("check-in").split(", ")[0] + ",   " + $(this).data("check-in").split(", ")[1];
      const checkinTime = $(this).data("check-in").split(", ")[2];

      $("#book-update-id").val(bookID);
      $(".update-name").text(bookName);
      $(".update-id").text(bookID);
      $(".update-checkin_date").text(checkinDate);
      $(".update-checkin_time").text(checkinTime);
      updateForm.show();
    });

    $("#close-update-booking-btn").on("click", function () {
      updateForm.hide();
    });

    // Time and duration changes
    function addChangeHandler(timeInput, dateInput, durationInput, roomInput) {
      $(timeInput + ", " + durationInput).on("change", function () {
        handleTimeSelect(timeInput, dateInput, durationInput, roomInput);
      });
    }

    addChangeHandler("#checkin-time-update", "#datepicker", "#edit-duration-input", "#update-room-booking");
    addChangeHandler("#add-time-input", "#checkin-datepicker", "#add-duration", "#add-room-booking");

    // Add Form
    const addFormBtn = $(".dashboard-add-booking");
    const addForm = $(".add_booking_option");
    const closeAddFormBtn = $("#close-addnew-booking-btn");

    addFormBtn.on("click", function () {
      addForm.show();
    });

    closeAddFormBtn.on("click", function () {
      addForm.hide();
    });
  });


  // Cancel Form
  const cancelForm = $(".canceled_booking_option");
    $(document).on("click", ".change-status-btn", function () {
      const bookID = $(this).data("book-id");
      const status = $(this).data("book-status");

      $(".label-status-id").text(bookID);
      $("#status-book-id").val(bookID);
      
      if ($(this).data("book-status") == "Booked") {
        $(".label-status").text("Canceled")
      } else {
        $(".label-status").text("Booked")
      }

      console.log($("#status-book-id").val())
      
      cancelForm.show();
    });

    $(".gray-btn-bg, #close-change-booking-btn").on("click", function () {
      cancelForm.hide();
    });
</script>

{% endblock %}
