{% extends "admin_layout.html" %}

{% load static %}

{% block title %}
  Dashboard
{% endblock %}

{% block content %}
    <form action="" class="booking-forms-walkin">
        <h1>Booking Form</h1>
        <input type="text" name="fname" id="f-name-form" placeholder="First Name">
        <input type="text" name="lnane" id="l-name-form" placeholder="Last Name">
        <br>
        <input type="text" name="address" id="address-form" placeholder="Address">
        <br>
        <input type="text" name="dob" id="dob-form" placeholder="DOB" >
        <br>
        <input type="text" name="phone" id="phone-from" placeholder="Phone">
        <input type="text" name="email" id="email-form" placeholder="Email">

        <h1>Rooms</h1>
        <p>Check-in Date</p>
        <input type="text" name="" id="" placeholder="Check-In Date">
        <p>Duration</p>
        <select id="duration-form-walkin">
            <option value="12">12hrs</option>
            <option value="24">24hrs</option>
        </select>
        <select id="duration-form-walkin">
            <option value="12"></option>
            <option value="24">24hrs</option>
          </select>
        <br>
        <input type="text" name="" id="" placeholder="Capacity"><br>
        <button type="button">Submit</button>
    </form>

{% endblock %}