{% extends "admin_layout.html" %}

{% load static %}

{% block title %}
  Dashboard
{% endblock %}

{% block content %}
<div class="metric-container">
	<div class="metric-wrapper">
		<div class="metric-icon-container">
			<div class="metric-background"></div>
			<img src="{% static "images/icons/check-in.png" %}" alt="metric icon" class="metric-icon">
		</div>
		<div class="metric-info">
			<p class="metric-value metric-booking">8,461</p>
			<p class="metric-title">Total Booking</p>
		</div>
	</div>
	<div class="metric-wrapper">
		<div class="metric-icon-container">
			<div class="metric-background"></div>
			<img src="{% static "images/icons/check-in.png" %}" alt="metric icon" class="metric-icon">
		</div>
		<div class="metric-info">
			<p class="metric-value metric-guest">8,461</p>
			<p class="metric-title">Total Guests</p>
		</div>
	</div>
	<div class="metric-wrapper">
		<div class="metric-icon-container">
			<div class="metric-background"></div>
			<img src="{% static "images/icons/check-in.png" %}" alt="metric icon" class="metric-icon">
		</div>
		<div class="metric-info">
			<p class="metric-value metric-month-sales">8,461</p>
			<p class="metric-title">Monthly Sales </p>
		</div>
	</div>
	<div class="metric-wrapper">
		<div class="metric-icon-container">
			<div class="metric-background"></div>
			<img src="{% static "images/icons/check-in.png" %}" alt="metric icon" class="metric-icon">
		</div>
		<div class="metric-info">
			<p class="metric-value metric-avail-room">8,461</p>
			<p class="metric-title">Available Room</p>
		</div>
	</div>
</div>
<div class="chart-container">
  <div class="chart-wrapper">
    <h3 class="chart-title">Room Bookings</h3>
    <canvas id="myBarChart" width="400" height="200"></canvas>
  </div>
  <div class="chart-wrapper">
    <h3 class="chart-title">Monthly Sales</h3>
    <canvas id="myLineChart" width="400" height="200"></canvas> 
  </div>
</div>
<div class="chart-container">
  <div class="chart-wrapper">
    <h3 class="chart-title">Booking Comparison</h3>
    <canvas id="sales-comparison-chart" width="400" height="200"></canvas>
  </div>
  <div class="chart-wrapper">
    <h3 class="chart-title">Room Bookings vs. Sales</h3>
    <canvas id="comboChart" width="400" height="200"></canvas> 
  </div>
</div>

{% endblock %}

{% block extra_script %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
      const barCtx = document.getElementById('myBarChart').getContext('2d');
      const lineCtx = document.getElementById('myLineChart').getContext('2d');
			const salesCtx = document.getElementById('sales-comparison-chart').getContext('2d');
			const comboCtx = document.getElementById('comboChart').getContext('2d');
			const metricBooking = document.querySelector('.metric-booking');
			const metricGuest = document.querySelector('.metric-guest');
			const metricMonthSales = document.querySelector('.metric-month-sales');
			const metricAvailRoom = document.querySelector('.metric-avail-room');
      let barChart, lineChart, salesChart, comboChart;

      function fetchChartData() {
          fetch("{% url 'dashboard:sample_sales_data' %}")
              .then(response => {
                  if (!response.ok) {
                      throw new Error('Network response was not ok');
                  }
                  return response.json();
              })
              .then(data => {
                  console.log(data);
									
									console.log(metricBooking);

									metricBooking.textContent = data.metric_total;
									metricGuest.textContent = data.metric_guest;
									metricAvailRoom.textContent = data.metric_avail_room;
									const monthSales = data.metric_month_sales;

									const formattedSales = `₱${new Intl.NumberFormat().format(monthSales)}`;

									metricMonthSales.textContent = formattedSales;
                  
                  if (barChart) {
                      barChart.data.labels = data.room_labels;
                      barChart.data.datasets[0].data = data.room_bookings;
                      barChart.update(); 
                  } else {
                      barChart = new Chart(barCtx, {
                          type: 'bar',
                          data: {
                              labels: data.room_labels,
                              datasets: [{
                                  label: 'Book Count',
                                  data: data.room_bookings,
                                  backgroundColor: 'rgba(75, 192, 192)',
                                  borderColor: 'rgba(75, 192, 192, 1)',
                                  borderWidth: 1
                              }]
                          },
                          options: {
                              scales: {
                                  y: {
                                      beginAtZero: true
                                  }
                              }
                          }
                      });
                  }

                  const lineData = {
                      labels: data.sales_months,
                      datasets: [{
                          label: 'Sales',
                          data: data.sales_amounts, 
                          backgroundColor: 'rgba(255, 99, 132, 1)',
                          borderColor: 'rgba(255, 99, 132, 1)',
                          tension: 0.1
                      }]
                  };

                  if (lineChart) {
                      lineChart.data.labels = lineData.labels;
                      lineChart.data.datasets[0].data = lineData.datasets[0].data;
                      lineChart.update();
                  } else {
                      lineChart = new Chart(lineCtx, {
                          type: 'line',
                          data: lineData,
                          options: {
                              scales: {
                                  y: {
                                      beginAtZero: true
                                  }
                              }
                          }
                      });
                  }

									const salesData = {
										labels: data.sales_months,
										datasets: [
												{
													label: data.sales_labels[1],
													data: data.sales_past_amounts,
													backgroundColor: 'rgba(54, 162, 235, 1)', 
													borderColor: 'rgba(54, 162, 235, 1)',
													tension: 0.1,
													fill: false  // Ensure lines are not filled
												},
												{
													label: data.sales_labels[0],
														data: data.bookCountperMonth[1], 
														backgroundColor: 'rgba(255, 99, 132, 1)',
														borderColor: 'rgba(255, 99, 132, 1)',
														tension: 0.1,
														fill: false
												}
										]
								};
								
								if (salesChart) {
										salesChart.data.labels = salesData.labels;
										salesChart.data.datasets[0].data = salesData.datasets[0].data; 
										salesChart.data.datasets[1].data = salesData.datasets[1].data; 
										salesChart.update();
								} else {
										salesChart = new Chart(salesCtx, {
												type: 'line',
												data: salesData, 
												options: {
														scales: {
																y: {
																		beginAtZero: true
																}
														}
												}
										});
								}

                const comboData = {
                  labels: data.room_labels,
                  datasets: [
                      {
                          label: data.sales_labels[0],  // Change to sales
                          data: data.room_sales, 
                          backgroundColor: 'rgba(255, 99, 132, 0.8)',
                          borderColor: 'rgba(255, 99, 132, 1)',
                          tension: 0.1,
                          fill: false,
                          yAxisID: 'salesYAxis' // Assign to the first Y-axis (left)
                      },
                      {
                          label: data.sales_labels[1],  // Change to bookings
                          data: data.room_bookings,
                          backgroundColor: 'rgba(54, 162, 235, 0.8)', 
                          borderColor: 'rgba(54, 162, 235, 1)',
                          tension: 0.1,
                          type: 'bar',
                          fill: false,  // Ensure lines are not filled
                          yAxisID: 'bookingYAxis' // Assign to the second Y-axis (right)
                      }
                  ]
              };
              
              if (comboChart) {
                  comboChart.data.labels = data.room_labels;
                  comboChart.data.datasets[0].data = comboData.datasets[0].data; 
                  comboChart.data.datasets[1].data = comboData.datasets[1].data; 
                  comboChart.update();
              } else {
                  comboChart = new Chart(comboCtx, {
                      type: 'line',
                      data: comboData, 
                      options: {
                          scales: {
                              salesYAxis: {
                                  type: 'linear',
                                  position: 'left',  // Sales on the left
                                  beginAtZero: true
                              },
                              bookingYAxis: {
                                  type: 'linear',
                                  position: 'right', // Bookings on the right
                                  beginAtZero: true,
                                  grid: {
                                      drawOnChartArea: false // Only show grid on one side
                                  }
                              }
                          }
                      }
                  });
              }
              
								
              })

							
              .catch(error => console.error('Error fetching sales data:', error)); 
      }
	
		

      fetchChartData();

      setInterval(fetchChartData, 5000);
  </script>
{% endblock %}
