{% extends "admin_layout.html" %}

{% load static %}
{% load custom_filters %}

{% block title %}
  Guest
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static "lib/datatables/dataTables.css" %}">

{% endblock %}

{% block content %}
  <h1>Guests</h1>
  <table id="myTable" class="display">
    <thead>
        <tr>
            <th>Guest ID</th>
            <th>Full Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tbody>
        {% for guest in guests %}
        <tr>
            <td>{{ guest.id|default:"" }}</td>
            <td>{{ guest.first_name|default:"" }} {{ guest.last_name|default:"" }}</td>
            <td>
                {% if guest.date_of_birth %}
                    {{ guest.date_of_birth|age }}
                {% else %}
               
                {% endif %}
            </td>
            <td>{{ guest.address|default:"" }}</td>
            <td>{{ guest.phone|default:"" }}</td>
        </tr>
        {% endfor %}


{% endblock %}

{% block extra_script  %}
    <script src="{% static "lib/jquery/jquery-3.7.1.js" %}"></script>

    <script src="{% static "lib/datatables/dataTables.js" %}"></script>

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>

{% endblock  %}