{% extends 'admin_layout.html' %}

{% load static %}

{% block title %}
  Dashboard
{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/option.css' %}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
{% endblock %}


{% block content %}

<form class="manage-email" action="">
  <div class="manage-email-container">
    <label for="">Main message:</label>
    <div class="input-container">
      <textarea name="" id="" rows="5" readonly></textarea>
    </div>
  </div>
  <div class="manage-email-container">
    <label for="">Closing message:</label>
    <div class="input-container">
      <textarea name="" id="" rows="5" readonly></textarea>
    </div>
  </div>
  <div class="manage-contact-email">
    <div class="manage-ce-box">
      <label for="">Contact number:</label>
      <div class="input-container">
        <input type="text" name="" id="" readonly></input>
      </div>
    </div>
    <div class= "manage-ce-box">
      <label for="">Email:</label>
      <div class="input-container">
        <input type="text" name="" id="" readonly></input>
      </div>
    </div>
  </div>

  <div class="manage-email-btn-container">
    <p>EDIT</p>
    <button type="submit">SAVE</button>
  </div>
  
</form>
{% endblock %}
