{% extends 'admin_layout.html' %}

{% load static %}

{% block title %}
  Dashboard
{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/option.css' %}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
{% endblock %}


{% block content %}

<form class="manage-email" action="{% url "dashboard:manage_email" %}" method="post">
  {% csrf_token %}
  <div class="manage-email-container">
    <label for="">Main message:</label>
    <div class="input-container">
      {% if invalid_form %}
        <textarea style="background-color:#fff" name="main_message" id="main_message" rows="5" class="input-manage-email">{{ form.main_message.value }}</textarea>
      {% else %}
        <textarea name="main_message" id="main_message" rows="5" readonly class="input-manage-email">{{ main_message }}</textarea>
      {% endif %}
      
      {% if form.main_message.errors %}
        <p class="errorlist">{{ form.main_message.errors }}</p>
      {% endif %}
    </div>
  </div>
  <div class="manage-email-container">
    <label for="">Closing message:</label>
    <div class="input-container">
      {% if invalid_form %}
        <textarea style="background-color:#fff" name="closing_message" id="closing_message" rows="5" readonly class="input-manage-email">{{ form.closing_message.value }}</textarea>
      {% else %}
        <textarea name="closing_message" id="closing_message" rows="5" readonly class="input-manage-email">{{ closing_message }}</textarea>
      {% endif %}
      
      {% if form.closing_message.errors %}
        <p class="errorlist">{{ form.closing_message.errors }}</p>
      {% endif %}
    </div>
  </div>
  <div class="manage-contact-email">
    <div class="manage-ce-box">
      <label for="">Contact number:</label>
      <div class="input-container">
        {% if invalid_form %}
        <input style="background-color:#fff" type="text" name="contact_num" id="contact_num" value="{{ form.contact_num.value }}" class="input-manage-email" ></input>
        {% else %}
          <input type="text" name="contact_num" id="contact_num" readonly value="{{ contact_num }}" class="input-manage-email" ></input>
        {% endif %}
        
        {% if form.contact_num.errors %}
          <p class="errorlist">{{ form.contact_num.errors }}</p>
        {% endif %}
      </div>
    </div>
    <div class= "manage-ce-box">
      <label for="">Email:</label>
      <div class="input-container">
        {% if invalid_form %}
          <input style="background-color:#fff" type="text" name="email" id="email" value="{{ form.email.value }}" class="input-manage-email"></input>
        {% else %}
          <input type="text" name="email" id="email" readonly value="{{ email }}" class="input-manage-email"></input>
        {% endif %}
        
        {% if form.email.errors %}
            <p class="errorlist">{{ form.email.errors }}</p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="manage-email-btn-container">
    <p id="edit-btn">EDIT</p>
    <button type="submit">SAVE</button>
  </div>
  
</form>
{% endblock %}

{% block extra_script %}
<script>
  main_message_input = document.querySelector('#main_message')
  closing_message_input = document.querySelector('#closing_message')
  contact_num_input = document.querySelector('#contact_num')
  email_input = document.querySelector('#email')
  editBtn = document.querySelector('#edit-btn')
  allInputs = document.querySelectorAll('.input-manage-email')
  console.log(allInputs)
  
  
  editBtn.addEventListener('click', function() {
    main_message_input.removeAttribute('readonly');
    closing_message_input.removeAttribute('readonly');
    contact_num_input.removeAttribute('readonly');
    email_input.removeAttribute('readonly');
    allInputs.forEach(function(input) {
      input.style.backgroundColor = '#fff';  
    });
  })
</script>
{% endblock  %}
