{% extends 'admin_layout.html' %}

{% load static %}

{% block title %}
  Dashboard
{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/option.css' %}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
{% endblock %}

{% block in_body %}
{% endblock  %}


{% block content %}

<form class="add-ammenities booking-forms-walkin" action="">
  <div class="option-header2">
    <h1>Add New Amenities</h1>
    <img src="{% static 'images/icons/reject.png' %}" alt="close icon" id="close-new-room-btn" />
  </div>

  <div class="amenities-info">
    <div class="Amenities-container">
      <div class="input-amenities">
        <input type="text" name="name-amenities" id="name-amenities" placeholder="Name">
      </div>

      <div class="input-icon">
        <p>Icon</p>
        <input type="file" name="picture" id="dob-form" />
      </div>

    </div>


    <button type="submit">Submit</button>
  </div>
</form>
{% endblock %}
