{% extends 'admin_layout.html' %}

{% load static %}

{% block title %}
  Dashboard
{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/option.css' %}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
{% endblock %}

{% block content %}
  <form class="booking-forms-walkin update_rtype_option" style="display: block;">
    <div class="update-option-header">
      <h1>Update Room Type</h1>
      <img src="{% static 'images/icons/reject.png' %}" alt="close icon" id="close-update-exist-rtype-btn" />
    </div>

    <div class="update_exist_rtype_container">
      <div class="exist-input-rtype-price">
        <input type="text" placeholder="Room Type" name="roomtype" id="update-type-rtype">
        <input type="text" placeholder="Price" name="price" id="update-type-price">
      </div>
      <textarea name="description" class="no-resize" rows="5" id="rtype-exit-update" placeholder="Description"></textarea>
      <input class="cap-exist" type="text" placeholder="Capacity">

      <div class="exist-file-group">
        <p>Picture</p>
        <input type="file" name="picture" id="update-dob-form" />
      </div>

      <div class="input-group update_cot_req">
        <input type="checkbox" id="update-type-cottage-req" name="cottage-req" />
        <label for="exist_cottage_req">Cottage Required</label>
      </div>
      <button class="btn-update_rtype" type="button">Update</button>
    </div>
  </form>
{% endblock %}
