{% load static %}

<table id="myTable1" class="display roomTable1">
  <thead>
    <tr>
      <th>Room Number</th>
      <th>Room Type</th>
      <th>Price</th>
      <th>Capacity</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for room in rooms %}
      <tr>
        <td>{{ room.room_number }}</td>
        <td>{{ room.room_type.room_type }}</td>
        <td>{{ room.room_type.price }}</td>
        <td>{{ room.room_type.capacity }}</td>
        <td>
          <div class="dot-container">
            <div class="dot-size">
              <img src="{% static 'images/icons/dots.png' %}" alt="option" width="100" class="dots-action" />
              <div class="action-container">
                <p>Edit</p>
                <p>Delete</p>
              </div>
            </div>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<form class="booking-forms-walkin updateroom-form" style="display: z;">
  <div class="updateroom-header">
    <h1>Update Room</h1>
    <img src="{% static 'images/icons/button-option.png' %}" alt="close icon" id="close-update-exist-room-btn" />
  </div>

  <div class="update-room-info">
    <div class="update-input-group">
      <label for="room-number">Room Number</label>
      <input type="text" name="room_number" id="updateroom-number" required placeholder="Enter room number" />
    </div>

    <div class="update-input-group">
      <label for="room-type-select">Room Type</label>
      <select name="room_type" id="updateroom-type-select" required>
        <option value="">--------------</option>
      </select>
    </div>

    <button type="submit">UPDATE</button>
  </div>
</form>
<p class="testP">hey</p>

<script>
  
  document.addEventListener('DOMContentLoaded', function () {
    const dotsActions = document.querySelectorAll('.dots-action')
  
    dotsActions.forEach((dotsAction) => {
      dotsAction.addEventListener('click', function (event) {
        const actionContainer = dotsAction.nextElementSibling
  
        if (actionContainer.style.display === 'block') {
          actionContainer.style.display = 'none'
        } else {
          document.querySelectorAll('.action-container').forEach((container) => {
            container.style.display = 'none'
          })
          actionContainer.style.display = 'block'
        }
  
        event.stopPropagation()
      })
    })
  
    document.addEventListener('click', function () {
      document.querySelectorAll('.action-container').forEach((container) => {
        container.style.display = 'none'
      })
    })
  })
</script>
