{% extends "admin_layout.html" %}

{% load static %}

{% block title %}
  Room
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static "lib/datatables/dataTables.css" %}">

{% endblock %}

{% block content %}
  <h1>Room</h1>

  <table id="myTable" class="display">
    <thead>
        <tr>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Description</th>
            <th>Price</th>
            <th>Capacity</th>
        </tr>
    </thead>
    <tbody>
        {% for room in rooms %}
        <tr>
            <td>{{room.room_number}}</td>
            <td>{{room.room_type.room_type}}</td>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim veritatis molestiae officiis non. Amet adipisci dolorem, molestiae, quae aperiam optio vitae sequi natus nulla reiciendis at iusto, non tenetur minima!</td>
            <td>{{room.room_type.price}}</td>
            <td>{{room.room_type.capacity}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>    
{% endblock %}
{% block extra_script  %}
    <script src="{% static "lib/jquery/jquery-3.7.1.js" %}"></script>

    <script src="{% static "lib/datatables/dataTables.js" %}"></script>

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>

{% endblock  %}