
<table id="myTable2" class="display roomTable2">
  <thead>
      <tr>
          <th>Room Type</th>
          <th>Description</th>
          <th>Price</th>
          <th>Capacity</th>
      </tr>
  </thead>
  <tbody>
      {% for roomtype in roomtypes %}
      <tr>
          <td>
            <div class="room-picture-table-container">
                <img src="{{roomtype.picture.url}}" alt="room" class="room-picture-table">
                <p>{{ roomtype.room_type }}</p>
            </div>
          </td>
          <td>{{ roomtype.description }}</td>
          <td>{{ roomtype.price }}</td>
          <td>{{ roomtype.capacity }}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>

