{% load static %}


<table id="myTable1" class="display roomTable1">
  <thead>
    <tr>
      <th>Room Number</th>
      <th>Room Type</th>
      <th>Price</th>
      <th>Capacity</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for room in rooms %}
      <tr>
        <td>{{ room.room_number }}</td>
        <td>{{ room.room_type.room_type }}</td>
        <td>{{ room.room_type.price }}</td>
        <td>{{ room.room_type.capacity }}</td>
        <td>
          <div class="dot-container">
            <div class="dot-size">
              <img src="{% static 'images/icons/dots.png' %}" alt="option" width="100" class="dots-action" />
              <div class="action-container">
                <p class="edit-mode" 
                  data-room-id="{{ room.id }}"
                  data-room-number="{{ room.room_number }}"
                  data-room-type="{{ room.room_type.room_type }}"
                >
                  Edit
                </p>
                <p class="delete-mode" data-room-id="{{ room.id }}">Delete</p>
              </div>
            </div>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<script>
    const closeBtnDelete = document.querySelector('#close-update-exist-room-btn')
    const dotsActions = document.querySelectorAll('.dots-action')
    const deleteForm = document.querySelector('.delete_option')
    const deleteModes = document.querySelectorAll('.delete-mode')
    
    const deleteConfirm = document.querySelector('.red-delete-button')
    const deleteID = document.querySelector('#deleteID')
    //new 

    const editModes = document.querySelectorAll('.edit-mode')
    const updateRoomForm = document.querySelector('.updateroom-form')
    const closeUpdateBtn = document.getElementById('update-close-btn')
    
    closeUpdateBtn.addEventListener('click', function() {
      updateRoomForm.style.display = "none"
    })

    editModes.forEach((editMode) => {
      editMode.addEventListener('click', function (event) {
        const roomId = editMode.getAttribute('data-room-id');
        const roomNumber = editMode.getAttribute('data-room-number');
        const roomType = editMode.getAttribute('data-room-type')
        const updateRoomNumberInput = document.getElementById('updateroom-number')
        const updateRoomIdInput = document.getElementById('updateroom-id')
        const roomTypeSelect = document.getElementById('updateroom-type-select');
        console.log(roomTypeSelect)
        const options = [
        {% for roomtype in roomtypes %}
          {value: '{{roomtype.id}}', text: '{{roomtype.room_type}}'},
        {% endfor %}
        ]

        options.forEach(optionData => {
          const option = document.createElement('option');
          option.value = optionData.value;
          option.text = optionData.text;
          if (optionData.text == roomType) {
            option.selected = true
          }
          roomTypeSelect.add(option);
        })


        updateRoomIdInput.value = roomId
        updateRoomNumberInput.value = roomNumber
        updateRoomForm.style.display = "block"
        console.log(updateRoomIdInput)
      })
    })
    //end
    const deleteCancelBtn = document.querySelector('.gray-cancel-button')
    deleteCancelBtn.addEventListener('click', function() {
      deleteForm.style.display = "none"
    })

    //newend
    closeBtnDelete.addEventListener('click', function() {
      deleteForm.style.display = "none"
    })


    deleteModes.forEach((deleteMode) => {
      deleteMode.addEventListener('click', function (event) {
        deleteForm.style.display = "block"
        const roomId = deleteMode.getAttribute('data-room-id');
        console.log('Room ID:', roomId); 
        deleteID.value = roomId
        console.log(deleteID)
      })
    })

    dotsActions.forEach((dotsAction) => {
      dotsAction.addEventListener('click', function (event) {
        const actionContainer = dotsAction.nextElementSibling
  
        if (actionContainer.style.display === 'block') {
          actionContainer.style.display = 'none'
        } else {
          document.querySelectorAll('.action-container').forEach((container) => {
            container.style.display = 'none'
          })
          actionContainer.style.display = 'block'
        }
  
        event.stopPropagation()
      })
    })
  
    document.addEventListener('click', function () {
      document.querySelectorAll('.action-container').forEach((container) => {
        container.style.display = 'none'
      })
    })
</script>
