{% extends 'admin_layout.html' %}

{% load static %}

{% block title %}
  Room
{% endblock %}

{% block pagetitle %}
  Room
{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'lib/datatables/dataTables.css' %}" />
  <link rel="stylesheet" href="{% static 'css/option.css' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
  <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
  <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet" />
{% endblock %}
{% block in_body %}
  <form action="{% url "dashboard:update_room_type" %}"
        method="post"
        class="booking-forms-walkin update_rtype_option" 
        style= "
        {% if showUpdateType %}
          display: block;
        {% else %}
          display: none;
        {% endif %};"  
        enctype="multipart/form-data"
  >
    {% csrf_token %}
    <div class="update-option-header">
      <h1>Update Room Type</h1>
      <img src="{% static 'images/icons/reject.png' %}" alt="close icon" id="close-update-exist-rtype-btn" />
    </div>

      <input type="hidden" name="roomtype_id" id="update-type-id" value="{{ room_id |default:'' }}">
    <div class="main-container-edit-rtype">
      <div class="update_exist_rtype_container">
        <div class="exist-input-rtype-price">
          <div>
            <input type="text" placeholder="Room Type" name="room_type" id="update-type-rtype"  value="{{ form.room_type.value|default:'' }}">
            {% if form.room_type.errors %}
                <p class="errorlist">{{ form.room_type.errors }}</p>
            {% endif %}
          </div>
          <div>
            <input type="text" placeholder="Price" name="price" id="update-type-price"  value="{{ form.price.value|default:'' }}">
            {% if form.price.errors %}
                <p class="errorlist">{{ form.price.errors }}</p>
            {% endif %}
          </div>
          
        </div>
        <div class="input-container">
          <textarea name="description" class="no-resize" rows="5" name="description" id="update-type-description" placeholder="Description">{{ form.description.value|default:'' }}</textarea>
          {% if form.description.errors %}
                <p class="errorlist">{{ form.description.errors }}</p>
            {% endif %}
        </div>
          <div class="input-container">
            {% if form.price.errors %}
                <p class="errorlist">{{ form.price.errors }}</p>
            {% endif %}
          </div>
  
          <div class="update-capacity-rooms">
            <input class="cap-exist" type="text" placeholder="Capacity" name="capacity" id="update-type-capacity"  value="{{ form.capacity.value|default:'' }}">
            {% if form.capacity.errors %}
                <p class="errorlist">{{ form.capacity.errors }}</p>
            {% endif %}
          </div>
          
  
          <div class="exist-file-group">
            <p>Picture</p>
            <input type="file" name="picture" id="update-dob-form" value="{{ form.picture.value|default:'' }}"/>
        </div>
  
        <div class="input-group update_cot_req">
          <input type="checkbox" id="update-type-cottage-req" name="is_cottage_required" {% if form.is_cottage_required.value %}checked{% endif %}/>
          <label for="exist_cottage_req">Cottage Required</label>
        </div>
      </div>
      <div class="sec-container-rtype">
        <h3>Amenities</h3>
        <div class="amenities-checkbox">
          {% for amenity in amenities %}
          <div class="type-amenities">
            <input type="checkbox" value={{amenity.id}} name="amenities">
            <p>{{amenity.name}}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    
    <button class="btn-update_rtype" type="submit">Update</button>
    
  </form>

  <form id="file-upload-form"action="" class="booking-forms-walkin edit-pictures-container" style="display:none">
    {% csrf_token %}
    <div class="edit-pictures-div">
      <img src="{% static "images/icons/reject.png" %}" alt="close icon" id="edit-close-btn">
      <h1>EDIT PICTURES</h1>
        <input type="file" id="test-files" multiple name="all-files">
        <input type="hidden" name="roomtype_id_pic" id="roomtype_id_pic">
        <div class="button-sub-img">
          <p>Note: Only 5 pictures can be uploaded.</p>
          <input class="upload-pic-submit" type="submit" value="Upload Files">
        </div>
    </div>
    
  </form>
{% endblock  %}
{% block content %}

  <form class="booking-forms-walkin updateroom-form" 
        style="display: none;"
        method="post"
        action={% url "dashboard:update_room" %}
  >
  {% csrf_token %}
    <div class="updateroom-header">
      <h1>Update Room</h1>
      <img src="{% static 'images/icons/reject.png' %}" alt="close icon" id="update-close-btn" />
    </div>

    <div class="update-room-info">
      <div class="update-input-group">
        <label for="room-number">Room Number</label>
        <input type="text" name="room_number" id="updateroom-number" required placeholder="Enter room number" />
      </div>
      <input type="hidden" name="room_id" id="updateroom-id" value="" />
      <div class="update-input-group">
        <label for="room-type-select">Room Type</label>
        <select name="room_type" id="updateroom-type-select" required></select>
      </div>

      <button type="submit">UPDATE</button>
    </div>
  </form>
  <form class="booking-forms-walkin delete_option" style="display: none;" method="post" action="{% url 'dashboard:delete_room' %}">
    {% csrf_token %}
    <div class="image-delete-icon">
      <img src="{% static 'images/icons/remove-del.png' %}" alt="exit icon" />
    </div>
    <div class="delete-option-header">
      <h1>Are you sure?</h1>
      <img src="{% static 'images/icons/reject.png' %}" alt="close icon" id="close-update-exist-room-btn" />
    </div>
    <input type="hidden" name="deleteID" id="deleteID" value="" />
    <div class="delete-choose-container">
      <p>
        Do you really want to delete this record? This <br /> process cannot be undone.
      </p>
      <div class="button-choose-delete">
        <button class="gray-cancel-button" type="button">Cancel</button>
        <button class="red-delete-button" type="submit">Delete</button>
      </div>
    </div>
  </form>
  <form class="booking-forms-walkin delete_option_roomtype" style="display: none;" method="post" action="{% url 'dashboard:delete_roomtype' %}">
    {% csrf_token %}
    <div class="image-delete-icon">
      <img src="{% static 'images/icons/remove-del.png' %}" alt="exit icon" />
    </div>
    <div class="delete-option-header">
      <h1>Are you sure?</h1>
      <img src="{% static 'images/icons/reject.png' %}" alt="close icon" id="close-update-exist-room-btn2" />
    </div>
    <input type="hidden" name="deleteID2" id="deleteID2" value="" />
    <div class="delete-choose-container">
      <p>
        Do you really want to delete this record? This <br /> process cannot be undone.
      </p>
      <div class="button-choose-delete">
        <button class="gray-cancel-button cancel-roomtype" type="button">Cancel</button>
        <button class="red-delete-button" type="submit">Delete</button>
      </div>
    </div>
  </form>
  <form action="{% url 'dashboard:add_new_room_type' %}"
    class="booking-forms-walkin add-new-room-type"
    style="{% if show_form2 %}
      display: block;
    {% else %}
      display: none;
    {% endif %};"
    method="POST"
    enctype="multipart/form-data">
    {% csrf_token %}
    <div class="option-header2">
      <h1>Add New Room</h1>
      <img src="{% static 'images/icons/reject.png' %}" alt="close icon" id="close-new-room-btn" />
    </div>

    
    <div class="main-container-add-rtype">
      <div class="room-type-info">
        <div class="input-group">
          <div class="input-container1">
            <input type="text" name="room_type" id="f-name-form" placeholder="Room Type" value="{{ form.room_type.value|default:'' }}" />
            {% if form.room_type.errors %}
              <p class="errorlist">{{ form.room_type.errors }}</p>
            {% endif %}
          </div>
  
          <div class="input-container1">
            <input type="text" name="room_number" id="l-name-form" placeholder="Room Number" value="{{ form2.room_number.value|default:'' }}" />
            {% if form.room_number.errors %}
              <p class="errorlist">{{ form.room_type.errors }}</p>
            {% endif %}
          </div>
        </div>
        <div class="input-group inprice">
          <div class="input-container1">
            <input type="text" name="price" placeholder="Price" value="{{ form.price.value|default:'' }}" />
            {% if form.price.errors %}
              <p class="errorlist">{{ form.price.errors }}</p>
            {% endif %}
          </div>
        </div>
        <div class="input-group indesc">
          <div class="input-container1">
            <textarea rows="5" class="no-resize" name="description" id="" placeholder="Description">{{ form.description.value|default:'' }}</textarea>
            {% if form.description.errors %}
              <p class="errorlist">{{ form.description.errors }}</p>
            {% endif %}
          </div>
        </div>
        <div class="input-group incap">
          <div class="input-container1">
            <input type="text" name="capacity" id="address-form" placeholder="Capacity" value="{{ form.capacity.value|default:'' }}" />
            {% if form.capacity.errors %}
              <p class="errorlist">{{ form.capacity.errors }}</p>
            {% endif %}
          </div>
        </div>

        <div class="input-group cot_req">
          <input type="checkbox" id="cottage_req" name="cottage_req" />
          <label for="cottage_req">Cottage Required</label>
        </div>
      </div>

      <div class="sec-container-rtype">
        <h3>Amenities</h3>
        <div class="amenities-checkbox">
          {% for amenity in amenities %}
          <div class="type-amenities">
            <input type="checkbox" value={{amenity.id}} name="amenities">
            <p>{{amenity.name}}</p>
          </div>
          {% endfor %}
          
          
        </div>
      </div>

      <div class="third-container-rtype">
        <div class="pictures-room-container">
          <h3>Add Image</h3>
          <div class="file-pic-group">
            <p>Picture 1</p>
            <input type="file" name="picture1" id="picture1" />
          </div>
          <div class="file-pic-group">
            <p>Picture2</p>
            <input type="file" name="picture2" id="picture2" />
          </div>
          <div class="file-pic-group">
            <p>Picture3</p>
            <input type="file" name="picture3" id="picture3" />
          </div>
          <div class="file-pic-group">
            <p>Picture4</p>
            <input type="file" name="picture4" id="picture4" />
          </div>
          <div class="file-pic-group">
            <p>Picture5</p>
            <input type="file" name="picture5" id="picture5" />
          </div>
        </div>
      </div>

    </div>
    <div class="add-rtype-btn" >
      <button type="submit">Submit</button>
    </div>
    
  </form>
  <form action="{% url 'dashboard:add_existing_room' %}"
    method="post"
    class="booking-forms-walkin addroom-form"
    id="addroom-form"
    style="{% if show_form %}
      display: none;
    {% else %}
      display: block;
    {% endif %};">
    {% csrf_token %}
    <div class="option-header3">
      <h1>Add Room</h1>
      <img src="{% static 'images/icons/reject.png' %}" alt="close icon" id="close-existing-room-btn" />
    </div>

    <div class="room-type-info">
      <div class="input-group">
        <label for="room-number">Room Number</label>
        <input type="text" name="room_number" id="room-number" required placeholder="Enter room number" />
      </div>

      <div class="input-group">
        <label for="room-type-select">Room Type</label>
        <select name="room_type" id="room-type-select" required>
          <option value="">--------------</option>
          {% for roomtype in roomtypes %}
            <option value="{{ roomtype.id }}">{{ roomtype.room_type }}</option>
          {% endfor %}
        </select>
      </div>

      <button type="submit">Submit</button>
    </div>
  </form>
  <div class="room-tab">
    <h3 class="room-selection current-tab">Room</h3>
    <h3 class="type-selection">Room Type</h3>
  </div>

  <div class="option_room_form">
    <div class="option-header">
      <h1>Add Room</h1>
      <img src="{% static 'images/icons/reject.png' %}" alt="close icon" id="close-room-option" />
    </div>
    <div class="option-container">
      <button type="button" class="add-new-type-btn">New Room Type</button>
      <button type="button" class="add-existing-btn">Existing Room Type</button>
    </div>
  </div>
  <p class="dashboard-add-room">+ New Room</p>

  <div id="roomTableContainer">
    {% if switchToRoom %}
      {% include 'dashboard/room_type_table.html' %}
    {% else %}
      {% include 'dashboard/room_table.html' %}
    {% endif %}
  </div>
{% endblock %}
{% block extra_script %}
  <script src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>

<script>
    console.log('testss')

    const editPicsForm = document.querySelector('.edit-pictures-container');
    const openEditBtns = document.querySelectorAll('.open-edit-pic');
    const closeEditForm = document.getElementById('edit-close-btn');
    
    // Close button functionality
    closeEditForm.addEventListener('click', function () {
        editPicsForm.style.display = 'none';
    });

    // Loop through each "open-edit-pic" button
    openEditBtns.forEach((openEdit) => {
        openEdit.addEventListener('click', function (event) {
            const rtype_id = openEdit.getAttribute('data-rtype-id'); // Get room type ID
            const rtypeInput = document.querySelector('#roomtype_id_pic');
            rtypeInput.value = rtype_id;
            console.log('id ' + rtype_id);

            // Fetch data for editing pictures
            fetch("{% url 'dashboard:get_pictures' %}?id=" + encodeURIComponent(rtype_id))
                .then(response => response.json())
                .then(data => {
                    // Log the fetched image URLs
                    console.log(data.image_urls);

                    // Update the initialFiles array with the fetched URLs
                    const initialFiles = data.image_urls.map(url => ({
                        source: url,
                        options: {
                            type: 'local',
                        },
                    }));

                    // Clear existing files from FilePond
                    pond.removeFiles(); // Remove all current files

                    // Add the new files to FilePond
                    initialFiles.forEach(file => pond.addFile(file.source));

                    console.log('Updated FilePond with fetched images.');
                })
                .catch(error => console.error("Error fetching image data:", error));

            // Show the edit pictures form
            editPicsForm.style.display = 'block';

            console.log('Edit pictures form opened');
            event.stopPropagation(); // Stop propagation to prevent other listeners
        });
    });

    function convertToJpg(file) {
      return new Promise((resolve, reject) => {
          const reader = new FileReader();
          reader.onload = function (event) {
              const img = new Image();
              img.onload = function () {
                  const canvas = document.createElement('canvas');
                  const ctx = canvas.getContext('2d');
  
                  // Set canvas dimensions to the image dimensions
                  canvas.width = img.width;
                  canvas.height = img.height;
  
                  // Draw the image onto the canvas
                  ctx.drawImage(img, 0, 0);
  
                  // Convert canvas to JPEG blob
                  canvas.toBlob(
                      (blob) => {
                          if (blob) {
                              const jpgFile = new File([blob], `${file.name.split('.')[0]}.jpg`, {
                                  type: 'image/jpeg',
                              });
                              resolve(jpgFile);
                          } else {
                              reject(new Error('Canvas toBlob failed.'));
                          }
                      },
                      'image/jpeg',
                      0.95 // Quality (0.0 - 1.0)
                  );
              };
              img.onerror = () => reject(new Error('Image load failed.'));
              img.src = event.target.result;
          };
          reader.onerror = () => reject(new Error('FileReader failed.'));
          reader.readAsDataURL(file);
      });
  }

    // Register the Image Preview Plugin
    FilePond.registerPlugin(FilePondPluginImagePreview);

    // Initialize FilePond
    const inputElement = document.getElementById('test-files');
    const pond = FilePond.create(inputElement, {
        allowMultiple: true,
        maxFiles: 5,
        labelMaxFileCountExceeded: "You can only upload up to 5 files.",
        imagePreviewHeight: 100,  // Set preview image height
        imagePreviewMaxHeight: 200,  // Maximum height for preview images
        imagePreviewMinHeight: 50,  // Minimum height for preview images
        imageCropAspectRatio: '1:1',  // Crop aspect ratio for preview images
        imageResizeTargetWidth: 100,  // Resize preview images
        imageResizeTargetHeight: 100,  // Resize preview images
    });

    // Add initial files (static images from server) to FilePond with previews
    let initialFiles = [
        '{% static "images/photos/events1.jpg" %}',  // Static file path for image
    ];

    // Directly add the static image paths to FilePond (no need to convert to blob)
    initialFiles.forEach(filePath => {
        pond.addFile(filePath);  // Add the static image file directly to FilePond
    });

    // Handle form submission
    // Handle form submission
const form = document.getElementById('file-upload-form');
form.addEventListener('submit', async function (e) {
    e.preventDefault(); // Prevent default form submission

    // Create a FormData object
    const formData = new FormData(form);

    // Process files in FilePond
    for (const fileItem of pond.getFiles()) {
        const file = fileItem.file;

        // Convert blob or any file to JPEG format
        if (file.type !== 'image/jpeg' || file.type !== 'image/jpg') {
            try {
                const jpgFile = await convertToJpg(file);
                formData.append('all-files', jpgFile);
            } catch (error) {
                console.error('Failed to convert to JPEG:', error);
            }
        } else {
            // If already a JPEG, append as is
            formData.append('all-files', file);
        }
    }

    // Create an AJAX request using Fetch API
    fetch('{% url "dashboard:try_upload" %}', {
        method: 'POST',
        body: formData,
    })
        .then((response) => response.json())
        .then((data) => {
            console.log('Files uploaded successfully!', data);
            window.location.href = '{% url "dashboard:room" %}'; // Redirect on success
        })
        .catch((error) => {
            console.error('Upload failed:', error);
        });
});
</script>

  <script src="{% static 'lib/jquery/jquery-3.7.1.js' %}"></script>
  <script src="{% static 'lib/datatables/dataTables.js' %}"></script>

  <script>
    $(document).ready(function () {
      $('#myTable1').DataTable()
    })

    const fetchRoomsUrl = "{% url 'dashboard:fetch_all_rooms' %}"
    const roomSelection = document.querySelector('.room-selection')
    const typeSelection = document.querySelector('.type-selection')
    const roomTable = document.querySelector('.roomTable')
    const roomTab = document.querySelector('.room-tab')

    {% if switchToRoom %}
    
      console.log("hello")
      console.log(roomSelection)
      console.log(typeSelection)
      typeSelection.style.color = '#b58a60'
      roomSelection.style.color = '#6E6E6E'
      typeSelection.style.borderBottom = '1.5px solid #b58a60'
      roomSelection.style.borderBottom = '1px solid #d4d4d4'
      fetch(`${fetchRoomsUrl}?switchToRoom=true`, {
        headers: { 'X-Requested-With': 'XMLHttpRequest' }
      })
        .then((response) => {
          if (!response.ok) throw new Error(`Server error: ${response.status}`)
          return response.json()
        })
        .then((data) => {
          document.getElementById('roomTableContainer').innerHTML = data.html
  
          $('#myTable2').DataTable({
            initComplete: function () {
              
              const roomTable = document.querySelector('.roomTable')
                const roomTab = document.querySelector('.room-tab')
                const dotsActions = document.querySelectorAll('.dots-action2')
                const closeBtnDelete2 = document.querySelector('#close-update-exist-room-btn2')
                const deleteModes2 = document.querySelectorAll('.delete-mode2')
                const deleteForm2 = document  .querySelector('.delete_option_roomtype')
                // new

                const updateNewTypeForm = document.querySelector('.update_rtype_option')
                const closeUpdateNewType = document.getElementById('close-update-exist-rtype-btn')
                closeUpdateNewType.addEventListener('click', function () {
                  updateNewTypeForm.style.display = "none"
                })
                const updateNewTypeBtns = document.querySelectorAll('.edit-new-type-mode')

                updateNewTypeBtns.forEach((edit) => {
                  edit.addEventListener('click', function(event) {
                    
                    let rtype_amenities = edit.getAttribute('data-roomtype-amenities')
                    rtype_amenities = JSON.parse(rtype_amenities)
                    const roomtype_id = edit.getAttribute('data-roomtype-id')
                    const roomtype = document.getElementById('update-type-rtype')
                    const price = document.getElementById('update-type-price')
                    const description = document.getElementById('update-type-description')
                    const capacity = document.getElementById('update-type-capacity')
                    const roomtypeId = document.getElementById('update-type-id')
                    const cottageReq = document.getElementById('update-type-cottage-req')
                    const dataCottageReq = edit.getAttribute('data-roomtype-cottage-req')

                    let checkboxes = document.querySelectorAll(`input[name="amenities"]`);
                    checkboxes.forEach(checkbox => {
                        checkbox.checked = false; // Uncheck each checkbox
                    });

                    for (let amenity of rtype_amenities) {
                      let checkbox = document.querySelector(`input[name="amenities"][value="${amenity}"]`);
                      if (checkbox) {
                          checkbox.checked = true; 
                        }
                    }
                    roomtypeId.value = roomtype_id
                    console.log(roomtypeId)
                    if (dataCottageReq == "True") {
                      cottageReq.checked = true
                    } else {
                      cottageReq.checked = false
                    }

                    description.value = edit.getAttribute('data-roomtype-description')
                    price.value = edit.getAttribute('data-roomtype-price')
                    roomtype.value = edit.getAttribute('data-room-type')
                    capacity.value = edit.getAttribute('data-roomtype-capacity')
                    updateNewTypeForm.style.display = "block"
                  })
                })

                



                // end
                const deleteCancelBtn2 = document.querySelector('.cancel-roomtype')
                deleteCancelBtn2.addEventListener('click', function () {
                  deleteForm2.style.display = 'none'
                })
    
                closeBtnDelete2.addEventListener('click', function () {
                  console.log('jdfl')
                  deleteForm2.style.display = 'none'
                })
    
                deleteModes2.forEach((deleteMode) => {
                  deleteMode.addEventListener('click', function (event) {
                    deleteForm2.style.display = 'block'
                    const roomId2 = deleteMode.getAttribute('data-room-id')
                    console.log('Room ID:', roomId2)
                    const deleteID2 = document.querySelector("#deleteID2")
                    deleteID2.value = roomId2
                    console.log(deleteID2)
                  })
                })
    
                dotsActions.forEach((dotsAction) => {
                  dotsAction.addEventListener('click', function (event) {
                    const actionContainer = dotsAction.nextElementSibling
    
                    if (actionContainer.style.display === 'block') {
                      actionContainer.style.display = 'none'
                    } else {
                      document.querySelectorAll('.action-container2').forEach((container) => {
                        container.style.display = 'none'
                      })
                      actionContainer.style.display = 'block'
                    }
    
                    event.stopPropagation()
                  })
                })

                
    
                document.addEventListener('click', function () {
                  document.querySelectorAll('.action-container2').forEach((container) => {
                    container.style.display = 'none'
                  })
                })
            }
          })
        })
        .catch((error) => console.error('Error fetching data:', error))
    {% else %}
      console.log("hi")
    {% endif %}
    const addRoomBtn = document.querySelector('.dashboard-add-room')
    const addExistingBtn = document.querySelector('.add-existing-btn')
    const options = document.querySelector('.option_room_form')
    const closeOption = document.getElementById('close-room-option')
    const addExistingForm = document.querySelector('.addroom-form')
    const addRoomForm = document.querySelector('#addroom-form')
    const addNewTypeBtn = document.querySelector('.add-new-type-btn')
    const addNewTypeForm = document.querySelector('.add-new-room-type')
    const btnCloseNewRoom = document.getElementById('close-new-room-btn')
    const btnExistRoomClose = document.getElementById('close-existing-room-btn')
    const bodyHtml = document.querySelector('body')
    
    bodyHtml.append(addNewTypeForm)
    bodyHtml.append(addExistingForm)
    addRoomBtn.addEventListener('click', function () {
      options.style.display = 'block'
    })
    
    closeOption.addEventListener('click', function () {
      console.log('ldskfj')
      options.style.display = 'none'
    })
    
    addExistingBtn.addEventListener('click', function () {
      addExistingForm.style.display = 'block'
    })
    
    addNewTypeBtn.addEventListener('click', function () {
      addNewTypeForm.style.display = 'block'
    })
    
    btnCloseNewRoom.addEventListener('click', function () {
      addNewTypeForm.style.display = 'none'
    })
    
    btnExistRoomClose.addEventListener('click', function () {
      addExistingForm.style.display = 'none'
    })
    
    
    console.log(roomSelection, typeSelection)
    
    typeSelection.addEventListener('click', function () {
      typeSelection.style.color = '#b58a60'
      roomSelection.style.color = '#6E6E6E'
      typeSelection.style.borderBottom = '1.5px solid #b58a60'
      roomSelection.style.borderBottom = '1px solid #d4d4d4'
    })
    
    roomSelection.addEventListener('click', function () {
      roomSelection.style.color = '#b58a60'
      typeSelection.style.color = '#6E6E6E'
      typeSelection.style.borderBottom = '1px solid #d4d4d4'
      roomSelection.style.borderBottom = '1.5px solid #b58a60'
    })
    
    
    
    $(document).ready(function () {
      const fetchRoomsUrl = "{% url 'dashboard:fetch_all_rooms' %}"
      
      const roomSelection = document.querySelector('.room-selection')
      const typeSelection = document.querySelector('.type-selection')
      
      roomSelection.addEventListener('click', function () {
        fetch(`${fetchRoomsUrl}?switchToRoom=false`, {
          headers: { 'X-Requested-With': 'XMLHttpRequest' }
        })
          .then((response) => {
            if (!response.ok) throw new Error(`Server error: ${response.status}`)
            return response.json()
          })
          .then((data) => {
            document.getElementById('roomTableContainer').innerHTML = data.html
    
            $('#myTable1').DataTable({
              initComplete: function () {
                
                
                const roomTable = document.querySelector('.roomTable')
                const roomTab = document.querySelector('.room-tab')
                const closeBtnDelete = document.querySelector('#close-update-exist-room-btn')
    
                const dotsActions = document.querySelectorAll('.dots-action')
                const deleteForm = document.querySelector('.delete_option')
                const deleteModes = document.querySelectorAll('.delete-mode')
                const deleteConfirm = document.querySelector('.red-delete-button')
                const deleteID = document.querySelector('#deleteID')
    
                deleteConfirm.addEventListener('click', function () {})
    
                //new

                const editModes = document.querySelectorAll('.edit-mode')
                const updateRoomForm = document.querySelector('.updateroom-form')
                const closeUpdateBtn = document.getElementById('update-close-btn')
                
                closeUpdateBtn.addEventListener('click', function() {
                  updateRoomForm.style.display = "none"
                })

                editModes.forEach((editMode) => {
                  editMode.addEventListener('click', function (event) {
                    const roomId = editMode.getAttribute('data-room-id');
                    const roomNumber = editMode.getAttribute('data-room-number');
                    const roomType = editMode.getAttribute('data-room-type')
                    const updateRoomNumberInput = document.getElementById('updateroom-number')
                    const updateRoomIdInput = document.getElementById('updateroom-id')
                    const roomTypeSelect = document.getElementById('updateroom-type-select');
                    console.log(roomTypeSelect)
                    const options = [
                    {% for roomtype in roomtypes %}
                      {value: '{{roomtype.id}}', text: '{{roomtype.room_type}}'},
                    {% endfor %}
                    ]

                    options.forEach(optionData => {
                      const option = document.createElement('option');
                      option.value = optionData.value;
                      option.text = optionData.text;
                      if (optionData.text == roomType) {
                        option.selected = true
                      }
                      roomTypeSelect.add(option);
                    })


                    updateRoomIdInput.value = roomId
                    updateRoomNumberInput.value = roomNumber
                    updateRoomForm.style.display = "block"
                    console.log(updateRoomIdInput)
                  })
                })
                //end
                const deleteCancelBtn = document.querySelector('.gray-cancel-button')
                deleteCancelBtn.addEventListener('click', function () {
                  deleteForm.style.display = 'none'
                })
    
                //newend
                closeBtnDelete.addEventListener('click', function () {
                  deleteForm.style.display = 'none'
                })
    
                deleteModes.forEach((deleteMode) => {
                  deleteMode.addEventListener('click', function (event) {
                    deleteForm.style.display = 'block'
                    const roomId = deleteMode.getAttribute('data-room-id')
                    console.log('Room IsD:', roomId)
                    deleteID.value = roomId
                    console.log(deleteID)
                  })
                })
    
                dotsActions.forEach((dotsAction) => {
                  dotsAction.addEventListener('click', function (event) {
                    const actionContainer = dotsAction.nextElementSibling
    
                    if (actionContainer.style.display === 'block') {
                      actionContainer.style.display = 'none'
                    } else {
                      document.querySelectorAll('.action-container').forEach((container) => {
                        container.style.display = 'none'
                      })
                      actionContainer.style.display = 'block'
                    }
    
                    event.stopPropagation()
                  })
                })
    
                document.addEventListener('click', function () {
                  document.querySelectorAll('.action-container').forEach((container) => {
                    container.style.display = 'none'
                  })
                })
              }
            })
          })
          .catch((error) => console.error('Error fetching data:', error))
      })
    
      typeSelection.addEventListener('click', function () {
        fetch(`${fetchRoomsUrl}?switchToRoom=true`, {
          headers: { 'X-Requested-With': 'XMLHttpRequest' }
        })
          .then((response) => {
            if (!response.ok) throw new Error(`Server error: ${response.status}`)
            return response.json()
          })
          .then((data) => {
            document.getElementById('roomTableContainer').innerHTML = data.html
    
            $('#myTable2').DataTable({
              initComplete: function () {
                const roomTable = document.querySelector('.roomTable')
                const roomTab = document.querySelector('.room-tab')
                const dotsActions = document.querySelectorAll('.dots-action2')
                const closeBtnDelete2 = document.querySelector('#close-update-exist-room-btn2')
                const deleteModes2 = document.querySelectorAll('.delete-mode2')
                const deleteForm2 = document  .querySelector('.delete_option_roomtype')
                // new

                const updateNewTypeForm = document.querySelector('.update_rtype_option')
                const closeUpdateNewType = document.getElementById('close-update-exist-rtype-btn')
                closeUpdateNewType.addEventListener('click', function () {
                  updateNewTypeForm.style.display = "none"
                })
                const updateNewTypeBtns = document.querySelectorAll('.edit-new-type-mode')

                updateNewTypeBtns.forEach((edit) => {
                  edit.addEventListener('click', function(event) {
                    let rtype_amenities = edit.getAttribute('data-roomtype-amenities')
                    rtype_amenities = JSON.parse(rtype_amenities)
                    const roomtype_id = edit.getAttribute('data-roomtype-id')
                    const roomtype = document.getElementById('update-type-rtype')
                    const price = document.getElementById('update-type-price')
                    const description = document.getElementById('update-type-description')
                    const capacity = document.getElementById('update-type-capacity')
                    const roomtypeId = document.getElementById('update-type-id')
                    const cottageReq = document.getElementById('update-type-cottage-req')
                    const dataCottageReq = edit.getAttribute('data-roomtype-cottage-req')

                    let checkboxes = document.querySelectorAll(`input[name="amenities"]`);
                    checkboxes.forEach(checkbox => {
                        checkbox.checked = false; // Uncheck each checkbox
                    });

                    for (let amenity of rtype_amenities) {
                      let checkbox = document.querySelector(`input[name="amenities"][value="${amenity}"]`);
                      if (checkbox) {
                          checkbox.checked = true; 
                        }
                    }
                  

                    roomtypeId.value = roomtype_id
                    console.log(roomtypeId)
                    if (dataCottageReq == "True") {
                      cottageReq.checked = true
                    } else {
                      cottageReq.checked = false
                    }

                    description.value = edit.getAttribute('data-roomtype-description')
                    price.value = edit.getAttribute('data-roomtype-price')
                    roomtype.value = edit.getAttribute('data-room-type')
                    capacity.value = edit.getAttribute('data-roomtype-capacity')
                    updateNewTypeForm.style.display = "block"
                  })
                })



                // end
                const deleteCancelBtn2 = document.querySelector('.cancel-roomtype')
                deleteCancelBtn2.addEventListener('click', function () {
                  deleteForm2.style.display = 'none'
                })
    
                closeBtnDelete2.addEventListener('click', function () {
                  console.log('jdfl')
                  deleteForm2.style.display = 'none'
                })
    
                deleteModes2.forEach((deleteMode) => {
                  deleteMode.addEventListener('click', function (event) {
                    deleteForm2.style.display = 'block'
                    const roomId2 = deleteMode.getAttribute('data-room-id')
                    console.log('s:', roomId2)
                    const deleteID2 = document.querySelector("#deleteID2")
                    deleteID2.value = roomId2
                    console.log(deleteID2)
                  })
                })

                console.log('sin');

                const editPicsForm = document.querySelector('.edit-pictures-container');
                const openEditBtns = document.querySelectorAll('.open-edit-pic');
                const closeEditForm = document.getElementById('edit-close-btn');
            
                // Close button functionality
                closeEditForm.addEventListener('click', function () {
                    editPicsForm.style.display = 'none';
                });
            
                // Loop through each "open-edit-pic" button
                openEditBtns.forEach((openEdit) => {
                    openEdit.addEventListener('click', function (event) {
                        const rtype_id = openEdit.getAttribute('data-rtype-id'); // Get room type ID
                        const rtypeInput = document.querySelector('#roomtype_id_pic')
                        rtypeInput.value = rtype_id
                        console.log('id ' + rtype_id);
            
                        // Fetch data for editing pictures
                        fetch("{% url 'dashboard:get_pictures' %}?id=" + encodeURIComponent(rtype_id))
                            .then(response => response.json())
                            .then(data => {
                                // Log the fetched image URLs
                                console.log(data.image_urls);
            
                                // Update the initialFiles array with the fetched URLs
                                const initialFiles = data.image_urls.map(url => ({
                                    source: url,
                                    options: {
                                        type: 'local',
                                    },
                                }));
            
                                // Clear existing files from FilePond
                                pond.removeFiles(); // Remove all current files
            
                                // Add the new files to FilePond
                                initialFiles.forEach(file => pond.addFile(file.source));
            
                                console.log('Updated FilePond with fetched images.');
                            })
                            .catch(error => console.error("Error fetching image data:", error));
            
                        // Show the edit pictures form
                        editPicsForm.style.display = 'block';
            
                        console.log('Edit pictures form opened');
                        event.stopPropagation(); // Stop propagation to prevent other listeners
                    });
                });

                
                
    
                dotsActions.forEach((dotsAction) => {
                  dotsAction.addEventListener('click', function (event) {
                    const actionContainer = dotsAction.nextElementSibling
    
                    if (actionContainer.style.display === 'block') {
                      actionContainer.style.display = 'none'
                    } else {
                      document.querySelectorAll('.action-container2').forEach((container) => {
                        container.style.display = 'none'
                      })
                      actionContainer.style.display = 'block'
                    }
    
                    event.stopPropagation()
                  })
                })
    
                document.addEventListener('click', function () {
                  document.querySelectorAll('.action-container2').forEach((container) => {
                    container.style.display = 'none'
                  })
                })
              }
            })
          })
          .catch((error) => console.error('Error fetching data:', error))
      })
    })
  </script>
{% endblock %}