<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} LAC {% endblock %}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
    <link rel="icon" href="{% static 'images/icons/laclogo.ico' %}" />
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <header>
      <div class="header-title">
        <img
          src="{% static 'images/icons/hamburger.png' %}"
          alt="menu"
          class="header-menu"
          width="100"
        />
        
        <h1 class="header-text">
          {% block pagetitle %}
          Dashboard
          {% endblock  %}
        </h1>
        
        
      </div>
      <div>
        <div class="search-input-container">
          <input
            type="text"
            class="search-input"
            placeholder="Search..."
            id="search-input"
            name="search-input"
          />
          <img
            src="{% static 'images/icons/search.png' %}"
            alt="search"
            class="search-icon"
            width="100"
          />
        </div>
      </div>
      <div class="header-icon-container">
        <img
          src="{% static 'images/icons/email.png' %}"
          alt="email"
          class="header-icons"
          width="100"
        />
        <img
          src="{% static 'images/icons/bell.png' %}"
          alt="notif"
          class="header-icons"
          width="100"
        />
        <img
          src="{% static 'images/icons/comment.png' %}"
          alt="message"
          class="header-icons"
          width="100"
        />
        <img
          src="{% static 'images/icons/account.png' %}"
          alt="profile"
          class="header-icons"
          width="100"
        />
      </div>
    </header>

    <div class="side-nav">
      <div class="side-title">
        <img
          src="{% static 'images/icons/logo1lac.png' %}"
          alt="lac"
          class="side-logo"
          width="100"
        />
        <div class="side-text">
          <h2>L.A.C</h2>
          <p>Hotel Admin Dashboard</p>
        </div>
      </div>
      <div class="side-menu">
        <a
          href="{% url 'dashboard:dashboard' %}"
          class="side-link {% if request.resolver_match.view_name == 'dashboard:dashboard' %}current-link{% endif %}"
          id="link-dashboard"
        >
          <img
            src="{% if request.resolver_match.view_name == 'dashboard:dashboard' %}
            {% static 'images/icons/dashboard-active.png' %}
          {% else %}
            {% static 'images/icons/dashboard.png' %}
          {% endif %}"
            alt="dashboard"
            class="side-icon"
            id="img-dashboard"
            width="100"
          />
          <p
            class="side-link-text {% if request.resolver_match.view_name == 'dashboard:dashboard' %}active-link{% endif %}"
          >
            Dashboard
          </p>
        </a>
        <a
          href="{% url 'dashboard:room' %}"
          class="side-link {% if request.resolver_match.view_name == 'dashboard:room' %}current-link{% endif %}"
          id="link-room"
        >
          <img
            src="{% if request.resolver_match.view_name == 'dashboard:room' %}
            {% static 'images/icons/bed-active.png' %}
          {% else %}
            {% static 'images/icons/bed.png' %}
          {% endif %}"
            alt="room"
            class="side-icon"
            id="img-room"
            width="100"
          />
          <p
            class="side-link-text {% if request.resolver_match.view_name == 'dashboard:room' %}active-link{% endif %}"
          >
            Rooms
          </p>
        </a>
        <a
          href="{% url 'dashboard:booking' %}"
          class="side-link {% if request.resolver_match.view_name == 'dashboard:booking' %}current-link{% endif %}"
          id="link-booking"
        >
          <img
            src="{% if request.resolver_match.view_name == 'dashboard:booking' %}
            {% static 'images/icons/appointment-active.png' %}
          {% else %}
            {% static 'images/icons/appointment.png' %}
          {% endif %}"
            alt="booking"
            class="side-icon"
            id="img-booking"
            width="100"
          />
          <p
            class="side-link-text {% if request.resolver_match.view_name == 'dashboard:booking' %}active-link{% endif %}"
          >
            Booking
          </p>
        </a>
        <a
          href="{% url 'dashboard:guest' %}"
          class="side-link {% if request.resolver_match.view_name == 'dashboard:guest' %}current-link{% endif %}"
          id="link-guest"
        >
          <img
            src="{% if request.resolver_match.view_name == 'dashboard:guest' %}
            {% static 'images/icons/guest-active.png' %}
          {% else %}
            {% static 'images/icons/guest.png' %}
          {% endif %}"
            alt="guest"
            class="side-icon"
            id="img-guest"
            width="100"
          />
          <p
            class="side-link-text {% if request.resolver_match.view_name == 'dashboard:guest' %}active-link{% endif %}"
          >
            Guest
          </p>
        </a>
      </div>
    </div>

    <main>{% block content %}{% endblock %}</main>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Code to execute when the DOM is fully loaded and parsed
      });

      window.addEventListener("load", function () {
        const sideNav = document.querySelector(".side-nav");
        const main = document.querySelector("main");
        const header = document.querySelector("header");

        // Disable transitions
        if (sideNav) {
          sideNav.style.transition = "none";
        }
        if (main) {
          main.style.transition = "none";
        }
        if (header) {
          header.style.transition = "none";
        }

        document.body.offsetHeight;

        setTimeout(function () {
          if (sideNav) {
            sideNav.style.transition = "width 0.3s ease";
          }
          if (main) {
            main.style.transition = "margin-left 0.3s ease, width 0.3s ease";
          }
          if (header) {
            header.style.transition = "margin-left 0.3s ease, width 0.3s ease";
          }
        }, 100);
      });

      function addHoverEffect(linkElement, imgElement, defaultSrc, activeSrc) {
        if (!linkElement.classList.contains("current-link")) {
          linkElement.addEventListener("mouseover", function () {
            imgElement.src = activeSrc;
          });

          linkElement.addEventListener("mouseout", function () {
            imgElement.src = defaultSrc;
          });
        }
      }

      document.addEventListener("DOMContentLoaded", function () {
        var linkDashboard = document.getElementById("link-dashboard");
        var imgDashboard = document.getElementById("img-dashboard");

        var linkRoom = document.getElementById("link-room");
        var imgRoom = document.getElementById("img-room");

        var linkBooking = document.getElementById("link-booking");
        var imgBooking = document.getElementById("img-booking");

        var linkGuest = document.getElementById("link-guest");
        var imgGuest = document.getElementById("img-guest");

        addHoverEffect(
          linkDashboard,
          imgDashboard,
          "{% static 'images/icons/dashboard.png' %}",
          "{% static 'images/icons/dashboard-active.png' %}"
        );

        addHoverEffect(
          linkRoom,
          imgRoom,
          "{% static 'images/icons/bed.png' %}",
          "{% static 'images/icons/bed-active.png' %}"
        );

        addHoverEffect(
          linkBooking,
          imgBooking,
          "{% static 'images/icons/appointment.png' %}",
          "{% static 'images/icons/appointment-active.png' %}"
        );

        addHoverEffect(
          linkGuest,
          imgGuest,
          "{% static 'images/icons/guest.png' %}",
          "{% static 'images/icons/guest-active.png' %}"
        );
      });

      const isSideNavOpen = localStorage.getItem("sideNavState") === "open";

      function smallerPhone() {
        console.log("using smaller phone");
        const sideText = document.querySelector(".side-text");
        const mainPage = document.querySelector("main");
        const sideNav = document.querySelector(".side-nav");
        const header = document.querySelector("header");
        const headerTitle = document.querySelector(".header-title");
        const headerMenu = document.querySelector(".header-menu");
        const headerText = document.querySelector(".header-text");
        const sideMenu = document.querySelector(".side-menu");

        sideText.style.display = "none";
        mainPage.style.marginLeft = "0";
        mainPage.style.marginTop = "60px";
        sideNav.style.width = "60px";
        sideNav.style.height = "56px";
        header.style.marginLeft = "60px";
        header.style.width = "calc(100vw - 60px)";
        sideText.style.display = "none";
        headerMenu.style.display = "block";
        headerTitle.style.display = "block";
        headerText.style.display = "none";
        sideMenu.style.display = "none";
      }

      function handleResize() {
        window.addEventListener("resize", function () {
          const sideText = document.querySelector(".side-text");

          if (window.innerWidth < 767) {
            console.log("line 300");
            smallerPhone();
          } else if (window.innerWidth < 1024) {
            sideText.style.display = "flex";
            openSideNav();
          } else {
            closeSideNav();
          }
        });
      }
      handleResize();

      if (isSideNavOpen) {
        if (window.innerWidth < 767) {
          console.log("line 314");
          smallerPhone()
        } else {
          openSideNav();
        }
      } else {
        if (window.innerWidth < 767) {
          console.log("line 321");
          smallerPhone()
        } else {
          closeSideNav();
        }
      }

      document.querySelector(".header-menu").addEventListener("click", function () {
        const sideNav = document.querySelector(".side-nav");
        const main = document.querySelector("main");
        
        if (window.innerWidth <= 767) {
          if (main.style.marginLeft === "60px") {
            console.log("line 334");
            smallerPhone();
            localStorage.setItem("sideNavState", "closed");
          } else {
            openNavPhone();
            localStorage.setItem("sideNavState", "open");
          }
          return; // Exit the function after handling the mobile logic
        }
        
        // Code for screen sizes greater than 767px
        if (sideNav.style.width === "100px") {
          console.log("line 346");
          closeSideNav();
          localStorage.setItem("sideNavState", "closed");
        } else {
          openSideNav();
          localStorage.setItem("sideNavState", "open");
        }
      });
      
      function openNavPhone() {
        console.log("using openNavPhone");
        document
          .querySelectorAll(".side-link-text")
          .forEach(function (elem) {
            elem.style.display = "none";
          });
        const sideMenu = document.querySelector(".side-menu");
        const sideNav = document.querySelector(".side-nav");
        const sideTitle = document.querySelector(".side-title");
        const headerMenu = document.querySelector(".header-menu");
        const main = document.querySelector("main");
        main.style.marginLeft = "60px";
        main.style.padding = "20px";
        sideMenu.style.display = "flex";
        sideMenu.style.padding = "20px 0";
        sideMenu.style.alignItems = "center";
        sideNav.style.height = "100vh";
        sideNav.style.justifyContent = "start";
        sideTitle.style.height = "56px";
      }

      function closeNavPhone() {
        console.log("closing side nav with phone");
        
      }
      

      function openSideNav() {
        console.log("using open sidenav");
        const sideMenu = document.querySelector(".side-menu");
        document.querySelector(".side-nav").style.width = "100px";
        sideMenu.style.padding = "50px 0";
        sideMenu.style.display = "flex";
        document
          .querySelectorAll(".side-text, .side-link-text")
          .forEach(function (elem) {
            elem.style.display = "none";
          });
        document
          .querySelectorAll(".side-link, .side-title")
          .forEach(function (elem) {
            elem.style.justifyContent = "center";
          });
        document.querySelector("main").style.marginLeft = "100px";
        const header = document.querySelector("header");
        header.style.marginLeft = "100px";
        header.style.width = "calc(100% - 100px)";
        document.querySelector(".header-menu").src =
          "{% static 'images/icons/next.png' %}";
      }

      function closeSideNav() {
        console.log("using close sidenav");
        document.querySelector(".side-nav").style.width = "250px";
        document.querySelector(".side-menu").style.display = "flex";
        document.querySelector(".side-menu").style.padding = "50px 20px";
        document.querySelector(".side-menu").style.alignItems = "start";
        document
          .querySelectorAll(".side-text, .side-link-text")
          .forEach(function (elem) {
            elem.style.display = "flex";
          });
        document.querySelectorAll(".side-link").forEach(function (elem) {
          elem.style.justifyContent = "start";
        });
        document.querySelector(".side-text").style.flexDirection = "column";

        document.querySelector("main").style.marginLeft = "250px";
        const header = document.querySelector("header");
        header.style.marginLeft = "250px";
        header.style.width = "calc(100% - 250px)";
        document.querySelector(".header-menu").src =
          "{% static 'images/icons/hamburger.png' %}";
      }
    </script>
  </body>
  {% block extra_script %}{% endblock %}
</html>
